{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/address-we-send-letters-to-international-error.html" %}

{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#address-line-1">Enter address line 1</a>
      </li>
      <li>
        <a href="#address-line-2">Enter address line 2</a>
      </li>
      <li>
        <a href="#address-line-4">Enter a town or city</a>
      </li>
      <li>
        <a href="#country">Select a country or territory</a>
      </li>
    </ul>
  </div>
  </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Enter the new international address we can send letters to
    </h1>
  </legend>

  <div class="govuk-!-padding-bottom-4"></div>

  
    <div class="govuk-form-group govuk-form-group--error">

        <label class="govuk-label" for="address-line-1">
          Address line 1
        </label>
        <p id="address-line-1-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter address line 1
        </p>
        <input class="govuk-input govuk-input--error" id="address-line-1" name="address-line-1" type="text" aria-describedby="address-line-1-error" autocomplete="address-line-1">
      
        <label class="govuk-label" for="address-line-2">
            <br> Address line 2
          </label>
          <p id="address-line-2-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter address line 2
          </p>
          <input class="govuk-input govuk-input--error" id="address-line-2" name="address-line-2" type="text" aria-describedby="address-line-2-error" autocomplete="address-line-2">
        
          <label class="govuk-label" for="address-line-3">
            <br> Address line 3 (optional)
          </label>
          <br>

          <input class="govuk-input" id="address-line-3" name="address-line-3" type="text" autocomplete="address-line-3">

          <label class="govuk-label" for="address-line-4">
              <br> Town or city
            </label>
            <p id="address-line-4-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a town or city
            </p>
            <input class="govuk-input govuk-input--error" id="address-line-4" name="address-line-4" type="text" aria-describedby="address-line-4-error" autocomplete="address-line-4">
          
                <div class="govuk-!-padding-bottom-6"></div>


            {{ xGovukAutocomplete({
              id: "country",
              name: "country",
              allowEmpty: false,
              label: {
                text: "Country or territory",
                isPageHeading: true,
                text: "Country or territory"
              },
              errorMessage: {
                text: "Select a country or territory"
              },
              items: [
                { text: "Afghanistan" },
                { text: "Åland Islands" },
                { text: "Albania" },
                { text: "Algeria" },
                { text: "American Samoa" },
                { text: "Andorra" },
                { text: "Angola" },
                { text: "Anguilla" },
                { text: "Antarctica" },
                { text: "Antigua and Barbuda" },
                { text: "Argentina" },
                { text: "Armenia" },
                { text: "Aruba" },
                { text: "Australia" },
                { text: "Austria" },
                { text: "Azerbaijan" },
                { text: "Bahamas" },
                { text: "Bahrain" },
                { text: "Bangladesh" },
                { text: "Barbados" },
                { text: "Belarus" },
                { text: "Belgium" },
                { text: "Belize" },
                { text: "Benin" },
                { text: "Bermuda" },
                { text: "Bhutan" },
                { text: "Bolivia" },
                { text: "Bonaire, Sint Eustatius and Saba" },
                { text: "Bosnia and Herzegovina" },
                { text: "Botswana" },
                { text: "Bouvet Island" },
                { text: "Brazil" },
                { text: "British Indian Ocean Territory" },
                { text: "Brunei Darussalam" },
                { text: "Bulgaria" },
                { text: "Burkina Faso" },
                { text: "Burundi" },
                { text: "Cabo Verde" },
                { text: "Cambodia" },
                { text: "Cameroon" },
                { text: "Canada" },
                { text: "Cayman Islands" },
                { text: "Central African Republic" },
                { text: "Chad" },
                { text: "Chile" },
                { text: "China" },
                { text: "Christmas Island" },
                { text: "Cocos (Keeling) Islands" },
                { text: "Colombia" },
                { text: "Comoros" },
                { text: "Congo" },
                { text: "Cook Islands" },
                { text: "Costa Rica" },
                { text: "Côte d'Ivoire" },
                { text: "Croatia" },
                { text: "Cuba" },
                { text: "Curaçao" },
                { text: "Cyprus" },
                { text: "Czechia" },
                { text: "Democratic Republic of the Congo" },
                { text: "Denmark" },
                { text: "Djibouti" },
                { text: "Dominica" },
                { text: "Dominican Republic" },
                { text: "Ecuador" },
                { text: "Egypt" },
                { text: "El Salvador" },
                { text: "England" },
                { text: "Equatorial Guinea" },
                { text: "Eritrea" },
                { text: "Estonia" },
                { text: "Eswatini" },
                { text: "Ethiopia" },
                { text: "Falkland Islands" },
                { text: "Faroe Islands" },
                { text: "Fiji" },
                { text: "Finland" },
                { text: "France" },
                { text: "French Guiana" },
                { text: "French Polynesia" },
                { text: "French Southern Territories" },
                { text: "Gabon" },
                { text: "Gambia" },
                { text: "Georgia" },
                { text: "Germany" },
                { text: "Ghana" },
                { text: "Gibraltar" },
                { text: "Greece" },
                { text: "Greenland" },
                { text: "Grenada" },
                { text: "Guadeloupe" },
                { text: "Guam" },
                { text: "Guatemala" },
                { text: "Guernsey" },
                { text: "Guinea" },
                { text: "Guinea-Bissau" },
                { text: "Guyana" },
                { text: "Haiti" },
                { text: "Heard Island and McDonald Islands" },
                { text: "Honduras" },
                { text: "Hong Kong" },
                { text: "Hungary" },
                { text: "Iceland" },
                { text: "India" },
                { text: "Indonesia" },
                { text: "Iran" },
                { text: "Iraq" },
                { text: "Ireland" },
                { text: "Isle of Man" },
                { text: "Israel" },
                { text: "Italy" },
                { text: "Jamaica" },
                { text: "Japan" },
                { text: "Jersey" },
                { text: "Jordan" },
                { text: "Kazakhstan" },
                { text: "Kenya" },
                { text: "Kiribati" },
                { text: "Kosovo" },
                { text: "Kuwait" },
                { text: "Kyrgyzstan" },
                { text: "Laos" },
                { text: "Latvia" },
                { text: "Lebanon" },
                { text: "Lesotho" },
                { text: "Liberia" },
                { text: "Libya" },
                { text: "Liechtenstein" },
                { text: "Lithuania" },
                { text: "Luxembourg" },
                { text: "Macao" },
                { text: "Madagascar" },
                { text: "Malawi" },
                { text: "Malaysia" },
                { text: "Maldives" },
                { text: "Mali" },
                { text: "Malta" },
                { text: "Marshall Islands" },
                { text: "Martinique" },
                { text: "Mauritania" },
                { text: "Mauritius" },
                { text: "Mayotte" },
                { text: "Mexico" },
                { text: "Micronesia" },
                { text: "Moldova" },
                { text: "Monaco" },
                { text: "Mongolia" },
                { text: "Montenegro" },
                { text: "Montserrat" },
                { text: "Morocco" },
                { text: "Mozambique" },
                { text: "Myanmar" },
                { text: "Namibia" },
                { text: "Nauru" },
                { text: "Nepal" },
                { text: "Netherlands" },
                { text: "New Caledonia" },
                { text: "New Zealand" },
                { text: "Nicaragua" },
                { text: "Niger" },
                { text: "Nigeria" },
                { text: "Niue" },
                { text: "Norfolk Island" },
                { text: "North Macedonia" },
                { text: "Northern Ireland" },
                { text: "Northern Mariana Islands" },
                { text: "Norway" },
                { text: "Oman" },
                { text: "Pakistan" },
                { text: "Palau" },
                { text: "Palestine" },
                { text: "Panama" },
                { text: "Papua New Guinea" },
                { text: "Paraguay" },
                { text: "Peru" },
                { text: "Philippines" },
                { text: "Pitcairn" },
                { text: "Poland" },
                { text: "Portugal" },
                { text: "Puerto Rico" },
                { text: "Qatar" },
                { text: "Republic of Korea" },
                { text: "Réunion" },
                { text: "Romania" },
                { text: "Russian Federation" },
                { text: "Rwanda" },
                { text: "Saint Barthélemy" },
                { text: "Saint Helena, Ascension and Tristan da Cunha" },
                { text: "Saint Kitts and Nevis" },
                { text: "Saint Lucia" },
                { text: "Saint Martin (French part)" },
                { text: "Saint Pierre and Miquelon" },
                { text: "Saint Vincent and the Grenadines" },
                { text: "Samoa" },
                { text: "San Marino" },
                { text: "Sao Tome and Principe" },
                { text: "Saudi Arabia" },
                { text: "Scotland" },
                { text: "Senegal" },
                { text: "Serbia" },
                { text: "Seychelles" },
                { text: "Sierra Leone" },
                { text: "Singapore" },
                { text: "Sint Maarten (Dutch part)" },
                { text: "Slovakia" },
                { text: "Slovenia" },
                { text: "Solomon Islands" },
                { text: "Somalia" },
                { text: "South Africa" },
                { text: "South Georgia and the South Sandwich Islands" },
                { text: "South Sudan" },
                { text: "Spain" },
                { text: "Sri Lanka" },
                { text: "Sudan" },
                { text: "Suriname" },
                { text: "Svalbard and Jan Mayen" },
                { text: "Sweden" },
                { text: "Switzerland" },
                { text: "Syria" },
                { text: "Taiwan (Province of China)" },
                { text: "Tajikistan" },
                { text: "Tanzania" },
                { text: "Thailand" },
                { text: "The Democratic People's Republic of Korea" },
                { text: "Timor-Leste" },
                { text: "Togo" },
                { text: "Tokelau" },
                { text: "Tonga" },
                { text: "Trinidad and Tobago" },
                { text: "Tunisia" },
                { text: "Türkiye" },
                { text: "Turkmenistan" },
                { text: "Turks and Caicos Islands" },
                { text: "Tuvalu" },
                { text: "Uganda" },
                { text: "Ukraine" },
                { text: "United Arab Emirates" },
                { text: "United Kingdom" },
                { text: "United States Minor Outlying Islands" },
                { text: "United States of America" },
                { text: "Uruguay" },
                { text: "Uzbekistan" },
                { text: "Vanuatu" },
                { text: "Vatican City" },
                { text: "Venezuela" },
                { text: "Viet Nam" },
                { text: "Virgin Islands (British)" },
                { text: "Virgin Islands (U.S.)" },
                { text: "Wales" },
                { text: "Wallis and Futuna" },
                { text: "Western Sahara" },
                { text: "Yemen" },
                { text: "Zambia" },
                { text: "Zimbabwe" }
              ]
            }) }}


                <div class="govuk-form-group">
                  <label class="govuk-label" for="postcode">
                    Postcode (optional)
                  </label>
                <form autocomplete="off"> <input class="govuk-input govuk-input--width-10" onKeyUp="showResults(this.value)" id="postcode" name="country" type="text">
                  </div>
                
    
    </div>

    <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check3()" >Continue</button>

    <!-- <div>
      <a href="/agent/update-address/update-address-1.html" class="govuk-body-m">Find a UK address
    </a>
    </div> -->

</fieldset>

</div>

<script>

function autocomplete(input) { 
      let countries = ["Bulgaria", "Belgium", "Cyprus", "Denmark", "Germany", "Greece", "Hungary", "Italy", "Malta", "Poland", "Portugal", "Spain"];

    if (input=="") { return []; }
    return countries.filter((country)=>country.match(new RegExp(input, "i")));
    }

    function showResults(value) {
      
      let results = document.getElementById("result")
      results.innerHTML = "";
      let list = "";
      let matched = autocomplete(value);
      for (let i=0; i<matched.length; i++) {
        list += "<li onclick='selectResult(this)'>" + matched[i] + "</li>";
      }
      results.innerHTML= "<ul>" + list + "</ul>";
      console.log(matched)
    }

    function selectResult(element) {
      let selectedCountry=element.textContent;
      document.getElementById("country").value=selectedCountry;
      document.getElementById("result").innerHTML="";
    }
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("address-line-1").value && document.getElementById("address-line-2").value && document.getElementById("address-line-4").value && document.getElementById("country").value) {
        window.location.href = "../when-do-you-want-to-start-using-this-address.html"
      } else {
        window.location.href = "/preferences/customer-view/address-we-send-letters-to/international/error/enter-address.html"
      }

    }
  </script>


</div>
    {% endblock %}