{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <div class="text-centre" id="formData">
        
          <h1 class="govuk-heading-m"><center>Checking your file</center></h1>

          <center><img src="/public/images/loading-squares.gif" class="loading" aria-label="Loading"></center>  
<p></p>
          <center><p>This could take up to 5 minutes.</p></center>
      </div>
  </div>
</div>

<script>
  setTimeout(function(){
      window.location.href = 'upload-table';
  }, 4000);
</script>

{% endblock %}
