{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Send your evidence
        </h1>

        <p class="govuk-body">On this service, you can send us evidence when you have been asked to do so by the Department for Work and Pensions (DWP).</p>

        <h2 class="govuk-heading-m">
          What benefits can I upload evidence for?
        </h2>

        <p class="govuk-body">You can currently only upload evidence for Employment and Support Allowance (ESA) on this service.</p>

        <h2 class="govuk-heading-m">
          What types of evidence can I send?
        </h2>

        <p class="govuk-body">You can send us evidence of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your bank statements</li>
          <li>your payslips</li>
          <li>your P60s</li>
        </ul>

        <h2 class="govuk-heading-m">
          Uploading your files
        </h2>

        <p class="govuk-body">You will be able to upload multiple files for your evidence, such as for a bank statement that has multiple pages.</p>

        <p class="govuk-body">Your files must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be JPG, JPEG, HEIC, HEIF, BMP, PNG, TIF or PDF</li>
          <li>be smaller than 50MB</li>
          <li>not be password protected</li>
        </ul>

        <p>You will be able to upload a maximum of 100MB in total.</p>

<form class="form" action="start-answer" method="post">

  <div class="govuk-!-padding-bottom-4"></div>


      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}


    </div>

  </div>

{% endblock %}
