{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="upload-evidence-form" method="post" class="form">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Upload another bank statement file
          </h1>
        </legend>

        <p class="govuk-body">Your files must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be JPG, JPEG, HEIC, HEIF, BMP, PNG, TIF or PDF</li>
          <li>be smaller than 50MB</li>
          <li>not be password protected</li>
        </ul>

        <p>You will be able to upload a maximum of 100MB in total.</p>

        <div class="govuk-!-padding-bottom-2"></div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload"> Upload a file </label>
          <input
            class="govuk-file-upload"
            id="file-upload"
            name="file-upload"
            type="file"
          />
        </div>

      </fieldset>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Upload and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
