{% extends "layouts/main.html" %}

{% set evidenceTypeCapitalFirstLetter = data.evidenceType %}
{% if data.evidenceType !== "P60" %}
  {% set evidenceType = data.evidenceType.toLowerCase() %}
{% else %}
  {% set evidenceType = data.evidenceType %}
{% endif %}

{% set remainingUploadBalance = data.uploadLimit - data.benefits[0].files.length * 9 %}

{% set warningText = "You have gone over your 100MB limit. You must remove at least " + remainingUploadBalance * -1 + "MB to continue."%}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ data | dump }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

{% for item in data.benefits %}

<h1 class="govuk-heading-xl">Upload {{ evidenceType }}</h1>

{% if data.benefits[0].files.length > 0 %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">{{ evidenceTypeCapitalFirstLetter }} files added</h2>

    <dl class="govuk-summary-list">
        {% for item in data.benefits %}
        {% if item.name === data.yourBenefits %}
        {% for item in item.files %}
      <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
          File {{ loop.index }}
        </dt>
        <dd class="govuk-summary-list__value">
          <p><a download href="/" class="govuk-link">{{item}}</a> (9MB)</p>
        </dd>
        <dd class="govuk-summary-list__actions">

        <a class="govuk-link" href="/round-8/e5/are-you-sure?file={{ loop.index }}" name="file-to-delete">Remove</a>

        </dd>
      </div>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>

{% if remainingUploadBalance > 0 %}

<div class="govuk-inset-text">
  You have {{ remainingUploadBalance }}MB remaining of your upload limit
</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      Do you want to upload another {{ evidenceType }} file?

    </legend>

    <div id="changedName-hint" class="govuk-hint">
      For example, if your {{ evidenceType }} has more pages.
    </div>

    <div class="govuk-radios govuk-radios--inline"data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-yes" name="another" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="another-yes">
          Yes
        </label>

      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-no" name="another" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="another-no">
          No
        </label>

    </div>

  </fieldset>

</div>

{% else %}
 {{ govukWarningText({
  text: warningText,
  iconFallbackText: "Warning"
}) }}
{% endif %}

<button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>

{% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">No {{ evidenceTypeCapitalFirstLetter }} files added</h2>
      <p>You will need to upload a file to send your evidence.</p>
    </div>
  </div>

  <div class="govuk-button-group">
    <button class="govuk-button" value= "true" data-module="govuk-button" type="button" onclick="location.href='/round-8/e5/upload-evidence'">Continue to upload</button>
    <a class="govuk-link" href="/round-8/e5/start">Cancel upload</a>
  </div>

  
{% endif %}

{% endfor %}

<script>
  const url = window.location.origin + window.location.pathname;
  window.history.replaceState(null, null, url);
  function check() {
    let yesNoRadio = document.getElementsByName("another");
    let hasSelection = false
    for (var i = 0; i < yesNoRadio.length; i++) {
      if (yesNoRadio[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/error/upload-table.njk";
    } else {
      if (document.getElementById("another-yes").checked) {
        window.location.href = "upload-another-page"
      } else {
        window.location.href = "upload-summary"
      }
    }
  }

  {# function removeFile(fileName) {
    req.session = {
    ...req.session,
    "selectedFile": fileName
    }
    window.location.href = "are-you-sure"
  }

  function test(itemName) {
    const dataTest = {{ data | dump }};
    // data["fileToDelete"] = itemName;
    console.log(dataTest);
    window.location.href="/round-8/e5/are-you-sure"
  } #}
</script>

</div>
</div>




{% endblock %}
