{% extends "layouts/main.html" %}

{% block pageTitle %}
Accessibility
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
{% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" id="page-heading">Accessibility statement for {{ data['dth-service-name'] }}
    </h1>
    <p class="govuk-body">This accessibility statement applies to the Department for Work and Pensions (DWP) login and
      identification service. This service allows citizens to access other DWP online services by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>creating reusable credentials</li>
      <li>using HM Revenue &amp; Customs Identity Verification (HMRC IV) to prove their identity</li>
    </ul>
    <p class="govuk-body">This website is run by DWP. We want as many people as possible to be able to use this website.
      For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
        VoiceOver)</li>
    </ul>
    <p class="govuk-body">We have also made the website text as simple as possible to understand.</p>
    <p class="govuk-body">

      <a href="https://mcmw.abilitynet.org.uk">AbilityNet</a>
      has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-m">How accessible this website is</h2>
    <p class="govuk-body">
      This website is fully compliant with the
      <a href="https://www.w3.org/TR/WCAG21/">
        Web Content Accessibility Guidelines version 2.1</a>
      AA standard.
      There may be accessibility problems in areas not covered by the AA standard: please let us know about these at
      <a href="mailto:IDT.Accessibility@dwp.gov.uk?subject=DWP login and identification service">
        IDT.Accessibility@dwp.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large
      print, easy read, audio recording or braille:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        email
        <a href="mailto:IDT.Accessibility@dwp.gov.uk?subject=DWP login and identification service">
          IDT.Accessibility@dwp.gov.uk
        </a>
        with the format you need. Include your contact details and your preferred method of contact.
      </li>
    </ul>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">
      We're always looking to improve the accessibility of this website. If you find any problems not listed on this
      page or think we're not meeting accessibility requirements, contact:
      <a href="mailto:IDT.Accessibility@dwp.gov.uk?subject=DWP login and identification service">
        IDT.Accessibility@dwp.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not
      happy with how we respond to your complaint,
      <a href="
                  
                      https://www.equalityadvisoryservice.com/
                  
              ">
        contact the Equality Advisory and Support Service (EASS)</a>.
    </p>

    <h1 class="govuk-heading-l">Contacting us by phone or visiting us in person</h1>
    <p class="govuk-body">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech
      impediment.</p>
    <p class="govuk-body">Our offices have audio induction loops, or if you contact us before your visit we can arrange
      a British Sign Language (BSL) interpreter.</p>
    <p class="govuk-body">
      To find out more about these services
      <a href="
                  
                      https://www.gov.uk/contact-jobcentre-plus
                  
              ">
        contact Jobcentre Plus</a>.
    </p>

    <h1 class="govuk-heading-l">Technical information about this website's accessibility</h1>
    <p class="govuk-body">DWP is committed to making its website accessible, in accordance with the Public Sector Bodies
      (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">
      This website is fully compliant with the
      <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a>
      AA standard.
    </p>

    <h1 class="govuk-heading-l">Preparation of this accessibility statement</h1>
    <p class="govuk-body">This statement was prepared on 15 November 2021. It was last reviewed on 15 November 2021.</p>
    <p class="govuk-body">This website was last tested on 15 November 2021. The test was carried out by DWP Digital on
      all pages.</p>

  </div>

</div>
{% endblock %}