{% extends "layout-header-links-dev-ready.html" %}

{% block pageTitle %}
Manage your sign in details - GOV.UK 
{% endblock %}

{% block beforeContent %}
  {% include 'includes/phase-banner.njk' %}
  {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top--4">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Manage your sign in details
    </h1>

    <p>You can change the details you use to sign in. You will need to sign in again if you change these.</p> 
        
    <p></p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="change-password/current-password">Change your password</a></li>
        <li><a href="change-phone-number/new-phone-number">Change your mobile phone number</a></li>
        <li><a href="change-email-address/new-email-address">Change your email address</a></li>
    </ul>

    <h2 class="govuk-heading-s">Updating your contact details</h2>
    <p>Any changes you make will only update your sign in details. If you want to change your contact details call the Department for Work and Pensions on 0800 123 456.</p>


  </div>



</div>

{% endblock %}