{% extends "layouts/main.html" %}

{% set pageHeading = 'Check your phone' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

            {% set html %}
            <div class="govuk-body">
            <p>We will delete your answers if you do not do anything for <strong>20 minutes</strong> and you will have to start again. This is to protect your information.</p>
            </div>
            
            {% endset %}
            
            {{ govukNotificationBanner({
            html: html,
            classes: "govuk-notification-banner--blue"
            }) }} 

            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <p class="govuk-body">
                We have sent you a text message with your security code.
            </p>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="sign-in-2fa-check" method="post" class="form">
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="signin-code">
                        Enter your security code
                    </label>

                    <input class="govuk-input govuk-input--width-10" id="signin-code" name="signin-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="sign-in-resend-2fa" class="govuk-link">I did not get a text message</a></p>


            <p><a href="account-recovery/start-new-phone" class="govuk-link">I cannot access the mobile phone number I use to sign in</a></p>

           
        </div>
    </div>
{% endblock %}

