{% extends "layout" %}

{% block pageTitle %}
  Signed in
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have signed in 
                    <!-- to {{ data['service-name']  }} </h1> -->

                <p class="govuk-body govuk-!-margin-top-6">You last signed in at 9:45am on {{ data['last-week'] }}.</p>

                {{ govukButton({
                    text: "Continue",
                    href: "/cxp/v2/benefits-summary-table-e"
                }) }}

                <!-- <h1 class="govuk-heading-s govuk-!-margin-top-6">Manage your sign in details</h1>
                <p>You will need to sign in again if you change your sign in details.</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="change-password/current-password">Change your password</a></li>
                    <li><a href="change-phone-number/new-phone-number">Change your mobile phone number</a></li>
                    <li><a href="change-email-address/new-email-address">Change your email address</a></li>
                </ul> -->
        </div>
        
    </div>
{% endblock %}
