{% extends "layouts/main.html" %}

{% block pageTitle %}
    Password changed - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Password changed"
            }) }}

            <p>Use your new password when you next sign in.</p>

            {{ govukButton({
                text: "Sign in",
                href: "../sign-in-returning.html"
            }) }}
        </div>
    </div>
{% endblock %}

