{% extends "layout-header-links-dev-ready.html" %}

{% block pageTitle %}
  Enter your current password - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter your current password</h1>
            <form action="new-password" method="post" class="form">

                 <div class="govuk-form-group govuk-!-margin-top-2">
                        <label class="govuk-label" for="new-password">
                            Current password
                        </label>
                        <input class="govuk-input govuk-!-width-full-width" id="current-password" name="current-password" type="password">
                    </div>
                    

                {{ govukButton({
                    text: "Continue"
                }) }}

             </form>
        </div>
    </div>
{% endblock %}
