{% extends "layouts/main.html" %}

{% block pageTitle %}
    Enter your mobile phone number - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter your mobile phone number</h1>

            <p>We will send a six digit security code to this number.</p> 
            
            <p>This will expire in 15 minutes.</p>

            {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

                {{ govukInsetText({
                text: "A new security code will be sent to your mobile phone every time you sign into this service."
                }) }}

            <form action="code" method="post" class="form">

                {{ govukInput({
                    label: {
                        text: "Mobile phone number"
                    },
                    hint: {
                        text: "For international numbers include the country code"
                    },
                    classes: "govuk-input govuk-input--width-20",
                    id: "register-mobile-phone-number",
                    name: "register-mobile-phone-number",
                    type: "tel",
                    autocomplete: "tel"
                }) }}


                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
