{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your answers will be deleted soon - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}


    <dialog id="prototype_warning_dialog" class="dialog" role="dialog" aria-labelledby="dialog-title" open="" style="z-index: 100002; top: 25%">
        <!-- <div class="lightbox__inner"> -->
        <h1  class="govuk-heading-l">Your answers will be deleted soon</h1>

        <p class="govuk-body">
            We will delete your answers if you do not continue in the next <strong>2:00 minutes.</strong> This is to protect your information.
        </p>

        <!-- <a class="button" href="#" role="button">Got it</a> -->
        <button class="govuk-button dialog-close" onclick="window.location.href='name.html';">Continue</button>
        <!-- </div> -->
    </dialog>

    <div class="backdrop" style="z-index: 100001;"></div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <form action="date-of-birth" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "What is your name?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    id: "first-name",
                    name: "first-name",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Last name"
                    },
                    id: "last-name",
                    name: "last-name",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
