{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/landline-number.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want to remove your landline phone number?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Any changes you have made will not be saved if you select No.
        </div>


        <div class="govuk-inset-text">
          01632 960 001
        </div>

        </fieldset>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="abandon" type="radio" value="true">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="abandon" type="radio" value="false">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
              <br>
              <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
  
              <script>
                function check() {
                  console.log('in function')
                  var radios = document.getElementsByName("abandon");
                  var hasSelection = false
                  for (var i = 0, len = radios.length; i < len; i++) {
                    if (radios[i].checked) {
                      hasSelection = true;
                    }
                  }
                  if (!hasSelection) {
                    window.location.href = "/round-5/customer-view/1i/landline-number/error/abandon-journey.html";
                  } else {
                    if (document.getElementById("yes").checked) {
                      window.location.href = "../how-we-contact-you.html"
                    } else {
                      window.location.href = "javascript:history.back()"
                    }
                  }
                }
              </script>
                </div>
           
    </div>


{% endblock %}