{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5-parked/breadcrumbs/customer-view/1i/phone-number-singular.html" %}


{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Mobile phone number</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <p class="govuk-body" id="mainPhoneDiv" name="mainPhoneDiv"></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="phone-number">Change<span class="govuk-visually-hidden"> change mobile phone number</span></a>
                </li>
              </ul>
            </dd>
          </div>
          
        </dl>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return",
            href: "/round-5-parked/customer-view/1i/how-we-contact-you.html"
          }) }}
        </div>

      </div>
    </div>
  </main>
</div>


<script>
  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }
</script>

{% endblock %}