{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-5-parked/breadcrumbs/customer-view/1i/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">We cannot send letters to a Post Office address</h1>
  <p class="govuk-body">
    You have asked us to send letters to this address:</p>

    <div class="govuk-inset-text">
      721 Great Western Road<br>
      Glasgow<br>
      G12 8QX
    </div> 

    <p>We cannot send letters to this address as Post Office locations are not able to hold your letters.</p>

    <div class="govuk-!-padding-bottom-4"></div>

  <div class="govuk-!-padding-bottom-2"></div>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Choose a different address",
      href: "#"
    }) }}
    <p><a href="#" class="govuk-link">Return to home</a></p>
  </div>


</div>


{% endblock %}