{% extends "layouts/main.html" %}

{% block pageTitle %}
Based on your answers, you can use this service
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Based on your answers, you can use this service
      </h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You next payment may already be in progress",
  iconFallbackText: "Warning"
}) }}

<p>You may continue to change your account details using this service, but this change may not happen in time for your next payment. </p>

<p>This is because told us that you are expecting a payment.</p>

<p>If you continue, your next payment could go into your account on our records now.</p>

<div class="govuk-!-padding-bottom-4"></div>


      <form class="form" action="/iteration-5/5-0/payment-in-progress/you-can-use-this-service-detailed" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "you-can-use-this-service-detailed",
          fieldset: {
            legend: {
              text: "Do you want to change your account details using this service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
