<nav aria-label="Language toggle" class="dwp-language-toggle">
  <ul class="dwp-language-toggle__list govuk-list">
    <li class="dwp-language-toggle__list-item">
        English
    </li>
    <li lang="cy" class="dwp-language-toggle__list-item">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <a href="?lang=cy" class="govuk-link">Cymraeg</a>
    </li>
  </ul>
</nav>