{% extends "layouts/main.html" %} 

{% if data.evidenceType !== "P60" %}
  {% set evidenceType = data.evidenceType.toLowerCase() %}
{% else %}
  {% set evidenceType = data.evidenceType %}
{% endif %}

{% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#UK-yes">Empty file</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <form action="upload-evidence-form" method="post" class="form">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Upload your {{ evidenceType }}</h1>
        </legend>

        <p class="govuk-body">Your files must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be JPG, JPEG, HEIC, HEIF, BMP, PNG, TIF or PDF</li>
          <li>be smaller than 50MB</li>
          <li>not be password protected</li>
        </ul>

        <p>You can upload 100MBs of files in total.</p>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label govuk-label--m" for="file-upload">
            Upload files
          </label>
          <div id="file-upload-hint" class="govuk-hint">
            You can select multiple files.
          </div>
          <p id="file-upload-1-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>The selected file is empty
          </p>
          <input class="govuk-file-upload moj-multi-file-upload__input" id="file-upload" name="file-upload" type="file" multiple="">

        </div>

      </fieldset>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What to do if my file is too big to upload? 
          </span>
        </summary>
        <div class="govuk-details__text">
          We recommend that you post your evidence instead.
          </div>
          <div class="govuk-details__text">
          To find details on where to post your evidence, you need to contact the benefit that you wish to send evidence to directly.
          </div>
      </details>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Upload and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
