{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            {% if data['benefitsArray'].length === 1 %}
            <h1 class="govuk-heading-l">You've uploaded {{data['benefitsArray'] | length}} piece of evidence </h1>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[0] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[0]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[0] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[0] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>


            {% elif data['benefitsArray'].length === 2 %}

            <h1 class="govuk-heading-l">You've uploaded {{data['benefitsArray'] | length}} pieces of evidence </h1>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[0] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[0]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[0] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[0] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[1] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[1]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[1] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[1] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            {% elif data['benefitsArray'].length === 3 %}

            <h1 class="govuk-heading-l">You've uploaded {{data['benefitsArray'] | length}} pieces of evidence </h1>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[0] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[0]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[0] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[0] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[1] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[1]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[1] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[1] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[2] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[2]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[2] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[2] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            {% elif data['benefitsArray'].length === 4 %}

            <h1 class="govuk-heading-l">You've uploaded {{data['benefitsArray'] | length}} pieces of evidence </h1>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[0] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[0]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[0] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[0] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[1] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[1]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[1] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[1] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[2] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[2]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[2] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[2] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  {{ data.evidenceType[3] }}
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a type="submit" data-module="govuk-button" href=remove-evidence-answer?query={{data.benefitsArray[3]}}>Remove evidence</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data.benefitsChosen[3] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        File
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data.benefitsArray[3] }}
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

            {% else %}
            <h1 class="govuk-heading-l">You've uploaded {{data['benefitsArray'] | length}} piece of evidence </h1>

            <p>Change copy.</p>

            {% endif %}

        </div>

        <form method="post" action="evidence-summary-answer">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="add-another-evidence-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you need to upload more evidence?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-another-evidence-yes" name="add-another-evidence" type="radio"
                                   value="yes">
                            <label class="govuk-label govuk-radios__label" for="add-another-evidence">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-another-evidence-no" name="add-another-evidence" type="radio"
                                   value="no">
                            <label class="govuk-label govuk-radios__label" for="add-another-evidence">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>





{% endblock %}
