{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Employment Support Allowance (ESA)</h1>

        <div class="govuk-!-padding-bottom-2"></div>
      
      </div>

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full sidebar">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show filters
            </span>
          </summary>
          <div class="govuk-details">
  
            <div class="govuk-!-padding-bottom-4"></div>

<body>
  <form id="filter-form">
  <div class="moj-filter cv-filter" style="background-color:#f3f2f1">
    <div class="moj-filter__content">
      <!-- filter options -->
      <div class="moj-filter__options">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Filters</legend>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third sidebar">

              <div class="govuk-!-padding-bottom-2"></div>


          <!-- filter by read status -->

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
                  <div class="govuk-radios">
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="status-all" name="status" type="radio" value="all" checked>
                          <label class="govuk-label govuk-radios__label" for="status-all">All notifications</label>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="status-read" name="status" type="radio" value="read">
                          <label class="govuk-label govuk-radios__label" for="status-read">Read</label>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="status-unread" name="status" type="radio" value="unread">
                          <label class="govuk-label govuk-radios__label" for="status-unread">Unread</label>
                      </div>
                  </div>
              </fieldset>
          </div>
          </div>


          <div class="govuk-grid-column-one-third leftside">
            <div class="govuk-!-padding-bottom-2"></div>
            <div class="govuk-form-group sidebar">



              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Start date</legend>
              <div class="govuk-date-input" id="start-date">
                  <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="start-date-day">Day</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-day" name="start-date-day" type="text" pattern="[0-9]*">
                      </div>
                  </div>
                  <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="start-date-month">Month</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month" name="start-date-month" type="text" pattern="[0-9]*">
                      </div>
                  </div>
                  <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="start-date-year">Year</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year" name="start-date-year" type="text" pattern="[0-9]*">
                      </div>
                  </div>
              </div>
          </div>

          </div>


          <div class="govuk-grid-column-one-third leftside">
            <div class="govuk-!-padding-bottom-2"></div>
            <div class="govuk-form-group sidebar">



              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">End date</legend>
              <div class="govuk-date-input" id="end-date">
                  <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="end-date-day">Day</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-date-day" name="end-date-day" type="text" pattern="[0-9]*">
                      </div>
                  </div>
                  <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="end-date-month">Month</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-date-month" name="end-date-month" type="text" pattern="[0-9]*">
                      </div>
                  </div>
                  <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="end-date-year">Year</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="end-date-year" name="end-date-year" type="text" pattern="[0-9]*">
                      </div>
                  </div>
              </div>

          </div>

          </div>



        </div>

    
        <!-- apply filter button -->


      </fieldset>

      <div class="centered-link">
      <a href="#" class="govuk-link" onclick="resetFilter()">Reset filter</a>
      </div>
    </form>

      <div class="govuk-!-padding-bottom-4"></div>

      <div style="width: 100%;">
        <button class="govuk-button" type="button" id="apply-filter" onclick="filterTable()">Apply filter</button>
      </div>
      </div>
      </div>
      </div>
  </form>

</div>

</div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
      <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header date-column">Date</th>
          <th scope="col" class="govuk-table__header">Notification</th>
          <th scope="col" class="govuk-table__header" style="padding-right:10px;">Status</th>
      </tr>
  </thead>
  <tbody class="govuk-table__body" id="table-body">
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header date-column">04/03/2025</th>
          <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Notification of ESA Claim Approval</a></td>
          <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
            <strong class="govuk-tag govuk-tag--grey">
            Read
          </strong>
          </td>
      </tr>
      <tr class="govuk-table__row" style="background-color:#f3f2f1">
          <th scope="row" class="govuk-table__header date-column">12/02/2025</th>
          <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">BI205</a></td>
          <td class="govuk-table__cell" style="padding-right:10px;" data-status="unread">
            <strong class="govuk-tag custom-unread-tag">
            Unread
          </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header date-column">29/01/2025</th>
          <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">BI127</a></td>
          <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
            <strong class="govuk-tag govuk-tag--grey">
            Read
          </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">23/01/2025</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Confirmation of ESA Payment Schedule</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">07/01/2025</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Request for Additional Information Regarding ESA Claim</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">22/12/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">ATW006</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">02/12/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Notice of Change in ESA Eligibility</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">18/09/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Reminder: Upcoming ESA Payment</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">02/09/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Annual Review of ESA Entitlement</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">01/08/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">DS1500</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">31/05/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Notification of Missed ESA Payment</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">29/05/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Confirmation of Direct Payment Setup for ESA</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">28/05/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Notice of Overpayment Adjustment for ESA</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">07/03/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">AA1A</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header date-column">07/03/2024</th>
        <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Closure of ESA Case</a></td>
        <td class="govuk-table__cell" style="padding-right:10px;" data-status="read">
          <strong class="govuk-tag govuk-tag--grey">
          Read
        </strong>
        </td>
      </tr>
  </tbody>
</table>

  <div class="govuk-!-padding-bottom-4"></div>
  
  <nav class="moj-pagination" aria-label="Pagination navigation">

    <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
      </li>
  
      <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>

      <li class="moj-pagination__item"><a class="moj-pagination__link" href="4-pagination-2" aria-label="Page 2 of 3">2</a></li>
  
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="4-pagination-2" aria-label="Page 3 of 3">3</a></li>
  
      <li class="moj-pagination__item  moj-pagination__item--next">
        <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
      </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>15</b> of <b>45</b> results</p>
  </nav>

</div>

</div>

</main>
</div>

  <style>
    @media (max-width: 960px) { /* Adjust breakpoint as needed */
      .sidebar {
        width: 100%;
        margin-top: 20px; /* Adds spacing when stacked */
      }
      .leftside {
        width: 100%;
        margin-left: 40px: /* Adds spacing when stacked */
      }
    }
  
    .govuk-table__cell {
      padding-top: 18px;
      padding-bottom: 20px;
    }
  
    .govuk-table__header {
      padding-top: 18px;
      padding-bottom: 20px;
    }
  
    #apply-filter {
      width: 100%;
      display: block;
    }

    .centered-link {
      text-align: center;
      margin-top: 20px;
    }

    .date-column {
      padding-left: 10px;
    }

    .custom-unread-tag {
      background-color: #1d70b8;
      color: white;
    }

  </style>

<script>
  function filterTable() {
      const status = document.querySelector('input[name="status"]:checked').value;
      const benefits = Array.from(document.querySelectorAll('input[name="benefit"]:checked')).map(cb => cb.value);
      const startDate = `${document.getElementById('start-date-year').value}-${document.getElementById('start-date-month').value}-${document.getElementById('start-date-day').value}`;
      const endDate = `${document.getElementById('end-date-year').value}-${document.getElementById('end-date-month').value}-${document.getElementById('end-date-day').value}`;

      const rows = document.querySelectorAll('#table-body tr');
      rows.forEach(row => {
          const date = row.querySelector('th').innerText;
          const benefit = row.querySelector('td:nth-child(2)').innerText;
          const rowStatus = row.querySelector('td:nth-child(4)').dataset.status;

          let showRow = true;

          if (status !== 'all' && rowStatus !== status) {
              showRow = false;
          }

          if (benefits.length > 0 && !benefits.includes(benefit)) {
              showRow = false;
          }

          const rowDate = new Date(date.split('/').reverse().join('-'));
          if (startDate && rowDate > new Date(startDate.split('/').reverse().join('-'))) {
              showRow = false;
          }

          if (endDate && rowDate < new Date(endDate.split('/').reverse().join('-'))) {
              showRow = false;
          }

          row.style.display = showRow ? '' : 'none';
      });
  }

  function resetFilter() {
      document.getElementById('filter-form').reset();
      filterTable();
  }
</script>
</body>

{% endblock %}