{% extends "layouts/main.html" %}

{% block pageTitle %}
  Update your sign in details - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Create new sign in details</h1>
            <p>If you cannot access the email address you use to sign in, you can register again with a different email address.</p>

            <!-- <p>You need to add a new email address to your sign in details.</p>

            <p>We will:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>email and text you security codes</li>
                <li>ask some basic questions about you</li>
            </ul>

            <p>You will be able to change your password if you want to.</p> -->

            
            {{ govukButton({
                text: "Register",
                href: "../register/start.html"
            }) }}

        </div>
    </div>
{% endblock %}
