{% extends "layouts/main.html" %}

{% block pageTitle %}
  We could not sign you in - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, we could not sign you in</h1>

            <p>We could not match the personal details you entered to our records. If you think you may have entered your details incorrectly, you can start again.</p>

            {{ govukButton({
                text: "Start again",
                href: "../sign-in-returning"
            }) }}

            <details class="govuk-details govuk-!margin-top-6" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I have checked my details and still cannot sign in
                    </span>
                </summary>
    
                <div class="govuk-details__text">
                    <p>
                        [INSERT SUPPORT INSTRUCTIONS]
                    </p>
                </div>
            </details>
    
        </div>
    </div>
{% endblock %}
