{% extends "layouts/main.html" %}

{% block pageTitle %}
  Update your sign in details - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Update your sign in details</h1>

            <p>You need to add a new email address and mobile phone number to your sign in details.</p>

            <p>We will:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>email and text you security codes</li>
                <li>ask some basic questions about you</li>
                <li>ask you to create a new password</li>
            </ul>

            {{ govukButton({
                text: "Continue",
                href: "name.html"
            }) }}

        </div>
    </div>
{% endblock %}
