{% extends "layout-signout.html" %}

{% block pageTitle %}
  Downstream service
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}


{% block content %}
     
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="#" method="post">
               

                {{ govukRadios({
                idPrefix: "where-do-you-live",
                name: "where-do-you-live",
                fieldset: {
                    legend: {
                    text: "What do you want to check?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "elegible",
                    text: "My next benefit payment dates"
                    },
                    {
                    value: "existing",
                    text: "My past benefit payment dates"
                    }
                ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>




{% endblock %}
