{% extends "layouts/main.html" %}

{% block pageTitle %}
You are locked out - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You are locked out</h1>

        <p>This is because you tried to sign in unsuccessfully too many times. We do this to keep your information
            secure.</p>

        <p>You need to reset your password before you can sign in again.</p>

        {{ govukButton({
        text: "Reset password",
        href: "reset-password/start"
        }) }}
        <!--  href: "account-unlock/email-address" -->

        <details class="govuk-details govuk-!margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    If you are still locked out after resetting your password
                </span>
            </summary>

            <div class="govuk-details__text">
                <p>
                    [INSERT SUPPORT INSTRUCTIONS]
                </p>
            </div>
        </details>


    </div>
</div>
{% endblock %}