{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your answers will be deleted soon - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}


    <dialog id="prototype_warning_dialog" class="dialog" role="dialog" aria-labelledby="dialog-title" open="" style="z-index: 100002; top: 25%">
        <!-- <div class="lightbox__inner"> -->
        <h1  class="govuk-heading-l">Your answers will be deleted soon</h1>

        <p class="govuk-body">
            We will delete your answers if you do not continue in the next <strong>2:00 minutes.</strong> This is to protect your information.
        </p>

        <!-- <a class="button" href="#" role="button">Got it</a> -->
        <button class="govuk-button dialog-close" onclick="window.location.href='sign-in-2fa.html';">Continue</button>
        <!-- </div> -->
    </dialog>

    <div class="backdrop" style="z-index: 100001;"></div>




    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="sign-in-2fa-check" method="post">

                <h1 class="govuk-heading-l">We have sent you a text message with your security code</h1>

                <p>It should take one minute to arrive.</p>

                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="2fa-code">
                        Security code
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="signin-code" name="signin-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href="sign-in-resend-2fa" class="govuk-link">I did not receive a security code</a></p>


                <p><a href="account-recovery/access" class="govuk-link">I cannot access the email or mobile phone I use to sign in</a></p>

            </form>
        </div>
    </div>
{% endblock %}
