{% extends "layouts/main.html" %}

{% block pageTitle %}
      Sign in - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="#" method="post">
                {{ govukFieldset({
                    legend: {
                        html: 'Sign in',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                    text: "The email address or password you entered is incorrect",
                    href: "#sign-in-details"
                    },
                    {
                    html: 'You will be locked out if you enter incorrect sign in details one more time',
                    href: "#sign-in-details"
                    }
                ]
                }) }}

                

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    errorMessage: {
                        text: "The email address or password you entered is incorrect"
                    },
                    id: "email-address",
                    name: "email-address",
                    classes: "govuk-!-width-full-width govuk-input--error",
                    type: "email"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Password"
                    },
                    errorMessage: {
                        text: "The email address or password you entered is incorrect"
                    },
                    id: "user-password",
                    name: "user-password",
                    classes: "govuk-!-width-full-width govuk-input--error",
                    type: "password"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href="register/start" id="sign-in-details">Register now</a> if you have not used this service before.</p>


                <h2 class="govuk-heading-m">Problems signing in</h2>

                <ul class="govuk-list signin">
                    <li>
                        <a href="/auth/default/reset-password/start" class="govuk-link">I forgot my password</a>
                    </li>
                    <li>
                        <a href="account-recovery/start-new-email" class="govuk-link">I cannot access the email I use to sign in</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
