{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have signed out - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="signin" method="post">
                <h1 class="govuk-heading-l">You have signed out</h1>

                <p><a href="sign-in-returning">Sign in again</a></p>
            </form>
        </div>
    </div>
{% endblock %}
