{% extends "layouts/main.html" %}

{% set pageHeading = 'We’ve been unable to confirm your identity' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        
        <p>
          We’ve been unable to confirm who you are. This is because the information you entered does not match our records.
        </p>

        <p>
          If you think you may have entered the wrong information by mistake, you can start again.
        </p>
        
        {{ govukButton({
          text: "Start again",
          href: "sign-in"
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I have checked my details and I am still unable to proceed
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              [INSERT SUPPORTING INSTRUCTIONS]
            </p>
          </div>
        </details>


      </div>
    </div>
{% endblock %}




