{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">January, February and March 2024</span>
        Round 4 UR prototypes
      </h1>

      <div class="govuk-inset-text">
        The Round 4 user research was conducted by Daniel de la Rubia, interaction designs built by David Doherty and written content by Patrick Wilson. The team was led by Matt Murphy. They are happy to answer any questions you may have.
      </div>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Customer view
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1h</th>
      <td class="govuk-table__cell">

        <p class="govuk-body">Based on Round 3 UR, a version of Customer View that been created that incorporates three key sections:</p>


  <ul class="govuk-list govuk-list--bullet">
    <li>View your personal details</li>
    <li>Change how we contact you</li>
    <li>Request accessible formats</li>
  </ul>


<p class="govuk-body">Within these sections we have iterated versions of:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Email</li>
<li>Address we send letters to</li>
<li>Main phone number</li>
<li>When we write to you</li>
<li>When we speak to you</li>
</ul>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
        Pending
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="customer-view/1h/homepage.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>



<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">
  Colleague view
  </h2>


  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header app-custom-class">Name</th>
    <th scope="col" class="govuk-table__header app-custom-class">Description</th>
    <th scope="col" class="govuk-table__header app-custom-class">Status</th>
    <th scope="col" class="govuk-table__header app-custom-class">Action</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">2c</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
      Pending
    </strong>
  </td>
  <td class="govuk-table__cell"><a href="colleague-view/2c/homepage.html" class="govuk-link">View</a></td>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">2d</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
      Pending
    </strong>
  </td>
  <td class="govuk-table__cell"><a href="colleague-view/2d/homepage.html" class="govuk-link">View</a></td>
  </tr>
  
</tbody>
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">
  Notification emails
  </h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="customer-view/1h/notifications/email/security-code" class="govuk-link">Email security code</a></li>
  <li><a href="customer-view/1h/notifications/email/phone-number-changed" class="govuk-link">Your mobile phone number has changed</a></li>
</ul>

<h2 class="govuk-heading-m">
Notification text messages
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="customer-view/1h/notifications/text-message/security-code" class="govuk-link">Security code</a></li>
</ul>



{% endblock %}
