{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% set written = data["altFormats"]["written"] %}
{% set writtenOptions = written | getOptions %} 

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

     
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>


      <h2 class="govuk-heading-m">
        How we will contact you
      </h2>

   

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we write to you 
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ written.format | getLabel }}</p>

            <ul class="govuk-list govuk-list--bullet">
              
              {% for option in writtenOptions %}
                <li>{{ option }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./change/written-format">
              Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
            </a>
          </dd>
        </div>

      </dl>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "../round-3/1d/how-we-contact-you.html"
        }) }}
      </div>
      
    </div>
  </div>
{% endblock %}

