{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"   
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/alternative-formats/font" method="post" novalidate>
       
        
        {{ govukRadios({
          id: "font",
          name: "[altFormats].[written].[options][font]",
          value: data["altFormats"]["written"]["options"]["font"],
          fieldset: {
            legend: {
              text: "What font do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
            
          },
          items: [
            {
              value: "arial",
              text: "arial" | getLabel
            },
            {
              value: "calibri",
              text: "calibri" | getLabel
            },
            {
              value: "helvetica",
              text: "helvetica" | getLabel
            },
            {
              value: "tahoma",
              text: "tahoma" | getLabel
            },
            {
              value: "times-new-roman",
              text: "times-new-roman" | getLabel
            },
            {
              value: "verdana",
              text: "verdana" | getLabel
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}


