{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"   
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


       <form class="form" action="/alternative-formats/non-standard-letter" method="post" novalidate>

       
        
        {{ govukCheckboxes({
          id: "non-standard-letter-options",
          name: "[altFormats].[written].[nonStandardletter]",
          value: data["altFormats"]["written"]["nonStandardletter"],
          fieldset: {
            legend: {
              text: "What print size, font or paper changes do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
            
          },
          hint: {
            text: "We will ask for more detail on the next page if needed."  
         },

          items: [
            {
              value: "font",
              text: "font" | getLabel,
              checked: checked("altFormats.written.nonStandardletter", "font")
            },
            {
              value: "bold-text",
              text: "bold-text" | getLabel,
              checked: checked("altFormats.written.nonStandardletter", "bold-text")
            },
            {
              value: "coloured-paper",
              text: "coloured-paper" | getLabel,
              checked: checked("altFormats.written.nonStandardletter", "coloured-paper")
            },
            {
              value: "double-line-spacing",
              text: "double-line-spacing" | getLabel,
              checked: checked("altFormats.written.nonStandardletter", "double-line-spacing")
            },

            {
              value: "large-print",
              text: "large-print" | getLabel,
              checked: checked("altFormats.written.nonStandardletter", "large-print")
            },
            
           
            {
              divider: "or"
            },
            {
              value: "standard-letter",
              text: "standard-letter" | getLabel,
              checked: checked("altFormats.written.nonStandardletter", "standard-letter"),
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}