{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Email content</h1>

        <h2 class="govuk-heading-m">From</h2>
        <p>[do not reply, 'Verify your email' email address]</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <h2 class="govuk-heading-m">To</h2>
        <p>[customer email address]</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <h2 class="govuk-heading-m">Subject</h2>
        <p>Your email verification code - Verify your email GOV.UK</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-!-padding-bottom-4"></div>


        <h2 class="govuk-heading-m">Email content</h2>

        <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
          <div class="govuk-!-padding-bottom-2"></div>
    
          <p class="govuk-body">Hi [full name]</p>
          <p class="govuk-body">You recently updated your email address.</p>
          <p class="govuk-body">You will now need to verify your email address.</p>
          <p class="govuk-body">Enter the 6-digit code in this email on our verification page linked below.</p>
          <p class="govuk-body">You may need to login to our One Login service before being able to enter your code.</p>
          <p class="govuk-body"><b>[Code]</b></p>
          <p class="govuk-body"><a href="#">[Link]</a></p>
          <p class="govuk-body">Yours sincerely,</p>
          <p class="govuk-body">Department for Work and Pensions</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p class="govuk-body">Please don't reply to this message. DWP will never ask you to send any usernames, passwords, personal, health/medical or bank account information via email. Any email sent in response will be deleted without being read.</p>
          <p class="govuk-body">You must tell us about any changes that may affect your circumstances by post or telephone.</p>
          <p class="govuk-body">If you have received this email in error, please contact us the benefit that pays you and then permanently delete what you have received. If you are not the intended recipient, any disclosure, copying, distribution or other action taken in regard to the information contained in this e-mail is strictly prohibited.</p>
          
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">       
          
          <h3 class="govuk-heading-s">We have many different ways we can communicate with you</h3>
          <p class="govuk-body">If you would like braille, British Sign Language, a hearing loop, translations, large print, audio or something else please tell us.  </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-s">Treating people fairly</h3>
          <p class="govuk-body">We are committed to the Equality Act 2010 and treating people fairly. To find out more about this law, search ‘Equality Act’ on <a href="www.gov.uk">www.gov.uk</a>.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-s">Why DWP needs personal information and how we treat it</h3>
          <p class="govuk-body">We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our DWP Personal Information Charter at <a href="www.gov.uk/dwp/personal-information-charter">www.gov.uk/dwp/personal-information-charter</a>.</p>
        
    
          </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
