{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#UK-yes">Select Yes if you are sending us evidence for Employment and Support Allowance (ESA)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <form class="form" action="evidence-type" method="post">

        <h1 class="govuk-heading-l">Are you sending us evidence for Employment and Support Allowance (ESA)?</h1>

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "yourBenefits",
          fieldset: {
            legend: {
              isPageHeading: true
            }
          },

          errorMessage: {
            text: "Select Yes if you are sending us evidence for Employment and Support Allowance (ESA)"
          },

          items: [
          {
            value: "Employment and Support Allowance (ESA)",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]

        }) }}

        <p class="govuk-body">
          <a href="i-get-another-benefit" class="govuk-link">I get another benefit</a>
        </p>

        <button class="govuk-button" data-module="govuk-button">
          Continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
