{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

{% for item in data.benefits %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#UK-yes">Select Yes if you want to upload another bank statement file</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h1 class="govuk-heading-xl">Upload bank statement</h1>

    <h2 class="govuk-heading-m">Bank statement files added</h2>

    <dl class="govuk-summary-list">
        {% for item in data.benefits %}
        {% if item.name === data.yourBenefits %}
        {% for item in item.files %}
      <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
          File {{ loop.index }}
        </dt>
        <dd class="govuk-summary-list__value">
          <p><a download href="/" class="govuk-link">{{item}}</a> (9MB)</p>
        </dd>
        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> file 2</span></a>

        </dd>
      </div>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>

<div class="govuk-inset-text">
  You have used 9MB out of your 100MB upload limit.
</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group govuk-form-group--error">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      Do you want to upload another bank statement file?

    </legend>

    <div id="changedName-hint" class="govuk-hint">
      For example, if your bank statement has more pages.
    </div>

    <p id="whereDoYouLive-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select Yes if you want to upload another bank statement file
    </p>

    <div class="govuk-radios govuk-radios--inline"data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-yes" name="another" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="another-yes">
          Yes
        </label>

      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-no" name="another" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="another-no">
          No
        </label>

    </div>

  </fieldset>

</div>

{% endfor %}

<button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>

<script>
  function check() {
    let yesNoRadio = document.getElementsByName("another");
    let hasSelection = false
    for (var i = 0; i < yesNoRadio.length; i++) {
      if (yesNoRadio[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/error/have-you-been-contacted.html";
    } else {
      if (document.getElementById("another-yes").checked) {
        window.location.href = "../upload-another-page"
      } else {
        window.location.href = "../upload-summary"
      }
    }
  }
</script>

</div>
</div>




{% endblock %}
