{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/send-your-evidence.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-notification-banner govuk-notification-banner--success" role="region"
aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <h3 class="govuk-notification-banner__heading">
    Evidence upload complete
  </h3>
  <p class="govuk-body">You have successfully uploaded your evidence.</p>
</div>
</div>

<h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We’ve sent your evidence for processing
        </p>
        <p class="govuk-body">
          They will contact you in the next 14 working days.
        </p>


        <p class="govuk-body">
          <a href="../homepage" class="govuk-link">Return to home</a>
        </p>

     </div>
     </div>
 


{% endblock %}
