{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)" 
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/alternative-formats/audio" method="post" novalidate>
        
       
        
        {{ govukRadios({
          id: "audio-format",
          name: "[altFormats].[written].[options].[audioFormat]",
          value: data["altFormats"]["written"]["options"]["audioFormat"],
          fieldset: {
            legend: {
              text: "What type of audio do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
            
          },
          items: [
          {
            value: "cd",
            text: "cd" | getLabel
          }, 
          {
              value: "mp3",  
              text: "mp3" | getLabel
            },
            {
              value: "cassette-tape",
              text: "cassette-tape" | getLabel
            },
            {
              value: "audio-dvd",
              text: "audio-dvd" | getLabel
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}


