{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}


{% set spoken = data["altFormats"]["spoken"] %}
{% set spokenOptions = spoken | getOptions %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

     
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>


      <h2 class="govuk-heading-m">
        How we will contact you
      </h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we speak to you 
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ spoken.format | getLabel }}</p>

            <ul class="govuk-list govuk-list--bullet">
              {% for option in spokenOptions %}
                <li>{{ option }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./change/spoken-format">
              Change<span class="govuk-visually-hidden"> {{ spoken.format }}</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "../page-5.html"
        }) }}
      </div>
      
    </div>
  </div>
{% endblock %}

