{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"  
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/alternative-formats/other-help-details" method="post" novalidate>
        
        {{ govukTextarea({
          id: "feedback-preferred-alt-formats",
          name: "[altFormats].[otherHelp].[details]",
          value: data["altFormats"]["otherHelp"]["details"],
          label: {
            text: "What other help do you need when we contact you?",
            isPageHeading: true,
            classes: "govuk-label--l govuk-!-margin-bottom-6"
          }
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

         </div>
      </form>
    </div>
  </div>
{% endblock %}


