{% extends "layouts/main.html" %}

{% block pageTitle %}
    Enter the email you use to sign in - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="email-code" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Enter the email you use to sign in",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p>We will send a security code to this email address.</p>

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "recover-email-address",
                    name: "recover-email-address",
                    classes: "govuk-!-width-full-width"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href="../account-recovery/access">I do not have access to this email address</a></p>

            </form>
        </div>
    </div>
{% endblock %}
