{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/address-we-send-letters-to-error.html" %}

{% endblock %}

{% block content %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
          <li>
          <a href="#">The date you want to start using this address must be a real date</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="address-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            When do you want to start using this address?
          </h1>
        </legend>
        <div id="address-date-hint" class="govuk-hint">
          For example, 27 6 2024
        </div>
        <p id="address-date-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> The date you want to start using this address must be a real date
        </p>
        <div class="govuk-date-input" id="address-date-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="address-date-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="address-date-issued-day" name="address-date-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="address-date-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="address-date-issued-month" name="address-date-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="address-date-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="address-date-issued-year" name="address-date-issued-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
      
    </div>

    <div class="govuk-inset-text">
      Some letters could already be on their way to your old address. If you do not receive a letter you were expecting, contact your benefit office. 
      They will be able to send a copy of the letter to your new address.
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>
    </div>

</fieldset>

  </div>

  
    <script>
    function check3() {
      console.log(document.getElementById("address-date-issued"))

      if (document.getElementById("address-date-issued-day").value && document.getElementById("address-date-issued-month").value && document.getElementById("address-date-issued-year").value ) {
        window.location.href = "/preferences/customer-view/address-we-send-letters-to/confirm-your-changes.html"
      } else {
        window.location.href = "/preferences/customer-view/address-we-send-letters-to/error/when-do-you-want-to-start-using-this-address.html"
      }

    }
  </script>

</div>

{% endblock %}