{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "View or change your personal details",
          href: "#"
          }
      ]
      }) }}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">View or change your personal details</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number 
            </dt>
            <dd class="govuk-summary-list__value">
              AB 12 34 56 C
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> national insurance number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              sarah.phillips@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> email</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address we send letters to
            </dt>
            <dd class="govuk-summary-list__value" id="newAddressDiv" name="newAddressDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-we-send-letters-to/which-address-should-we-send-letters-to">Change<span class="govuk-visually-hidden"> address we send letters to</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main phone number
            </dt>
            <dd class="govuk-summary-list__value" id="mainPhoneDiv" name="mainPhoneDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="main-phone-number/main-phone-number-that-we-can-call">Change<span class="govuk-visually-hidden"> main phone number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other phone numbers
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900 457</p>
              <p class="govuk-body">07700 900 000</p>
              <p class="govuk-body">+1 123 1231234</p>
              <p class="govuk-body">020 1234 1234</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> other phone numbers</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefits
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Employment and Support Allowance (ESA)</p>
              <p class="govuk-body">Personal Independence Payment (PIP)</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> benefits</span></a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Return",
        href: "/round-2/customer-view/1a/homepage.html"
      }) }}
    </div>
</div>

<script>
  var address = sessionStorage.getItem('address');
  var newAddressDiv = document.getElementById('newAddressDiv');
  if (newAddressDiv) {
    if(address) {
      newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
    } else {
      newAddressDiv.innerHTML = "Same as home address";
    }
  }
</script>

<script>
  var phone = sessionStorage.getItem('phone');
  var newPhoneDiv = document.getElementById('newPhoneDiv');
  if (newPhoneDiv) {
    if(address) {
      newPhoneDiv.innerHTML = phone.replace(/,/g, '<br>');
    } else {
      newPhoneDiv.innerHTML = "07700 900 457";
    }
  }
</script>

{% endblock %}