{% extends "layouts/main.html" %}

{% block pageTitle %}
Benefits you need to change
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Benefits you need to change
      </h1>

      <p class="govuk-body">You selected:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for benefit in data['which-benefits-do-you-get'] %}
        <li>{{ benefit }}</li>
        {% endfor %}
      </ul>

      <p>You can choose whether your benefit payments go into one account or into separate accounts.</p>

      <div class="govuk-!-padding-bottom-4"></div>

      <form class="form" action="/iteration-5-1/5-1b/benefits-you-need-to-change" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "how-do-you-need-your-benefits-to-be-paid",
          value: data['how-do-you-need-your-benefits-to-be-paid'],
          fieldset: {
            legend: {
              text: "How do you need your benefits to be paid?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Pay my benefits into one bank account",
              text: "Pay my benefits into one bank account"
            },
            {
              value: "Pay my benefits into separate accounts",
              text: "Pay my benefits into separate accounts"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
