{% extends "layouts/main.html" %}

{% block pageTitle %}
Based on your answers, you cannot use this service
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Based on your answers, you cannot use this service
      </h1>

      <p>
        You can only change bank details for some benefits using this service. 
      </p>

      <p>
        To change bank account details for any other benefits, <a href="https://www.gov.uk/report-benefits-change-circumstances#:~:text=How%20to%20report%20changes">contact your benefit office (opens in a new tab)</a>.
      </p>

      <p>
        <a href="https://www.gov.uk/">Return to GOV.UK</a>.
      </p>


    </div>
  </div>

{% endblock %}
