{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/phone-number.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Mobile phone number
                </h1>
              </legend>
            </fieldset>

            <p class="govuk-body">We will send a security code to this number by text. You will need this code to verify your number. </p>

            <div id="more-detail-hint" class="govuk-hint">
              For international numbers include the country code
            </div>


            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "Telephone number"
              },
              id: "telephone-number",
              name: "telephoneNumber",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-input--width-20"
            }) }}



<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>

  </div>

  <script>
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("telephone-number").value && document.getElementById("telephone-number").value ) {
        window.location.href = "/preferences/customer-view/phone-number/add/confirm-your-changes.html"
      } else {
        window.location.href = "/preferences/customer-view/phone-number/add/error/phone-number.html"
      }

    }
  </script>

{% endblock %}
