{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">

      <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Confirm address</h1>
        <p>1 address found for <b>NE3 1YL</b> and <b>58</b>. <a href="find-address">Search again</a></p>
        <div class="govuk-inset-text">
          58 Wellington House<br>
          Windsor Street<br>
          South Gosforth<br>
          Newcastle upon Tyne<br>
          NE3 1YL
        </div>
        </div>

    

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
      {{ govukButton({
          text: "Use this address",
          href: "/round-5/customer-view/1i/address-we-send-letters-to/when-do-you-want-to-start-using-this-address.html",
          preventDoubleClick: true
          }) }}

    </div>

    <p class="govuk-body"><a href="find-address" class="govuk-link">Use a different address</a></p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="manual-entry" class="govuk-link">Enter address manually</a></p>

    </div>

    </div>

{% endblock %}