{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}


{% include "round-5/breadcrumbs/colleague-view/2d/when-we-write-to-customer.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">


    <h1 class="govuk-heading-l">
      Confirm changes
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When we write to customer
        </dt>
        <dd class="govuk-summary-list__value" id="updatedValue">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="how-should-we-write-to-you">
            Change
          </a>
        </dd>
      </div>
    </dl>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Confirm",
      href: "/round-5/colleague-view/2d/alternative-formats/when-we-write-to-customer/updated-written.html",
      preventDoubleClick: true
      }) }}

      {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--warning",
      href: "/round-5/colleague-view/2d/alternative-formats/when-we-write-to-customer/abandon-journey.html"
      }) }}

      <!-- <a class="govuk-link" href="/round-5/colleague-view/2d/address-we-send-letters-to/abandon-journey.html">Cancel</a> -->
    </div>

  </div>

  <script>
    var divSection = document.getElementById('updatedValue');
    var howWeWrite = sessionStorage.getItem('howWeWrite');
    var howWeWriteArrary;
    if (howWeWrite) {
      howWeWriteArrary = howWeWrite.split("<br>");
    }

    if (divSection) {
      if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        divSection.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        divSection.innerHTML = "";
      }
    }

  </script>

</div>
</div>
{% endblock %}

