{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% include "round-5/breadcrumbs/colleague-view/2d/font-colour-spacing-size.html" %}

{% endblock %}

{% block content %}

<form class="form" id="checkboxForm">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="non-standard-letter-options-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What changes do they need?
        </h1>
      </legend>
      <div id="non-standard-letter-options-hint" class="govuk-hint">
        You can choose more than one option. We will ask for more detail if necessary.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item" onclick="set('different-font')">
          <input class="govuk-checkboxes__input" id="non-standard-letter-options" name="non-standard-letter-options"
            type="checkbox" value="A different font" onclick='handleClick(this, "different-font");'>
          <label class="govuk-label govuk-checkboxes__label" for="non-standard-letter-options">
            A different font
          </label>
        </div>
        <div class="govuk-checkboxes__item" onclick="set('colour-paper')">
          <input class="govuk-checkboxes__input" id="non-standard-letter-options-2" name="non-standard-letter-options"
            type="checkbox" value="Coloured paper" onclick='handleClick(this, "colour-paper");'>
          <label class="govuk-label govuk-checkboxes__label" for="non-standard-letter-options-2">
            Coloured paper
          </label>
        </div>
        <div class="govuk-checkboxes__item" onclick="set('large-print')">
          <input class="govuk-checkboxes__input" id="non-standard-letter-options-3" name="non-standard-letter-options"
            type="checkbox" value="Large print" onclick='handleClick(this, "large-print-1");'>
          <label class="govuk-label govuk-checkboxes__label" for="non-standard-letter-options-3">
            Large print
          </label>
        </div>
        <div class="govuk-checkboxes__divider">or</div>
        <div class="govuk-checkboxes__item" onclick="set('standard-letter')">
          <input class="govuk-checkboxes__input" id="non-standard-letter-options-4" name="non-standard-letter-options"
            type="checkbox" value="You can contact customer by standard letter" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="non-standard-letter-options-4">
            You can contact customer by standard letter
          </label>
        </div>
      </div>
    </fieldset>
  </div><button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>

<script>
  var redirectUrls = [];
  function handleClick(cb, redirectUrl) {
    if (cb.checked) {
      redirectUrls.push(redirectUrl);
    } else {
      redirectUrls.pop(redirectUrl);
    }
  }

  function set(inputValue) {
    if (inputValue === "different-font") {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour');
    } else if (inputValue === "colour-paper") {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour');
    } else if (inputValue === "large-print") {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour');
    }
  }

  document.getElementById('checkboxForm').addEventListener('submit', function (event) {
    event.preventDefault();

    if (redirectUrls.length > 0) {
      sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
      window.location.href = redirectUrls[0];
    } else {
      window.location.href = "how-should-we-write-to-customer";
    }
  });

</script>


{% endblock %}