{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}


{% include "round-5/breadcrumbs/colleague-view/2d/large-print-1.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What size print do they need?
      </h1>
    </legend>
    <div id="large-print-hint" class="govuk-hint">
      Our letters are usually in 12-point Arial font.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" onclick="set('16-point')">
        <input class="govuk-radios__input" id="large-print" name="large-print" type="radio" value="16 point">
        <label class="govuk-label govuk-radios__label" for="large-print">
          16 point
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('18-point')">
        <input class="govuk-radios__input" id="large-print-2" name="large-print" type="radio" value="18 point">
        <label class="govuk-label govuk-radios__label" for="large-print-2">
          18 point
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('24-point')">
        <input class="govuk-radios__input" id="large-print-3" name="large-print" type="radio" value="24 point">
        <label class="govuk-label govuk-radios__label" for="large-print-3">
          24 point
        </label>
      </div>
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </div>
  </div>

  <script>
    var howWeWriteArrary = [];

    function set(inputValue) {
      var howWeWrite = sessionStorage.getItem('howWeWrite');
      if (howWeWrite) {
        howWeWriteArrary = howWeWrite.split("<br>");
      }

      howWeWriteArrary.shift();

      if (inputValue === "16-point") {
        howWeWriteArrary.push('Font size 16 point');
      } else if (inputValue === "18-point") {
        howWeWriteArrary.push('Font size 18 point');
      } else {
        howWeWriteArrary.push('Font size 24 point');
      }
    }

    document.getElementById('radioForm').addEventListener('submit', function (event) {
      event.preventDefault();

      sessionStorage.setItem('howWeWrite', `Another print size, font or paper colour<br>${howWeWriteArrary.join('<br>')}`);

      const redirectUrls = JSON.parse(sessionStorage.getItem('redirectUrls'));
      if (redirectUrls.length > 0) {
        sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
        window.location.href = redirectUrls[0];
      } else {
        window.location.href = "confirm-your-changes";
      }
    });

  </script>


  {% endblock %}