{% extends "layouts/main.html" %}

{% set pageHeading = 'Check your phone' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    We have sent a code to:<br>
                    <strong class="govuk-!-font-weight-bold">
                        {% if data['telephone-number'] %}
                            {{ data['telephone-number'] }}
                        {% else %} 
                            07771 900 900
                        {% endif %}
                    </strong>
                </p>
            </div>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="code-check" method="post" class="form">
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="2fa-code">
                        Enter your security code
                    </label>

                    <input class="govuk-input govuk-input--width-10" id="2fa-code" name="2fa-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-code">I did not get a text message</a></p>

           
        </div>
    </div>
{% endblock %}
