{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: Enter your email address - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Enter your email address",
                href: "#register-email-address"
                }
            ]
            }) }}
                
            <h1 class="govuk-heading-l">Enter your email address</h1>
                <p>We will send a security code to this email address.</p>

                    <div class="govuk-form-group  govuk-form-group--error govuk-!-margin-top-6">
                        <label class="govuk-label" for="email-security-code">
                            Email address
                        </label>
                        <span id="security-code-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter your email address
                        </span>
                        <input class="govuk-input govuk-!-width-full-width govuk-input--error" id="register-email-address" name="register-email-address" type="email">
                    </div>

                {{ govukButton({
                    text: "Continue"
                }) }}

        </div>
    </div>
{% endblock %}


