{% extends "layouts/main.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}


{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

  {% include "preferences/breadcrumbs/customer-view/how-we-speak-to-you.html" %}
  
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">Confirm your changes</h1>

    <form class="form" action="./confirm-your-changes-answer" method="post" novalidate>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How we speak to you
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ data['HowWeSpeakToYou'] }} </p>

              {% if data['HowWeSpeakToYou'] === "Textphone for the deaf and hard of hearing" %}
              <ul class="govuk-list govuk-list--bullet">
                <li>{{ data['textphoneNumber2'] }}</li>
              </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="textphone2">Change<span class="govuk-visually-hidden"> textphone</span></a>
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm"
      }) }}

      <p class="govuk-body">
        <a href="/preferences/customer-view/contact-preferences/how-we-speak-to-you/abandon-journey.html" class="govuk-link">Cancel</a>
      </p>

    </form>
    </div>
    
    </div>
  </div>

{% endblock %}


