{% extends "layouts/main.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}


{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

  {% include "preferences/breadcrumbs/customer-view/how-we-speak-to-you.html" %}
  
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">Confirm your changes</h1>

    <form class="form" action="/preferences/customer-view/contact-preferences/how-we-speak-to-you/confirm-your-changes-textphone" method="post" novalidate>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Textphone number
            </dt>

            <dd class="govuk-summary-list__value">
              <p>{{ data.TextphoneNumber }} </p>
            </dd>

          </div>
        </dl>

        <div class="govuk-inset-text">
          We will also add textphone as one of your alternative formats when you make this change.
        </div>

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm"
        }) }}

      <p class="govuk-body">
        <a href="/preferences/customer-view/contact-preferences/how-we-speak-to-you/abandon-journey.html" class="govuk-link">Cancel</a>
      </p>

    </form>
    </div>
    
    </div>
  </div>

{% endblock %}


