{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "preferences/breadcrumbs/customer-view/how-we-speak-to-you.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/preferences/customer-view/contact-preferences/how-we-speak-to-you/speaking-selection" method="post" novalidate>
      
      {{ govukRadios({
        name: "HowWeSpeakToYou",
        fieldset: {
          legend: {
            text: "How should we contact you when we need to speak to you?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Mobile",
            text: "Mobile"
          },
          {
            value: "Landline phone",
            text: "Landline phone"
          },
          {
            value: "Textphone for the deaf and hard of hearing",
            text: "Textphone for the deaf and hard of hearing",
            hint: {
              text: "Including Relay UK."
            }
          },
          {
            divider: "or"
          },
          {
            value: "I do not have a speaking preference",
            text: "I do not have a speaking preference"
          }
        ]
        })  
      }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}