{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "../homepage"
          },
          {
          text: "View or change your personal details",
          href: "../change-how-we-contact-you"
          },
          {
            text: "Address we send letters to",
            href: "#"
            }
      ]
      }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="address-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            When do you want to start using this address?
          </h1>
        </legend>
        <div id="address-date-hint" class="govuk-hint">
          For example, 27 3 2007
        </div>
        <div class="govuk-date-input" id="address-date-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="address-date-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="address-date-issued-day" name="address-date-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="address-date-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="address-date-issued-month" name="address-date-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="address-date-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="address-date-issued-year" name="address-date-issued-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-inset-text">
      Some letters may have already been sent to your old address.
      If you don’t receive a letter you were expecting after making this change, contact your benefit office to request it be resent.
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>
    </div>

</fieldset>

  </div>
  
    <script>
    function check3() {
      console.log(document.getElementById("address-date-issued"))

      if (document.getElementById("address-date-issued-day").value && document.getElementById("address-date-issued-month").value && document.getElementById("address-date-issued-year").value ) {
        window.location.href = "/round-2/colleague-view/2c/address-we-send-letters-to/confirm-your-changes.html"
      } else {
        window.location.href = "/round-2/colleague-view/2c/address-we-send-letters-to/error/when-do-you-want-to-start-using-this-address.html"
      }

    }
  </script>

</div>

{% endblock %}