{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/colour-paper.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm" action="/preferences/customer-view/alternative-formats/when-we-write-to-you/colour-paper" method="post" novalidate>

  {{ govukRadios({
        name: "ColourPaper",
        fieldset: {
          legend: {
            text: "What colour paper do you need",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Standard white",
            text: "Standard white",
            hint: {
              text: "I do not need an alternative paper colour"
            }
          },
          {
            value: "Cream",
            text: "Cream"
          },
          {
            value: "Pastel Pink",
            text: "Pastel Pink"
          },
          {
            value: "Pastel yellow",
            text: "Pastel yellow"
          },
          {
            value: "Pastel green",
            text: "Pastel green"
          },
          {
            value: "Light blue",
            text: "Light blue"
          },
          {
            divider: "or"
          },
          {
            value: "I need a different colour",
            text: "I need a different colour"
          }
        ]
        })  
      }}
  <div class="govuk-!-padding-bottom-6"></div>

  
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
  </div>
  </form>

  {% endblock %}