{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/font-colour-spacing-size.html" %}

{% endblock %}

{% block content %}

<form class="form" id="checkboxForm" action="/preferences/customer-view/alternative-formats/when-we-write-to-you/font-colour-spacing-size" method="post" novalidate>
  <div class="govuk-form-group">
    {{ govukCheckboxes({
      name: "AlternativeFormatsSubOptions",
      fieldset: {
        legend: {
          text: "What changes do you need?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "You can choose more than one option."
      },
      items: [
        {
          value: "Coloured paper",
          text: "Coloured paper"
        },
        {
          value: "Large print",
          text: "Large print"
        }
      ]
    }) }}
  </div>
  
  {{ govukButton({
        text: "Continue"
  }) }}
</form>

<script>
  {# var redirectUrls = [];
  function handleClick(cb, redirectUrl) {
    if (cb.checked) {
      redirectUrls.push(redirectUrl);
    } else {
      redirectUrls.pop(redirectUrl);
    }
  }

  function set(inputValue) {
    if (inputValue === "colour-paper") {
      sessionStorage.setItem('howWeWrite', 'Letter with changes to paper colour or print size');
    } else if (inputValue === "large-print") {
      sessionStorage.setItem('howWeWrite', 'Letter with changes to paper colour or print size');
    }
  }

  document.getElementById('checkboxForm').addEventListener('submit', function (event) {
    event.preventDefault();

    if (redirectUrls.length > 0) {
      sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
      window.location.href = redirectUrls[0];
    } else {
      window.location.href = "how-should-we-write-to-you";
    }
  }); #}

</script>


{% endblock %}