{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/alternative-format.html" %}

{% endblock %}

{% block content %}

<form class="form" action="/preferences/customer-view/alternative-formats/when-we-write-to-you/how-should-we-write-to-you" method="post" novalidate>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="written-format-hint">

        {{ govukRadios({
        name: "AlternativeFormatsOption",
        fieldset: {
          legend: {
            text: "What alternative format do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Letter with changes to paper colour or print size",
            text: "Letter with changes to paper colour or print size"
          },
          {
            value: "Audio",
            text: "Audio"
          },
          {
            value: "Braille",
            text: "Braille"
          },
          {
            value: "British Sign Language video",
            text: "British Sign Language video"
          },
          {
            value: "Microsoft Word document with accessible text",
            text: "Microsoft Word document with accessible text"
          },
          {
            value: "PDF with accessible text",
            text: "PDF with accessible text"
          },
          {
            divider: "or"
          },
          {
            value: "I do not need an alternative format",
            text: "I do not need an alternative format"
          }
        ]
        })  
      }}
        </fieldset>

    </div>

    <p class="govuk-body">
        <a href="/preferences/customer-view/alternative-formats/when-we-write-to-you/the-format-i-need-is-not-listed-here.html" class="govuk-link">The format I need is not listed here</a>
      </p>

    {{ govukButton({
        text: "Continue"
      }) }}
</form>

{% endblock %}
