{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/large-print-1.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What size print do you need?
      </h1>
    </legend>
    <div id="large-print-hint" class="govuk-hint">
      Our letters are usually in 12 point Arial font.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" onclick="set('20-point')">
        <input class="govuk-radios__input" id="large-print" name="large-print" type="radio" value="20 point">
        <label class="govuk-label govuk-radios__label" for="large-print">
          20 point
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('22-point')">
        <input class="govuk-radios__input" id="large-print-2" name="large-print" type="radio" value="22 point">
        <label class="govuk-label govuk-radios__label" for="large-print-2">
          22 point
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('24-point')">
        <input class="govuk-radios__input" id="large-print-3" name="large-print" type="radio" value="24 point">
        <label class="govuk-label govuk-radios__label" for="large-print-3">
          24 point
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('28-point')">
          <input class="govuk-radios__input" id="large-print-4" name="large-print" type="radio" value="28 point">
          <label class="govuk-label govuk-radios__label" for="large-print-4">
           28 point
          </label>
      </div>
      <div class="govuk-radios__item" onclick="set('36-point')">
        <input class="govuk-radios__input" id="large-print-5" name="large-print" type="radio" value="36 point">
        <label class="govuk-label govuk-radios__label" for="large-print-5">
         36 point
        </label>
    </div>
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </div>
  </div>

  <script>
    var howWeWriteArrary = [];

    function set(inputValue) {
      var howWeWrite = sessionStorage.getItem('howWeWrite');
      if (howWeWrite) {
        howWeWriteArrary = howWeWrite.split("<br>");
      }

      howWeWriteArrary.shift();

      if (inputValue === "20-point") {
        howWeWriteArrary.push('20 point');
      } else if (inputValue === "22-point") {
        howWeWriteArrary.push('22 point');
      } else if (inputValue === "24-point") {
        howWeWriteArrary.push('24 point');
      } else if (inputValue === "28-point") {
        howWeWriteArrary.push('28 point');
      } else {
        howWeWriteArrary.push('36 point');
      }
    }

    document.getElementById('radioForm').addEventListener('submit', function (event) {
      event.preventDefault();

      sessionStorage.setItem('howWeWrite', `Letter with changes to paper colour or print size<br>${howWeWriteArrary.join('<br>')}`);

      const redirectUrls = JSON.parse(sessionStorage.getItem('redirectUrls'));
      if (redirectUrls.length > 0) {
        sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
        window.location.href = redirectUrls[0];
      } else {
        window.location.href = "confirm-your-changes";
      }
    });

  </script>


  {% endblock %}