{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/large-print-1.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm" action="/preferences/customer-view/alternative-formats/when-we-write-to-you/large-print-1" method="post" novalidate>
  {{ govukRadios({
        name: "LargePrint",
        fieldset: {
          legend: {
            text: "What size print do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Standard (12 point)",
            text: "Standard (12 point)",
            hint: {
              text: "I do not need an alternative print size"
            }
          },
          {
            value: "Large (16 point)",
            text: "Large (16 point)"
          },
          {
            value: "Extra Large (18 point)",
            text: "Extra Large (18 point)"
          },
          {
            value: "Giant (26 point)",
            text: "Giant (26 point)"
          },
          {
            divider: "or"
          },
          {
            value: "I need a different print size",
            text: "I need a different print size"
          }
        ]
        })  
      }}
  <div class="govuk-!-padding-bottom-6"></div>
  {{ govukButton({
      text: "Continue"
    }) }}
  </div>
  </div>
  </form>

  {% endblock %}