{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {% include "preferences/breadcrumbs/customer-view/alternative-format.html" %}
{% endblock %} {% block content %}

<form class="form" id="checkboxForm" action="/preferences/customer-view/alternative-formats/when-we-write-to-you/options" method="post" novalidate>
  <div class="govuk-form-group">
  {{ govukCheckboxes({
  name: "AlternativeFormats",
  fieldset: {
    legend: {
      text: "What alternative format types do you need?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "I need a written alternative format",
      text: "I need a written alternative format",
      hint: { 
              text: "For example, letters with changes to paper colour or print size,
            Braille and British Sign Language."
            },
      checked: true
    },
    {
      value: "Textphone for the deaf and hard of hearing",
      text: "Textphone for the deaf and hard of hearing",
      hint: { 
              text: "Including Relay UK."
            }
    },
    {
      divider: "or"
    },
    {
      value: "I do not need an alternative format",
      text: "I do not need an alternative format",
      behaviour: "exclusive"
    }
  ]
}) }}
  </div>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is an alternative format?
      </span>
    </summary>
    <div class="govuk-details__text">
      Alternative formats are any changes we can make to how we contact you so
      we can meet your specific needs.<br /><br />
      We can write to you using a range of different formats. We can also speak
      to you using different methods.
    </div>
  </details>

  {{ govukButton({
        text: "Continue"
  }) }}
</form>

{% endblock %}
