{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-write-to-you.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="written-format-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Ask for other alternative formats
                </h1>
            </legend>

            <div class="govuk-!-padding-bottom-4"></div>

            <p>There may be other alternative formats available to you.</p>
            <p>To find out what other formats are available, contact your benefit offices.</p>
            <p>They will try to find an alternative format that meets your needs.</p>

            <div class="govuk-!-padding-bottom-4"></div>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
              text: "Return to 'How we contact you'",
              classes: "govuk-button--secondary",
              href: "#",
              preventDoubleClick: true
              }) }}

              <p class="govuk-body">
                <a href="#" class="govuk-link">Back</a>
              </p>
        
            </div>
        
          </div>
          
        </fieldset>
    </div>

</form>

{% endblock %}
