{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "preferences-agent/breadcrumbs/agent-view/how-we-write-to-you.html" %}
{% endblock %}

{% block content %}

  <form action="/preferences-agent/agent-view/contact-preferences-agent/how-we-write-to-you/writing-selection" method="post" novalidate>
    {{ govukRadios({
      name: "HowWeWriteToYou",
      fieldset: {
        legend: {
          text: "How should we contact you when we need to write to you?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
    },
    items: [
      {
        value: "Email",
        text: "Email"
      },
      {
        value: "SMS",
        text: "SMS"
      },
      {
        value: "Post",
        text: "Post"
      },
      {
        divider: "or"
      },
      {
        value: "I do not have a writing preference",
        text: "I do not have a writing preference"
      }
    ]
    })  
  }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

{% endblock %}