{% extends "layouts/main.html" %}

{% block pageTitle %}
  Email already used to register - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">There was a problem</h1>

            <p>We have sent you an email with instructions on how to register. It should arrive within one minute.</p>


            {{ govukDetails({
                summaryText: "I did not get an email",
                html: 'Check your junk folders. Email <a href="#">DWP sign in support</a> if you still cannot find your email.'
            }) }}


        </div>
    </div>
{% endblock %}
