{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/relay-uk.html" %}

{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <h1 class="govuk-heading-l">
    What is your Relay UK number?
  </h1>

  <label class="govuk-label" for="textphone-number">
   Relay UK number
  </label>
  <input class="govuk-input govuk-input--width-20" id="relay-uk-number" name="relayukNumber" type="relay" autocomplete="relay">
</div>

<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>

  </div>

  <script>
    function check3() {
      var relayNumber = document.getElementById('relay-uk-number');
      sessionStorage.setItem('howWeConnect', `Relay UK<br>${relayNumber.value}`);
      if (document.getElementById("relay-uk-number").value && document.getElementById("relay-uk-number").value ) {
        window.location.href = "/round-5/customer-view/1i/alternative-formats/when-we-speak-to-you/confirm-your-changes.html"
      } else {
        window.location.href = "/round-5/customer-view/1i/alternative-formats/when-we-speak-to-you/error/relay-uk.html"
      }

    }
  </script>

{% endblock %}