{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/address-we-send-letters-to-international-error.html" %}

{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#address-line-1">Enter address line 1</a>
      </li>
      <li>
        <a href="#address-line-2">Enter address line 2</a>
      </li>
      <li>
        <a href="#address-line-4">Enter a town or city</a>
      </li>
      <li>
        <a href="#country">Enter a country</a>
      </li>
    </ul>
  </div>
  </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Enter the new international address we can send letters to
    </h1>
  </legend>

  <div class="govuk-!-padding-bottom-4"></div>

  
    <div class="govuk-form-group govuk-form-group--error">

        <label class="govuk-label" for="address-line-1">
          Address line 1
        </label>
        <p id="address-line-1-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter address line 1
        </p>
        <input class="govuk-input govuk-input--error" id="address-line-1" name="address-line-1" type="text" aria-describedby="address-line-1-error" autocomplete="address-line-1">
      
        <label class="govuk-label" for="address-line-2">
            <br> Address line 2
          </label>
          <p id="address-line-2-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter address line 2
          </p>
          <input class="govuk-input govuk-input--error" id="address-line-2" name="address-line-2" type="text" aria-describedby="address-line-2-error" autocomplete="address-line-2">
        
          <label class="govuk-label" for="address-line-3">
            <br> Address line 3 (optional)
          </label>
          <br>

          <input class="govuk-input" id="address-line-3" name="address-line-3" type="text" autocomplete="address-line-3">

          <label class="govuk-label" for="address-line-4">
              <br> Town or city
            </label>
            <p id="address-line-4-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a town or city
            </p>
            <input class="govuk-input govuk-input--error" id="address-line-4" name="address-line-4" type="text" aria-describedby="address-line-4-error" autocomplete="address-line-4">
          
            <label class="govuk-label" for="country">
                <br> Country
              </label>
              <p id="country-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a country
              </p>
              <form autocomplete="off"> <input class="govuk-input govuk-input--error govuk-input--width-10" onKeyUp="showResults(this.value)" id="country" name="country" type="text">
                <div id="result">
                </div> </form>
    
    </div>

    <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check3()" >Continue</button>

    <!-- <div>
      <a href="/agent/update-address/update-address-1.html" class="govuk-body-m">Find a UK address
    </a>
    </div> -->

</fieldset>

</div>

<script>

function autocomplete(input) { 
      let countries = ["Bulgaria", "Belgium", "Cyprus", "Denmark", "Germany", "Greece", "Hungary", "Italy", "Malta", "Poland", "Portugal", "Spain"];

    if (input=="") { return []; }
    return countries.filter((country)=>country.match(new RegExp(input, "i")));
    }

    function showResults(value) {
      
      let results = document.getElementById("result")
      results.innerHTML = "";
      let list = "";
      let matched = autocomplete(value);
      for (let i=0; i<matched.length; i++) {
        list += "<li onclick='selectResult(this)'>" + matched[i] + "</li>";
      }
      results.innerHTML= "<ul>" + list + "</ul>";
      console.log(matched)
    }

    function selectResult(element) {
      let selectedCountry=element.textContent;
      document.getElementById("country").value=selectedCountry;
      document.getElementById("result").innerHTML="";
    }
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("address-line-1").value && document.getElementById("address-line-2").value && document.getElementById("address-line-4").value && document.getElementById("country").value) {
        window.location.href = "../when-do-you-want-to-start-using-this-address.html"
      } else {
        window.location.href = "/round-5/customer-view/1i/address-we-send-letters-to/international/error/enter-address.html"
      }

    }
  </script>


</div>
    {% endblock %}