{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}

{% extends "layouts/main.html" %}

{% set pageHeading = 'What is your National Insurance number?' %}

{% set formQuestionHeading %}
  <span class="govuk-caption-xl">Check your identity</span>
  {{pageHeading}}
{% endset %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK 
{% endblock %}

{% block beforeContent %}
  {% include 'includes/phase-banner.njk' %}
{% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="confirm-your-identity-start" name="">

      {{ govukInput({
        label: {
          html: formQuestionHeading | safe,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "It's on your National Insurance card, benefit letter, payslip or P60. For example, QQ123456C."
        },
        id: "nino",
        name: "nino-details"
      }) }}
      
      <p class="govuk-body govuk-!-margin-bottom-6"><a href="enter-your-details-with-postcode.html" class="govuk-link">
        I do not have a National Insurance number, or have lost or forgotten it </a>.
      </p>

      <input class="govuk-button " type="submit" value="Continue">

    </form>

  </div>

</div>

{% endblock %}