{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% set pageHeading = 'We cannot confirm your identity' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
{% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p class="govuk-body">
            If you cannot give us details to confirm your identity, you can 
            {% if data['service-name'] === 'access-to-work-oidv'  %}
                <a href="https://prototype-carers-allowance.herokuapp.com/apply/ACA-1974-full-journey/identity-manual">
            {% else %}
                <a href="#">
            {% endif %}
            confirm your identity another way</a>.
        </p>

        <p class="govuk-body">
            If you can give us details to confirm your identity, you can <a href="confirm-your-identity-start">go back and try again</a>.
        </p>
        
    </div>
</div>

{% endblock %}