{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}

{% extends "layouts/main.html" %}

{% set pageHeading = 'We need to check your identity' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK 
{% endblock %}

{% block beforeContent %}
  {% include 'includes/phase-banner.njk' %}
  {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl ">
        {{pageHeading}}
      </h1>

      <form method="post" action="enter-your-details" name="">

        <p class="govuk-body">
          We will ask you for personal details, like your:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>date of birth</li>
          <li>National Insurance number</li>
          <li>postcode</li>
        </ul>

        <p class="govuk-body">
          We will check the details you give us with our records and then ask some security questions to confirm your identity.
        </p>

        <input class="govuk-button " type="submit" value="Continue">

      </form>
    </div>
  </div>

{% endblock %}