{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
    We need your consent to share your information - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">
                Northern Ireland driving licence details
            </span>
            <h1 class="govuk-heading-l">
                We need your consent to share your information
            </h1>

            <p class="govuk-body">
                To confirm your identity using your Northern Ireland driving licence details, we need your consent to share your information with the Driver & Vehicle Agency (DVA).
            </p>

           

            <p class="govuk-body">
                For details about how we store and process your information, see our <a href="" class="govuk-link">privacy notice (opens in new window or tab)</a>.
            </p>


            <form method="post" novalidate action=
                {% if payslip === "true" %} 
                "/idv/hmrciv/your-drivers-details-ire?payslip=true"
                {% elif p60 === "true" %} 
                "/idv/hmrciv/your-drivers-details-ire?p60=true" 
                {% elif sa === "true" %} 
                "/idv/hmrciv/your-drivers-details-ire?sa=true" 
                {% elif tcKbv === "true" %} 
                "/idv/hmrciv/your-drivers-details-ire?tcKbv=true"
                {% elif tuKbv === "true" %} 
                "/idv/hmrciv/your-drivers-details-ire?tuKbv=true" 
                {% elif voiceId === "true" %} 
                "/idv/hmrciv/your-drivers-details-ire?voiceId=true"
                {% else %} 
                "/idv/hmrciv/your-drivers-details-ire?iredva=true"
                {% endif %}
            >

                {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "changed-name",
                fieldset: {
                    legend: {
                    text: "Do you consent to HMRC sharing your Northern Ireland driving licence details with the DVA?",
                    isPageHeading: false,
                    classes: "govuk-body govuk-!-font-weight-bold"
                    }
                },
                items: [
                    {
                    value: "yes",
                    text: "Yes"
                    },
                    {
                    value: "no",
                    text: "No"
                    }
                ]
                }) }}


                {{ govukButton({
                text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}