{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Your passport details - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
{% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      Driving licence details
    </span>

    <h1 class="govuk-heading-xl ">
      Enter your UK photocard driving licence details
    </h1>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary" data-gtm-vis-recent-on-screen41855952_577="30" data-gtm-vis-first-on-screen41855952_577="30" data-gtm-vis-total-visible-time41855952_577="100" data-gtm-vis-has-fired41855952_577="1">
        <span class="govuk-details__summary-text">
          Where to find these details on your driving licence
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Enter the information from the driving licence using the numbered labels to help you.</p><p>For example, on your driving licence, the:</p><ul class="govuk-list govuk-list--bullet"><li>surname is labelled '1'</li><li>issue date is '4a'</li><li>expiry date is '4b'</li><li>licence number is '5'</li><li>issue number is the two digits after the licence number, and may be separated by a space or on a separate line</li></ul><img style="max-width: 100%; height: auto;" src="/public/images/dvla-example-photocard-licence.png" alt="Driving licence example">
      </div>
    </details>

    <form method="post" action=
      {% if payslip === "true" %} 
        "/idv/hmrciv/payslip"
      {% elif p60 === "true" %} 
        "/idv/hmrciv/p60" 
      {% elif sa === "true" %} 
        "/idv/hmrciv/sa-questions" 
      {% elif tcKbv === "true" %} 
        "/idv/hmrciv/tcKbv"
      {% elif tuKbv === "true" %} 
        "/idv/hmrciv/credit-record-questions-consent" 
      {% elif voiceId === "true" %} 
        "/idv/hmrciv/voiceId"
        {% else %} 
        "./success" 
      {% endif %}
    >

    <div class="govuk-form-group" data-required="" data-error="Enter your given names in the right format">
      <label class="govuk-label govuk-label--m " for="givenNames">
        Surname (1)
      </label>


      <input class="govuk-input govuk-input--width-20" id="givenNames" name="firstName" type="text">
    </div>

      

      <div class="govuk-form-group" data-required="" data-error="Enter your passport expiry date in the right format">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Issue Date (4a)
          </legend>

          <span id="dob-hint" class="govuk-hint">
            It's on the front of your driving licence. For example, 31 05 2024
          </span>

          <div class="govuk-date-input" id="ppExpiryDate">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateDay">
                  Day
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ppExpiryDateDay"
                  name="ppExpiryDateDay" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateMonth">
                  Month
                </label>

                <input class="govuk-input govuk-date-input__input 
            govuk-input--width-3   " id="ppExpiryDateMonth" name="ppExpiryDateMonth">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateYear">
                  Year
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="ppExpiryDateYear"
                  name="ppExpiryDateYear" type="number" pattern="[0-9]*">
              </div>
            </div>

          </div>
        </fieldset>

      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter your passport expiry date in the right format">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Expiry Date (4b)
          </legend>

          <span id="dob-hint" class="govuk-hint">
            It's on the front of your driving licence. For example, 31 05 2024
          </span>

          <div class="govuk-date-input" id="ppExpiryDate">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateDay">
                  Day
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ppExpiryDateDay"
                  name="ppExpiryDateDay" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateMonth">
                  Month
                </label>

                <input class="govuk-input govuk-date-input__input 
            govuk-input--width-3   " id="ppExpiryDateMonth" name="ppExpiryDateMonth">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateYear">
                  Year
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="ppExpiryDateYear"
                  name="ppExpiryDateYear" type="number" pattern="[0-9]*">
              </div>
            </div>

          </div>
        </fieldset>

      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter a UK photocard driving licence number, like JONES804018JA9CD">
        <label class="govuk-label govuk-label--m  " for="licenceNo">
          Licence number (5)
        </label>
        
        <div id="licenceNo-hint" class="govuk-hint">
          For example, JONES804018JA9CD
        </div>
        
        <input class="govuk-input govuk-input--width-20" id="licenceNo" name="licenceNo" type="text">
      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter the two characters after the licence number. It may be separated by a space or on a separate line">
        <label class="govuk-label govuk-label--m  " for="issueNo">
          Issue number
        </label>
        
        <div id="issueNo-hint" class="govuk-hint">
          It's the two characters after the licence number. It may be separated by a space or on a separate line
        </div>
        
        <input class="govuk-input govuk-input--width-5" id="issueNo" name="issueNo" type="text">
      </div>
      

      <input class="govuk-button " type="submit" value="Continue">

      <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>

      
        <!-- <details class="govuk-details govuk-!-margin-top-9">
          <summary class="govuk-details__summary govuk-details__summary--modifier">
            <span class="govuk-details__summary-text govuk-details__summary-text--modifier"
              style="display: block; text-decoration: underline; color: #005ea5; cursor: pointer; font-size: 16px">
              Get help with this page
            </span>
          </summary>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h3 class="govuk-heading">Get help with this service</h3>
              <p class="govuk-body">Don't include any personal or financial information. For example, your National
                Insurance or credit card numbers.</p>

              <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                  Name
                </label>
                <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                  Email
                </label>
                <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="what">
                  What were you doing?
                </label>
                <input class="govuk-input govuk-input--width-20" id="what" name="what" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="help">
                  What do you need help with?
                </label>
                <input class="govuk-input govuk-input--width-20" id="help" name="help" type="text">
              </div>
            </div>
          </div>

          <button type="submit" class="govuk-button">
            Send
          </button>

        </details>-->
    </form>
    
  </div>


  {% endblock %}