{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1h/braille.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What type of braille do you need?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item" onclick="set('uncontracted-braille')">
      <input class="govuk-radios__input" id="braille" name="braille" type="radio" value="Uncontracted braille (grade 1)">
      <label class="govuk-label govuk-radios__label" for="braille">
        Uncontracted braille (grade 1)
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('contracted-braille')">
      <input class="govuk-radios__input" id="braille-2" name="braille" type="radio" value="Contracted braille (grade 2)">
      <label class="govuk-label govuk-radios__label" for="braille-2">
        Contracted braille (grade 2)
      </label>
    </div>         
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
    </button>
</div>
</div>

<script>
  var redirectUrl = "";
  function set(inputValue) {

    if (inputValue === "uncontracted-braille") {
      sessionStorage.setItem('howWeWrite', 'Braille<br>Uncontracted braille (grade 1)');
      redirectUrl = "confirm-your-changes";
    } else {
      sessionStorage.setItem('howWeWrite', 'Braille<br>Contracted braille (grade 2)');
      redirectUrl = "confirm-your-changes";
    }
  }

  document.getElementById('radioForm').addEventListener('submit', function (event) {
    event.preventDefault();
   
    if (redirectUrl !== "") {
      window.location.href = redirectUrl;
    }
  });

</script>


{% endblock %}