{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1h/when-we-write-to-you.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="written-format-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    How should we write to you?
                </h1>
            </legend>
            <div id="written-format-hint" class="govuk-hint">
                <p class='govuk-hint'>Select the best option for you.
                <p>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item" onclick="set('standard-letter')">
                    <input class="govuk-radios__input" id="written-format" name="written-format" type="radio"
                        value="You can contact me by standard letter">
                    <label class="govuk-label govuk-radios__label" for="written-format">
                        	You can contact me by standard letter
                    </label>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item" onclick="set('large-print')">
                    <input class="govuk-radios__input" id="written-format-2" name="written-format" type="radio"
                        value="Large print">
                    <label class="govuk-label govuk-radios__label" for="written-format-2">
                        Large print
                    </label>
                </div>
                <div class="govuk-radios__item" onclick="set('font-colour-spacing-size')">
                    <input class="govuk-radios__input" id="written-format-3" name="written-format" type="radio"
                        value="Letter with changes to font, paper colour, spacing or print size">
                    <label class="govuk-label govuk-radios__label" for="written-format-3">
                        Letter with changes to font, paper colour or print size
                    </label>
                </div>
                <div class="govuk-radios__item" onclick="set('audio')">
                    <input class="govuk-radios__input" id="written-format-4" name="written-format" type="radio"
                        value="Audio">
                    <label class="govuk-label govuk-radios__label" for="written-format-4">
                        Audio
                    </label>
                </div>
                <div class="govuk-radios__item" onclick="set('braille')">
                    <input class="govuk-radios__input" id="written-format-5" name="written-format" type="radio"
                        value="Braille">
                    <label class="govuk-label govuk-radios__label" for="written-format-5">
                        Braille
                    </label>
                </div>
                <div class="govuk-radios__item" onclick="set('british-sign-language-video')">
                    <input class="govuk-radios__input" id="written-format-6" name="written-format" type="radio"
                        value="British Sign Language video">
                    <label class="govuk-label govuk-radios__label" for="written-format-6">
                        British Sign Language video
                    </label>
                </div>
                <div class="govuk-radios__item" onclick="set('microsoft-word-document')">
                    <input class="govuk-radios__input" id="written-format-7" name="written-format" type="radio"
                        value="Microsoft Word document">
                    <label class="govuk-label govuk-radios__label" for="written-format-7">
                        Microsoft Word document
                    </label>
                </div>
                <div class="govuk-radios__item" onclick="set('accessible-pdf')">
                    <input class="govuk-radios__input" id="written-format-8" name="written-format" type="radio"
                        value="PDF with accessible text">
                    <label class="govuk-label govuk-radios__label" for="written-format-8">
                        PDF with accessible text
                    </label>
                </div>
            </div>
        </fieldset>
        <script>
            var redirectUrl = "";
            function set(inputValue) {

                if (inputValue === "standard-letter") {
                    sessionStorage.setItem('howWeWrite', 'You can contact me by standard letter');
                    redirectUrl = "../../how-we-contact-you";
                } else if (inputValue === "large-print") {
                    sessionStorage.setItem('howWeWrite', 'Large print');
                    redirectUrl = "large-print";
                } else if (inputValue === "font-colour-spacing-size") {
                    sessionStorage.setItem('howWeWrite', 'Letter with changes to font, paper colour or print size');
                    redirectUrl = "font-colour-spacing-size";
                } else if (inputValue === "audio") {
                    sessionStorage.setItem('howWeWrite', 'Audio');
                    redirectUrl = "audio";
                } else if (inputValue === "braille") {
                    sessionStorage.setItem('howWeWrite', 'Braille');
                    redirectUrl = "braille";
                } else if (inputValue === "british-sign-language-video") {
                    sessionStorage.setItem('howWeWrite', 'British Sign Language video');
                    redirectUrl = "british-sign-language";
                } else if (inputValue === "microsoft-word-document") {
                    sessionStorage.setItem('howWeWrite', 'Microsoft Word document');
                    redirectUrl = "what-is-your-email/microsoft-word-document";
                } else {
                    sessionStorage.setItem('howWeWrite', 'PDF with accessible text');
                    redirectUrl = "what-is-your-email/pdf-with-accessible-text";
                }
            }

            document.getElementById('radioForm').addEventListener('submit', function (event) {
                event.preventDefault();

                if (redirectUrl !== "") {
                    window.location.href = redirectUrl;
                }
            });

        </script>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</form>

{% endblock %}
