{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-write-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          How we write to you update complete
        </h3>
        <p class="govuk-body">You have successfully changed how we write to you.</p>
      </div>
    </div>


    <h1 class="govuk-heading-l">
      Changes made
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When we write to you
        </dt>
        <dd class="govuk-summary-list__value" id="updatedValue">
        </dd>
      </div>
    </dl>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Continue",
      href: "/preferences/customer-view/how-we-contact-you.html",
      preventDoubleClick: true
      }) }}

      <!-- <a class="govuk-link" href="/preferences/customer-view/address-we-send-letters-to/abandon-journey.html">Cancel</a> -->
    </div>

  </div>

  <script>
    var divSection = document.getElementById('updatedValue');
    var howWeWrite = sessionStorage.getItem('howWeWrite');
    var howWeWriteArrary;
    if (howWeWrite) {
      howWeWriteArrary = howWeWrite.split("<br>");
    }

    if (divSection) {
      if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        divSection.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        divSection.innerHTML = "";
      }
    }

  </script>
</div>
</div>
{% endblock %}