{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you expecting a payment in the next six working days?
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Are you expecting a payment in the next six working days?
      </h1>

      <form class="form" action="/iteration-5/5a/are-you-expecting-a-payment-in-the-next-six-working-days" method="post">

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
          text: "We ask this to understand if your bank account changes will be complete in time for your next payment."
        }) }}





        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "are-you-expecting-a-payment-in-the-next-six-working-days",
          value: data['are-you-expecting-a-payment-in-the-next-six-working-days'],
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      value: "I-am-not-sure",
      text: "I am not sure"
    }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
