{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "preferences/customer-view/homepage",
  serviceName: "Customer view",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
  Customer view
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}



{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Account home</span>
      Sarah Phillips
    </h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Payments</h2>
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-3">
            <a class="govuk-link" href="end-page/what-happen-next-checknextpayments.html">Check your next payment</a>
          </li>
          <li class="govuk-!-margin-bottom-3">
            <a class="govuk-link" href="end-page/what-happen-next-viewpaymenthstory.html">View your payment history</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-!-padding-bottom-4"></div>
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-3">
            <a class="govuk-link" href="select-benefits-you-need-proof-of">Get a proof of benefit letter</a>
          </li>
          <li class="govuk-!-margin-bottom-3">
            <a class="govuk-link" href="my-notifications-pob">Your notifications&nbsp<span id="notifications" class="moj-notification-badge">3</span></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Documents</h2>
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-3">
            <a class="govuk-link" href="end-page/what-happen-next-get-letter.html">Get a letter to prove you get benefits</a>
          </li>
          <li class="govuk-!-margin-bottom-3">
            <a class="govuk-link" href="end-page/what-happen-next-uploadevidence.html">Upload evidence or send us documents</a>
          </li>
        </ul>
      </div>
    </div>-->
  </div>
</div>

{% endblock %}
