{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="account-home" method="post">
      
      <h1 class="govuk-heading-l">
        We are taking you to our identity checking service
      </h1>

      <p>To keep your information secure, you’ll need to register or sign in before you can access your details.</p>

      <p>If you need to register, we will ask you security questions.</p>

      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>

  </div>
</div>

{% endblock %}