{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="go-to-identity-check" method="post">


      {{ govukRadios({
        name: "how-did-you-find-out-about-this-service",
        value: data['how-did-you-find-out-about-this-service'],
        fieldset: {
          legend: {
            text: "How did you find out about this service?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "heard-about-on-phone",
            text: "I heard about it when I called my benefits on the phone",
            visuallyHiddenText: "I heard about it when I called my benefits on the phone"
          },
          {
            value: "job-centre",
            text: "I got a leaflet or an email invite from The Job Centre",
            visuallyHiddenText: "I got a leaflet or an email invite from The Job Centre"
          },
          {
            value: "family-or-friend",
            text: "A friend or family member told me about it",
            visuallyHiddenText: "A friend or family member told me about it"
          },
          {
            value: "somewhere-else",
            text: "I heard about it somewhere else",
            visuallyHiddenText: "I heard about it somewhere else"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}