{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="address-on-your-digital-copy" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "howLetter",
  fieldset: {
    legend: {
      text: "What kind of proof of benefit letter do you need?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Downloadable digital letter",
      text: "Downloadable digital letter"
    },
    {
      value: "Printed letter",
      text: "Printed letter",
      hint: {
        text: "Posted to your address"
      }
    },
    {
      value: "Both a digital letter and a printed letter",
      text: "Both a digital letter and a printed letter"
    }
  ]
}) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}