{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Download your letter
      </h1>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      You can now download your letter
    </h2>

    <p>You have requested proof of Employment and Support Allowance (ESA) and Personal Independence Payment (PIP) which you can now download as two separate PDF documents.</p>
      
    <p>If you need to find this letter again in the future visit <a href="my-notifications-pob">Your notifications</a> which can be accessed from your account home.</a></p>

    <div class="govuk-!-padding-bottom-2"></div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Download letters",
        href: ""
      }) }}

      {{ govukButton({
        text: "Go back to account home",
        href: "account-home-pob",
        classes: "govuk-button--secondary"
      }) }}
    </div>

</div>
</div>

{% endblock %}