{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Download your letter
      </h1>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

    <p>You can now download your proof of benefit letter. You will have one document for each benefit selected. We have also sent a copy of your proof of benefit letters to <a href="my-notifications-pob">Your notifications</a></p>
      
    <div class="govuk-!-padding-bottom-2"></div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Download",
        href: ""
      }) }}

      {{ govukButton({
        text: "Go back to account home",
        href: "account-home-pob",
        classes: "govuk-button--secondary"
      }) }}
    </div>

</div>
</div>

{% endblock %}