{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="letter-or-digital" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "which benefits",
          fieldset: {
            legend: {
              text: "Which benefits do you need proof of?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you select more than one benefit, you will get separate letters for each benefit."
          },
          items: [
            {
              value: "Employment and Support Allowance (ESA)",
              text: "Employment and Support Allowance (ESA)"
            },
            {
              value: "Personal Independence Payment (PIP)",
              text: "Personal Independence Payment (PIP)"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}