{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Get proof of your benefits
    </h1>

    <p>Use this service to get proof of your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Attendance Allowance</li>
      <li>Disability Living Allowance (DLA) for adults</li>
      <li>any type of Employment and Support Allowance (ESA)</li>
      <li>Income Support</li>
      <li>Jobseeker’s Allowance (JSA)</li>
      <li>Pension Credit</li>
      <li>Personal Independence Payment (PIP)</li>
      <li>State Pension</li>
    </ul>

    <p>We send proof of benefits in the post, which can take up to one week to arrive.</p>

    <h2 class="govuk-heading-m">
      When to contact us
    </h2>

    <p>You cannot use this service if you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>need proof of a different benefit</li>
      <li>are an appointee or manage somebody else’s benefits</li>
      <li>have changed address and need to tell us your new one</li>
      <li>need a letter in Welsh or an alternative format, like braille</li>
      <li>do not live in Great Britain or Northern Ireland</li>
    </ul>

    <p>Find the contact details for the benefit that pays you in a letter they’ve sent to you, or in <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/browse/benefits">guidance about the benefit on GOV.UK (opens in a new tab)</a>.</p>

    <p>If you need proof of Universal Credit, <a class="govuk-link" href="https://www.gov.uk/sign-in-universal-credit">sign in to your Universal Credit account</a>.</p>

    <h2 class="govuk-heading-m">
      Before you start
    </h2>

    <p>You’ll need to register if you have not used this service before.</p>
    
    <p>To register, you’ll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an email address</li>
      <li>a mobile phone</li>
      <li>your National Insurance number</li>
    </ul>

  
    <p>To keep your information secure, we will ask you security questions to prove your identity.</p>

    <h3 class="govuk-heading-s">If you have already registered</h3>

    <p>You’ll need the email address, mobile phone and password you used to register.</p>


    {{ govukButton({
      text: "Start",
      href: "how-did-you-find-out-about-this-service",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}