{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="check-your-answers" method="post">

      <h1 class="govuk-heading-l" >Where we send your letters</h1>

      <!-- Different text shown based on research setup address type:
           - If researchSetUpAddress is 'home', shows "Your address is saved as:"
           - If researchSetUpAddress is anything else, shows "The address we send your letters to is saved as:"
           This allows us to test  different content variations during research sessions -->

      {% if data.researchSetUpAddress === 'home' %}
        <p>Your address is saved as:</p>
      {% else %}
        <p>The address we send your letters to is saved as:</p>
      {% endif %}

      <div class="govuk-inset-text">
        {% if data.researchSetUpAddress === 'home' %}
          <p>72 Guild Street
                <br>London
                <br>SE23 6FH
              </p>
        {% else %}
          <p>12 Gregg Lane
                <br>London
                <br>SE12 SFH
              </p>
        {% endif %}
      </div>

      <!-- Radio button group to confirm if address is correct
           If user selects 'No', they will be redirected to cannot-use-service page
           If user selects 'Yes', they will proceed to check-your-answers page -->
      {{ govukRadios({
        name: "confirmLetterSend",
        fieldset: {
          legend: {
            text: "Is your address correct?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>


{% endblock %}