{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

  <!-- This page is shown when a user has no benefits in their account
       It is triggered by the list-benefits-answer route when researchSetUpBenefits 
       is either empty or undefined -->
       <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
          <h1 class="govuk-heading-l">
            Contact us
          </h1>
    
            <p>
              We cannot find a record of the benefits you currently get.
            </p>
    
            <p>
              If you think this is wrong, contact the benefit that pays you.
            </p>
    
            <p>
              Find their contact details in a letter they’ve sent to you, or in <a href="https://www.gov.uk/browse/benefits" class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a new tab)</a>.
            </p>
    
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Sign out",
                href: "signout"
              }) }}
    
              {{ govukButton({
                text: "Go back to account home",
                href: "account-home",
                classes: "govuk-button--secondary"
              }) }}
            </div>
    
        </div>
      </div>
{% endblock %}