{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% include "round-5/breadcrumbs/colleague-view/2d/email.html" %}

{% endblock %}

{% block content %}

{% if data['email-security-code'] == '283194' %}
<script>
    window.location.href = 'confirm-your-changes'
</script>
{% elseif data['email-security-code'] == '' %}
<script>
  window.location.href = '/round-5/colleague-view/2d/email/email-code'
</script>
{% endif %}

{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "The security code does not match the one we sent",
        href: "#email-security-code"
        }
    ]
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Ask customer to check their email</h1>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    We have sent an email to:<br>
                    <strong class="govuk-!-font-weight-bold">
                    {% if data['register-email-address']%}
                        {{data['register-email-address'] | lower }}
                    {% else %} 
                        emailaddress@email.com
                    {% endif %}
                    </strong>
                </p>
            </div>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The email will come from DWP login and includes a security code. If you do not get an email, check your spam folder.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="email-code-check" method="post" class="form">
                <div class="govuk-form-group  govuk-form-group--error govuk-!-margin-top-6">
                    <label class="govuk-label" for="email-security-code">
                        Enter your security code
                    </label>
                    <span id="security-code-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> The security code does not match the one we sent
                    </span>
                    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="email-security-code" name="email-security-code" type="text" value="{{ data['email-security-code'] }}">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-email">I did not get the email</a></p>
        </div>
    </div>
{% endblock %}