{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5-parked/breadcrumbs/customer-view/1i/landline-number.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Enter your new landline phone number
                </h1>
              </legend>
            </fieldset>

            <div id="more-detail-hint" class="govuk-hint">
              For international numbers include the country code
            </div>


            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "Landline number"
              },
              id: "landline",
              name: "landlineNumber",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-input--width-20"
            }) }}



<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>

  </div>

  <script>
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("landline").value && document.getElementById("landline").value ) {
        window.location.href = "/round-5-parked/customer-view/1i/landline-number/confirm-your-changes.html"
      } else {
        window.location.href = "/round-5-parked/customer-view/1i/landline-number/error/landline-number.html"
      }

    }
  </script>

{% endblock %}
