{% extends "layouts/main.html" %}

{% block pageTitle %}
  Email code - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">We have sent you an email with your security code</h1>

            <p>It should take one minute to arrive.</p>

            <form action="reset-email-not-registered" method="post" class="form">
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="width-20">
                        Security code
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="reset-code" name="reset-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-email">I did not get the email</a></p>
        </div>
    </div>
{% endblock %}
