{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. None of your data will be stored from this test'
}) }}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-three-quarters">


        <h2 class="govuk-heading-l">How we contact customer</h2>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact preferences
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Preferred language
                </dt>
                  {% if data.SelectLanguageSET %}
                    <p>{{ data.SelectLanguageSET }}</p>
                  {% else %}
                    <p>English</p>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/preferences-agent/agent-view/language/language-selection">
                      Change<span class="govuk-visually-hidden">When we speak to them</span>
                    </a>
                  </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How we speak to them
                </dt>
                <p>Textphone for the deaf and hard of hearing</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li class="govuk-body"><a href="#" class="govuk-link">02*** *** 101</a></li>
                    </ul>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/preferences-agent/agent-view/contact-preferences-agent/how-we-speak-to-you/speaking-selection">
                      Change<span class="govuk-visually-hidden">How we speak to them</span>
                    </a>
                  </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How we write to them
                </dt>
                  {% if data.HowWeWriteToYouSET %}
                    <p>{{ data.HowWeWriteToYouSET }}</p>
                  {% else %}
                    <p>They do not have a writing preference</p>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/preferences-agent/agent-view/contact-preferences-agent/how-we-write-to-you/writing-selection">
                      Change<span class="govuk-visually-hidden">How we write to you</span>
                    </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Alternative formats
                </dt>
                <dd class="govuk-summary-list__value" id="mainHowWeWriteDiv" name="mainHowWeWriteDiv">
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/preferences-agent/agent-view/alternative-formats/when-we-write-to-you/how-should-we-write-to-you">
                    Change<span class="govuk-visually-hidden">Choose an alternative format </span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address we send letters to
                </dt>
                <p class="govuk-body"><a href="#" class="govuk-link">** ***** ******<br>******<br>SE23 6FH</a></p>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="address-we-send-letters-to/which-address-should-we-send-letters-to">Change<span class="govuk-visually-hidden"> address we send letters to</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email addresses
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"><a href="#" class="govuk-link">sar***********@example.com</a></p>
                  <p class="govuk-body"><a href="#" class="govuk-link">sar******@email.com</a></p>
                  <p class="govuk-body"><a href="#" class="govuk-link">s.l**@university.ac.uk</a></p>
                  </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="email/email-list">Change<span class="govuk-visually-hidden"> email</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Mobile phone numbers
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"><a href="#" class="govuk-link">07*** *** 457</a></p>
                  <p class="govuk-body"><a href="#" class="govuk-link">07*** *** 982</a></p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="phone-number/add/phone-number">Add<span class="govuk-visually-hidden"> add mobile phone number</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="phone-number/phone-number-list">Change<span class="govuk-visually-hidden"> change mobile phone numbers</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Landline number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"><a href="#" class="govuk-link">01*** *** 001</a></p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="landline-number/add/landline-number">Add<span class="govuk-visually-hidden"> add landline phone number</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="landline-number/landline-number-list">Change<span class="govuk-visually-hidden"> change landline phone number</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>



</div>




<script>

  var address = sessionStorage.getItem('address');

  var newAddressDiv = document.getElementById('newAddressDiv');

  if (newAddressDiv) {
    if(address) {
      newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
    } else {
      newAddressDiv.innerHTML = "	72 Guild Street<br>London<br>SE23 6FH";
    }
  }

  var email = sessionStorage.getItem('email');

  var newEmailDiv = document.getElementById('newEmailDiv');

  if (newEmailDiv) {
    if(email) {
      newEmailDiv.innerHTML = email;
    } else {
      newEmailDiv.innerHTML = "sarah.phillips@example.com";
    }
  }

  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }

  var landline = sessionStorage.getItem('landline');
  var mainLandlineDiv = document.getElementById('mainLandlineDiv');
  if (mainLandlineDiv) {
    if(landline) {
      mainLandlineDiv.innerHTML = landline;
    } else {
      mainLandlineDiv.innerHTML = "01632 960 001";
    }
  }

  var mainHowWeConnectDiv = document.getElementById('mainHowWeConnectDiv');
  var howWeConnect = sessionStorage.getItem('howWeConnect');
  var howWeConnectArrary;
  if (howWeConnect) {
    howWeConnectArrary = howWeConnect.split("<br>");
  }
 
  if (mainHowWeConnectDiv) {
    if (howWeConnect && howWeConnectArrary.length > 0) {
        var list = "";

        if (howWeConnectArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeConnectArrary.length; i++) {
            list += `<li>${howWeConnectArrary[i]}</li>`
          }
          list += "</ul>"
        }

        mainHowWeConnectDiv.innerHTML = `<p class='govuk-body'>${howWeConnectArrary[0]}</p>${list}`;
      } else {
        mainHowWeConnectDiv.innerHTML =  "<p>They do not need an alternative format</p>";
      }
  }

  var mainHowWeWriteDiv = document.getElementById('mainHowWeWriteDiv');
  var howWeWrite = sessionStorage.getItem('howWeWrite');
  var howWeWriteArrary;
  if (howWeWrite) {
    howWeWriteArrary = howWeWrite.split("<br>");
  }
 
  if (mainHowWeWriteDiv) {
    if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        mainHowWeWriteDiv.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        mainHowWeWriteDiv.innerHTML =  "<p>They do not need an alternative format</p>";
      }
  }

  

</script>

{% endblock %}