{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/landline-number-singular.html" %}


{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Landline phone number</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landline
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><a href="#" class="govuk-link" id="obfuscatedLandline" onclick='testFunction(event, "obfuscatedLandline")'>01*** *** 001</a></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change landline phone number</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> remove landline phone number</span></a>
                </li>
              </ul>
            </dd>
          </div>
          
        </dl>

      </div>
      </div>
</div>


<script>

function testFunction(event, id) {

event.preventDefault()

var dataToUnobfuscate = document.getElementById(id);

switch(id) {
  case "obfuscatedLandline":
    dataToUnobfuscate.innerHTML = "01234 567 001"
    break;
  default:
    return;
}
}

  var landline = sessionStorage.getItem('landline');
  var mainLandlineDiv = document.getElementById('mainLandlineDiv');
  if (mainLandlineDiv) {
    if(landline) {
      mainLandlineDiv.innerHTML = landline;
    } else {
      mainLandlineDiv.innerHTML = "01632 960 001";
    }
  }
</script>

{% endblock %}