{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. None of your data will be stored from this test'
}) }}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}


{% block content %}


<div class="govuk-width-container">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">View their personal details</h1>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Personal details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Sarah Philips
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  5 January 1978
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  National Insurance number 
                </dt>
                <dd class="govuk-summary-list__value">
                  QQ 12 34 56 Q
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Home address
                </dt>
                <dd class="govuk-summary-list__value">
                  72 Guild Street<br>London<br>SE23 6FH
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefits
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Maternity Allowance (MA)</p>
                  <p class="govuk-body">Employment and Support Allowance (ESA)</p>
                  <p class="govuk-body">Personal Independence Payment (PIP)</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  var address = sessionStorage.getItem('address');

  var newAddressDiv = document.getElementById('newAddressDiv');

  if (newAddressDiv) {
    if(address) {
      newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
    } else {
      newAddressDiv.innerHTML = "Same as home address";
    }
  }

  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }
</script>

{% endblock %}