{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "View your personal details",
          href: "#"
          }
      ]
      }) }}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Personal details
      </h1>
      <!--Personal details form-->
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Name
          </dt>
          <dd class="govuk-summary-list__value">
              Sarah Philips
          </dd>
          </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
              5 January 1978
          </dd>
          </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
              AB 12 34 56 C
          </dd>
          </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Home address
          </dt>
          <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
          </dd>
          </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address we send letters to
          </dt>
          <dd class="govuk-summary-list__value">
            220 St Vincent Street<br> Glasgow<br> G2 5SG
          </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Mobile
              </dt>
              <dd class="govuk-summary-list__value">
                  <p class="govuk-body">07700 900 457</p>
              </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Home phone
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p class="govuk-body">01234 567 890</p>
                  </dd>
                  </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Email
              </dt>
              <dd class="govuk-summary-list__value">
                  <p class="govuk-body">sarah.phillips@example.com</p>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Benefits
            </dt>
            <dd class="govuk-summary-list__value">
                <div>
                  <p>Employment and Support Allowance (ESA)
                  <br><br>Personal Independence Payment (PIP)</p>
                </div>
            </dd>
        </div>
    </dl>
  </div>
</div>

{% endblock %}
