{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}


{% include "round-4/breadcrumbs/colleague-view/2c/british-sign-language-email.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Enter your email
                </h1>
              </legend>
            </fieldset>
            <p class="govuk-body">We will send the MPEG file to this email address.</p>

            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "Email address"
              },
              id: "mp3-email-address",
              name: "mp3-email-address",
              type: "email",
              autocomplete: "email"
            }) }}

            <div class="govuk-inset-text">
              We will try use this option when we can. There may be times where we have to send a letter by post instead for legal reasons.
            </div>

<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>


<script>
  function check3() {
    console.log(document.getElementById("yes"))

    if (document.getElementById("mp3-email-address").value && document.getElementById("mp3-email-address").value ) {
      window.location.href = "../confirm-your-changes.html"
    } else {
      window.location.href = "error/what-is-your-email.html"
    }

  }
</script>

  </div>


{% endblock %}
