{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"   
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/alternative-formats/large-print" method="post" novalidate>
        
        {{ govukRadios({
          id: "large-print",
          name: "[altFormats].[written].[options].[largePrint]",
          value: data["altFormats"]["written"]["options"]["largePrint"],
          fieldset: {
            legend: {
              text: "What size print do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
            
          },
          hint: {
            text: "Our letters are usually in 12-point Arial font."  
         },

          items: [
            {
              value: "large-print-16",
              text: "large-print-16" | getLabel
            },
            {
              value: "large-print-18",
              text: "large-print-18" | getLabel
            },
            {
              value: "large-print-24",
              text: "large-print-24" | getLabel
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}


{# 

, {
    checked: data["altFormats"]["written"]["large-print-other"],
    text: "Other",
    conditional: {
      html: fontSizeHtml
    }
  }

#}