{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"  
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/alternative-formats/signing-lipspeaking" method="post" novalidate>
        
        {{ govukRadios({
          id: "signing-lipspeaking",
          name: "[altFormats].[spoken].[options].[signingLipspeaking]",
          value: data["altFormats"]["spoken"]["options"]["signingLipspeaking"],
          fieldset: {
            legend: {
              text: "What signing or lipspeaking service do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "british-sign-language-interpreter",
              text: "british-sign-language-interpreter" | getLabel
            },
            {
              value: "deafblind-manual-alphabet",
              text: "deafblind-manual-alphabet" | getLabel
            },
            {
              value: "hands-on-signing",
              text: "hands-on-signing" | getLabel
            },
            {
              value: "lipspeaking",
              text: "lipspeaking" | getLabel
            },
           
            {
              value: "sign-supported-english",
              text: "sign-supported-english" | getLabel
            }
            
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}


