{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

  {%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

  {{
    hmrcLanguageSelect({
      language: 'en',
      en: {
        href: '?en'
      },
      cy: {
        href: '?cy'
      }
    })
  }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">Check your details before you send them</h1>

    <form class="form" action="check-your-details-answer" method="post" novalidate>

      <div style="display: flex; justify-content: space-between; align-items: center;" >
        <h2 class="govuk-heading-m">Bank details</h2>
        <a class="govuk-link govuk-body" href="#">Change<span class="govuk-visually-hidden"> bank details</span></a>
      </div>

      <!-- TODO add blank text for building society. -->
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name on account
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nameOnTheAccount'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sortCode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['accountNumber'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building society roll number or credit union membership number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['rollNumber'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Send your new details</h2>
      
      <p class="govuk-body">When you send this information, you confirm that the details you have given us are correct, and you believe they are true.</p>

      {{ govukButton({
        text: "Confirm and send"
      }) }}

    </form>
    
    </div>
  </div>

{% endblock %}




<!-- {% for benefit in data['which-benefits-do-you-get'] %}
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="{{ benefit }}" name="Which-benefits-do-you-get-1" type="checkbox" value= "{{ benefit }}">
  <label class="govuk-label govuk-checkboxes__label" for="{{ benefit }}">
    {{ benefit }}
  </label>
  <div id="paid-account" class="govuk-hint govuk-checkboxes__hint">
    Paid into account ending 1234
</div>
</div>
{% endfor %} -->


