{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Before you change account details
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your next payment
      </h1>

      <p>If you change your bank details now, your next benefit payment should go into your new bank account.</p>

      <form class="form" action="/iteration-5-1/5-1a/before-you-change-account-details" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "before-you-change-account-details",
          value: data['before-you-change-account-details'],
          fieldset: {
            legend: {
              text: "Do you want to continue?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, continue using this service
              Hint text"
            },
            {
              value: "no",
              text: "No, contact my benefit office"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
