

{% block pageTitle %}

{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "../homepage"
          },
          {
          text: "How we contact you",
          href: "../how-we-contact-you"
        },
          {
          text: "Emails",
          href: "#"
        }
      ]
      }) }}

{% endblock %}


{% block content %}



{% endblock %}
