{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5-parked/breadcrumbs/customer-view/1i/phone-number.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Mobile phone number update complete
            </h3>
            <p class="govuk-body">You have successfully changed your mobile phone number.</p>
          </div>
          </div>
      

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Changes made
                </h1>
              </legend>
            </fieldset>


{%- from "govuk/components/tag/macro.njk" import govukTag -%}


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Mobile phone number</th>
        <td class="govuk-table__cell">
          07815 701 922
      </tr>
    </tbody>
  </table>



{% from "govuk/components/button/macro.njk" import govukButton %}

<form id="phoneForm" action="../how-we-contact-you.njk" method="POST">
  <input type="hidden" name="phone" id="phoneInput"
    value="07815 701 922">
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button">Continue</button>
  </div>
</form>
<script>
  document.getElementById('phoneForm').addEventListener('submit', function (event) {
    event.preventDefault();
    var phone = document.getElementById('phoneInput').value;
    sessionStorage.setItem('phone', phone);
    window.location.href = '../how-we-contact-you.njk';
  });
</script>

        </div>

</div>

{% endblock %}
