{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">February - March 2025</span>
        Round 1 prototypes
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Your notifications
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Description</th>
            <th scope="col" class="govuk-table__header app-custom-class">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 1</th>
            <td class="govuk-table__cell">The use of a simple <a href="https://design-system.service.gov.uk/components/table/" class="govuk-link">Table</a> format to highlight notifications.</td>
          <td class="govuk-table__cell"><a href="ideas/1.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>
          
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 2</th>
            <td class="govuk-table__cell">Incorporates more space and content in a <a href="https://design-system.service.gov.uk/components/summary-list/" class="govuk-link">Summary card</a> type format.</td>
          <td class="govuk-table__cell"><a href="ideas/2.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 3</th>
            <td class="govuk-table__cell">Separates each notification by benefit.</td>
          <td class="govuk-table__cell"><a href="ideas/3/3.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 3.1</th>
            <td class="govuk-table__cell">Benefit notifications are separates by a holding-screen.</td>
          <td class="govuk-table__cell"><a href="ideas/3/tiles.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 4</th>
            <td class="govuk-table__cell">Separates each notification by notification-type.</td>
          <td class="govuk-table__cell"><a href="ideas/4.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 5</th>
            <td class="govuk-table__cell">Detailed wishlist of several features we have hypothesised are needed.</td>
          <td class="govuk-table__cell"><a href="ideas/5.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>
    
      </tbody>

      
    </tbody>
    



  
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p>Original <a href="ideation-menu.html">ideation ideas</a>.</p>



<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">
  Read your message
  </h2>

  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Name</th>
          <th scope="col" class="govuk-table__header app-custom-class">Description</th>
          <th scope="col" class="govuk-table__header app-custom-class">Action</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification prototype 1</th>
          <td class="govuk-table__cell">[content needed]</td>
        <td class="govuk-table__cell"><a href="ideas/messages/1.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification prototype 2</th>
          <td class="govuk-table__cell">[content needed]</td>
        <td class="govuk-table__cell"><a href="ideas/messages/2.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>
  
</table>
</div>




{% endblock %}
