{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">February - May 2025</span>
        Round 1 - 2 prototypes
      </h1>

    </div>
  </div>

    <h2 class="govuk-heading-m">
    Round 2 - Your notifications - Remote sessions
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Description</th>
            <th scope="col" class="govuk-table__header app-custom-class">Action</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 9</th>
            <td class="govuk-table__cell">Incorporates strange code names.</td>
          <td class="govuk-table__cell"><a href="ideas/9.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 10</th>
            <td class="govuk-table__cell">Main iterations implmented back on Round 1 of testing</td>
          <td class="govuk-table__cell"><a href="ideas/10.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 11</th>
            <td class="govuk-table__cell"><b>Option A:</b> opening state with a welcome notification</td>
          <td class="govuk-table__cell"><a href="ideas/11.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 12</th>
            <td class="govuk-table__cell"><b>Option B:</b> empty state with a message</td>
          <td class="govuk-table__cell"><a href="ideas/12.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 13</th>
            <td class="govuk-table__cell">Proof of benefit letter added to <b>Your notifications</b></td>
          <td class="govuk-table__cell"><a href="ideas/13.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 14</th>
            <td class="govuk-table__cell">Static journey integrating the Proof of benefit letter journey</td>
          <td class="govuk-table__cell"><a href="ideas/14/account-home.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 15</th>
            <td class="govuk-table__cell">Only 6 notifications (nice looking)</td>
          <td class="govuk-table__cell"><a href="ideas/15.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 16</th>
            <td class="govuk-table__cell">Only 6 notifications (bad looking)</td>
          <td class="govuk-table__cell"><a href="ideas/16.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

      </tbody>

      
    </tbody>
    



  
</table>
</div>

<div class="govuk-!-padding-bottom-9"></div>

  <h2 class="govuk-heading-m">
    Round 1 - Your notifications - Remote sessions
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Description</th>
            <th scope="col" class="govuk-table__header app-custom-class">Action</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 6</th>
            <td class="govuk-table__cell">Incorporates 'Due date by 'Day Month Year'' section into Prototype 7.</td>
          <td class="govuk-table__cell"><a href="ideas/6.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>
          
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 7</th>
            <td class="govuk-table__cell">Iteration of Prototype 4 from the Job Centre visits.</td>
          <td class="govuk-table__cell"><a href="ideas/7/tiles.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 8</th>
            <td class="govuk-table__cell">Splits Prototype 7 into two tables, one for Read and one for Unread notifitications, with tags.</td>
          <td class="govuk-table__cell"><a href="ideas/8.html" class="govuk-link">View</a></td>
          </tr>
        </tbody>

      </tbody>

      
    </tbody>
    



  
</table>
</div>


  

  <div class="govuk-!-padding-bottom-9"></div>

  <h2 class="govuk-heading-m">
    Round 1 - Your notifications - March Job Centre
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Description</th>
            <th scope="col" class="govuk-table__header app-custom-class">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 1</th>
            <td class="govuk-table__cell">The use of a simple <a href="https://design-system.service.gov.uk/components/table/" class="govuk-link">Table</a> format to highlight notifications.</td>
          <td class="govuk-table__cell"><a href="ideas/1.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>
          
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 2</th>
            <td class="govuk-table__cell">Benefit notifications are separates by a holding-screen.</td>
          <td class="govuk-table__cell"><a href="ideas/2/tiles.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 3</th>
            <td class="govuk-table__cell">Separates each notification by notification-type.</td>
          <td class="govuk-table__cell"><a href="ideas/3/tiles.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 4</th>
            <td class="govuk-table__cell">Detailed wishlist of several features we have hypothesised are needed.</td>
          <td class="govuk-table__cell"><a href="ideas/4.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Prototype 5</th>
            <td class="govuk-table__cell">Iterations from first Job Centre visit.</td>
          <td class="govuk-table__cell"><a href="ideas/5.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Bonus Prototype</th>
            <td class="govuk-table__cell">Separates each notification by benefit.</td>
          <td class="govuk-table__cell"><a href="ideas/bonus.html" class="govuk-link">View</a></td>
          </tr>
          
        </tbody>
    
      </tbody>

      
    </tbody>
    



  
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p>Original <a href="ideation-menu.html">ideation ideas</a>.</p>



<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">
  Read your notification
  </h2>

  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Name</th>
          <th scope="col" class="govuk-table__header app-custom-class">Description</th>
          <th scope="col" class="govuk-table__header app-custom-class">Action</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 1</th>
          <td class="govuk-table__cell">Basic notification with a 'Get help' feature</td>
        <td class="govuk-table__cell"><a href="ideas/messages/1.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 2</th>
          <td class="govuk-table__cell">Basic notification type used in Round 1</td>
        <td class="govuk-table__cell"><a href="ideas/messages/2.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 3</th>
          <td class="govuk-table__cell">Adds in additional example content provided by architecture into a two thirds column</td>
        <td class="govuk-table__cell"><a href="ideas/messages/3.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 4</th>
          <td class="govuk-table__cell">Splits into example content provided by architecture into a two thirds column and a one third column</td>
        <td class="govuk-table__cell"><a href="ideas/messages/4.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 5</th>
          <td class="govuk-table__cell">Breaks up the additional content within a grey container</td>
        <td class="govuk-table__cell"><a href="ideas/messages/5.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 6</th>
          <td class="govuk-table__cell">Adds in the example content via a 'Additional information (opens in new tab)' link</td>
        <td class="govuk-table__cell"><a href="ideas/messages/6.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML notification type 7</th>
          <td class="govuk-table__cell">Adds repetative content to right hand column in a grey container</td>
        <td class="govuk-table__cell"><a href="ideas/messages/7.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">What an email could look like</td>
        <td class="govuk-table__cell"><a href="ideas/messages/email.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Text message</th>
          <td class="govuk-table__cell">What a text message could look like</td>
        <td class="govuk-table__cell"><a href="ideas/messages/text-message.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Proof of benefit letter</th>
          <td class="govuk-table__cell">Proof of benefit letter</td>
        <td class="govuk-table__cell"><a href="ideas/messages/proof-of-benefit.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>
  
</table>
</div>

<div class="govuk-!-padding-bottom-8"></div>

<h2 class="govuk-heading-m">
  HTML structure experiments
  </h2>

  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Name</th>
          <th scope="col" class="govuk-table__header app-custom-class">Description</th>
          <th scope="col" class="govuk-table__header app-custom-class">Action</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML</th>
          <td class="govuk-table__cell">Raw HTML</td>
        <td class="govuk-table__cell"><a href="ideas/messages/test-html.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML 1</th>
          <td class="govuk-table__cell">Removing features like <b>style="font-size: 12px;"</b> and <b>strong</b></td>
        <td class="govuk-table__cell"><a href="ideas/messages/test-html-1.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML 2</th>
          <td class="govuk-table__cell">Adding in GDS code like <b>h2 class="govuk-heading-m"</b></td>
        <td class="govuk-table__cell"><a href="ideas/messages/test-html-2.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML 3</th>
          <td class="govuk-table__cell">Adding code into a <b>govuk-grid-column-two-thirds</b> container</td>
        <td class="govuk-table__cell"><a href="ideas/messages/test-html-3.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML 4</th>
          <td class="govuk-table__cell">Adding code into a <b>govuk-grid-column-two-thirds</b> and <b>govuk-grid-column-one-third</b> container</td>
        <td class="govuk-table__cell"><a href="ideas/messages/test-html-4.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HTML 5</th>
          <td class="govuk-table__cell">Adding in a DWP logo</td>
        <td class="govuk-table__cell"><a href="ideas/messages/test-html-5.html" class="govuk-link">View</a></td>
        </tr>
      </tbody>
  
</table>
</div>




{% endblock %}
