{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your details before you send them</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account details	
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/iteration-5-1/5-1a/payment-in-progress/enter-your-bank-building-society-or-credit-union-account-details"><b>Change</b><span class="govuk-visually-hidden"> name</span></a>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Name on account
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Phillips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              65-43-21
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Account number	
            </dt>
            <dd class="govuk-summary-list__value">
              87654321
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Building society roll number or credit union membership number
            </dt>
            <dt class="govuk-summary-list__value">
              Not provided
            </dt>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">


    <h2 class="govuk-heading-m">
      Send your new details
    </h2>

    <p>
      When you send this information, you confirm that the details you have given us are correct, and you believe they are true.      </p>

    <form action="/iteration-5-1/5-1a/payment-in-progress/we-are-updating-your-new-bank-details" method="post" novalidate>

      {{ govukButton({
        text: "Confirm and send"
      }) }}

    </form>

</div>



    </div>
  </div>

{% endblock %}




{% for benefit in data['which-benefits-do-you-get'] %}
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="{{ benefit }}" name="Which-benefits-do-you-get-1" type="checkbox" value= "{{ benefit }}">
  <label class="govuk-label govuk-checkboxes__label" for="{{ benefit }}">
    {{ benefit }}
  </label>
  <div id="paid-account" class="govuk-hint govuk-checkboxes__hint">
    Paid into account ending 1234
</div>
</div>
{% endfor %}


