{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/preferred-contact-method.html" %}

{% endblock %}

{% block content %}



<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Which language should we write to you in?
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="selectedLanguage" name="language" type="radio" value="english">
          <label class="govuk-label govuk-radios__label" for="selectedLanguage">
            English
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="selectedLanguage-2" name="language" type="radio" value="welsh">
          <label class="govuk-label govuk-radios__label" for="selectedLanguage-2">
            Welsh
          </label>
        </div>
      </div>
    </fieldset>

    <div class="govuk-!-padding-bottom-6"></div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
        {{ govukButton({
            text: "Continue",
            href: "confirm-your-changes.html",
            preventDoubleClick: true
            }) }}
  
      </div>


  </div>

{% endblock %}