{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1g/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Confirm your changes
                </h1>
              </legend>
            </fieldset>


{%- from "govuk/components/tag/macro.njk" import govukTag -%}

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">New address we send letters to</th>
        <td class="govuk-table__cell">
          58 Wellington House<br> 
          Windsor Street<br>
          South Gosforth<br>
          Newcastle upon Tyne<br>
          NE3 1YL
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Start date</th>
        <td class="govuk-table__cell">
          31 March 2024
        </td>
      </tr>
    </tbody>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Previous address we sent letters to</th>
        <td class="govuk-table__cell">
          72 Guild Street<br>London<br>SE23 6FH
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">End date</th>
        <td class="govuk-table__cell">
          30 March 2024
        </td>
      </tr>
    </tbody>
  </table>



  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
      {{ govukButton({
          text: "Confirm",
          href: "/round-4/customer-view/1g/address-we-send-letters-to/updated-address.html",
          preventDoubleClick: true
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--warning",
            href: "/round-4/customer-view/1g/address-we-send-letters-to/abandon-journey.html"
          }) }}

      <!-- <a class="govuk-link" href="/round-4/customer-view/1g/address-we-send-letters-to/abandon-journey.html">Cancel</a> -->
    </div>

        </div>

</div>

{% endblock %}
