{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1g/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
      Enter the new UK address we can send letters to
    </h1>
  </legend>
  <div id="changed-name-hint" class="govuk-hint">
    Enter as many parts of the new address as you can.
  </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Address line 1
      </label>
      <div id="searchString-hint" class="govuk-hint">
        For example, building number or name.
    </div>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-2">
        Address line 2 (optional)
      </label>
      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line3">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-town">
        Town or city
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        County (optional)
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
    </div>
  
    <!--{{ govukButton({
        text: "Continue",
        href: "/round-4/customer-view/1g/address-we-send-letters-to/update-address-check.html"
      }) }} -->
      
      <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>
      
    <!-- <div>
        <a href="/round-4/customer-view/1g/address-we-send-letters-to/update-address-1.html" class="govuk-body-m">Find an address
      </a>
      </div> -->

  </fieldset>

  </div>

  <script>
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("address-line-1").value && document.getElementById("address-town").value && document.getElementById("address-postcode").value ) {
        window.location.href = "/round-4/customer-view/1g/address-we-send-letters-to/when-did-you-start-using-this-address.html"
      } else {
        window.location.href = "/round-4/customer-view/1g/address-we-send-letters-to/error/manual-entry.html"
      }

    }
  </script>

  </div>

  {% endblock %}