{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/how-we-contact-you.html" %}


{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h2 class="govuk-heading-l">Contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address we send letters to
            </dt>
            <dd class="govuk-summary-list__value" id="newAddressDiv" name="newAddressDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-we-send-letters-to/which-address-should-we-send-letters-to">Change<span class="govuk-visually-hidden"> address we send letters to</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Emails
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body" id="newEmailDiv" name="newEmailDiv"></p>
            <p class="govuk-body">sarah.lee@email.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> add email</span></a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="govuk-link" href="email/email-list">Change<span class="govuk-visually-hidden"> email</span></a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone numbers
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body" id="mainPhoneDiv" name="mainPhoneDiv"></p>
              <p class="govuk-body">07700 900 982</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> add mobile phone number</span></a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="govuk-link" href="phone-number/phone-number-list">Change<span class="govuk-visually-hidden"> change mobile phone numbers</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landline number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">01632 960 001</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> add landline phone number</span></a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change landline phone number</span></a>
            </dd>
          </div>




        </dl>
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h2 class="govuk-heading-l">Alternative formats</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How we speak to you
            </dt>
            <dd class="govuk-summary-list__value" id="mainHowWeConnectDiv" name="mainHowWeConnectDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/round-5/customer-view/1i/alternative-formats/when-we-speak-to-you/how-should-we-contact-you-if-we-need-to-speak-to-you">
                Change<span class="govuk-visually-hidden">When we speak to you</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How we write to you 
            </dt>
            <dd class="govuk-summary-list__value" id="mainHowWeWriteDiv" name="mainHowWeWriteDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/round-5/customer-view/1i/alternative-formats/when-we-write-to-you/how-should-we-write-to-you">
                Change<span class="govuk-visually-hidden">How we write to you </span>
              </a>
            </dd>
          </div>
  




        </dl>
      </div>
    </div>




    <div class="govuk-button-group">
      {{ govukButton({
        text: "Return to home",
        href: "/round-5/customer-view/1i/homepage.html"
      }) }}
    </div>
</div>




<script>
  var address = sessionStorage.getItem('address');

  var newAddressDiv = document.getElementById('newAddressDiv');

  if (newAddressDiv) {
    if(address) {
      newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
    } else {
      newAddressDiv.innerHTML = "	72 Guild Street<br>London<br>SE23 6FH";
    }
  }

  var email = sessionStorage.getItem('email');

  var newEmailDiv = document.getElementById('newEmailDiv');

  if (newEmailDiv) {
    if(email) {
      newEmailDiv.innerHTML = email;
    } else {
      newEmailDiv.innerHTML = "sarah.phillips@example.com";
    }
  }

  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }

  var landline = sessionStorage.getItem('landline');
  var mainLandlineDiv = document.getElementById('mainLandlineDiv');
  if (mainLandlineDiv) {
    if(plandlinehone) {
      mainLandlineDiv.innerHTML = landline;
    } else {
      mainLandlineDiv.innerHTML = "01632 960 001";
    }
  }

  var mainHowWeConnectDiv = document.getElementById('mainHowWeConnectDiv');
  var howWeConnect = sessionStorage.getItem('howWeConnect');
  var howWeConnectArrary;
  if (howWeConnect) {
    howWeConnectArrary = howWeConnect.split("<br>");
  }
 
  if (mainHowWeConnectDiv) {
    if (howWeConnect && howWeConnectArrary.length > 0) {
        var list = "";

        if (howWeConnectArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeConnectArrary.length; i++) {
            list += `<li>${howWeConnectArrary[i]}</li>`
          }
          list += "</ul>"
        }

        mainHowWeConnectDiv.innerHTML = `<p class='govuk-body'>${howWeConnectArrary[0]}</p>${list}`;
      } else {
        mainHowWeConnectDiv.innerHTML =  "<p>I do not need an alternative format</p>";
      }
  }

  var mainHowWeWriteDiv = document.getElementById('mainHowWeWriteDiv');
  var howWeWrite = sessionStorage.getItem('howWeWrite');
  var howWeWriteArrary;
  if (howWeWrite) {
    howWeWriteArrary = howWeWrite.split("<br>");
  }
 
  if (mainHowWeWriteDiv) {
    if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        mainHowWeWriteDiv.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        mainHowWeWriteDiv.innerHTML =  "<p>Standard letter</p>";
      }
  }
</script>

{% endblock %}