{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% include "round-4/breadcrumbs/colleague-view/2c/how-we-contact-them.html" %}

{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">How we contact them</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When we write to customer 
            </dt>
            <dd class="govuk-summary-list__value">
              <p>	You can contact me by standard letter</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/round-4/customer-view/1h/alternative-formats/when-we-write-to-you/how-should-we-write-to-you">
                Change<span class="govuk-visually-hidden">How we write to you </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address we send letters to
            </dt>
            <dd class="govuk-summary-list__value" id="newAddressDiv" name="newAddressDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-we-send-letters-to/which-address-should-we-send-letters-to">Change<span class="govuk-visually-hidden"> address we send letters to</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value" id="newEmailDiv" name="newEmailDiv">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="email/enter-your-new-email-address">Change<span class="govuk-visually-hidden"> email</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When we speak to customer
            </dt>
            <dd class="govuk-summary-list__value">
              <p>You can contact me by phone</p>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/round-4/customer-view/1h/alternative-formats/when-we-speak-to-you/how-should-we-contact-you-if-we-need-to-speak-to-you">
                Change<span class="govuk-visually-hidden">When we speak to you</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone numbers
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body" id="mainPhoneDiv" name="mainPhoneDiv"></p>
              <p class="govuk-body">07700 900 982</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number/phone-number-list">Change<span class="govuk-visually-hidden"> main phone number</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landline number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">01632 960 001</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> other phone numbers</span></a>
            </dd>
          </div>

        </dl>
      </div>
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Return to home",
        href: "/round-4/customer-view/1h/homepage.html"
      }) }}
    </div>
</div>

<script>
  var address = sessionStorage.getItem('address');

  var newAddressDiv = document.getElementById('newAddressDiv');

  if (newAddressDiv) {
    if(address) {
      newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
    } else {
      newAddressDiv.innerHTML = "	72 Guild Street<br>London<br>SE23 6FH";
    }
  }

  var email = sessionStorage.getItem('email');

  var newEmailDiv = document.getElementById('newEmailDiv');

  if (newEmailDiv) {
    if(email) {
      newEmailDiv.innerHTML = email;
    } else {
      newEmailDiv.innerHTML = "sarah.phillips@example.com";
    }
  }

  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }
</script>

{% endblock %}