{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-5/breadcrumbs/customer-view/1i/phone-number-error.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#telephone-number">Enter a telephone number</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-form-group govuk-form-group--error">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Change phone number
                </h1>
              </legend>
            </fieldset>

            <p class="govuk-body">We will send a security code to this number by text. You will need this code to verify your number. </p>

            <div id="more-detail-hint" class="govuk-hint">
              For international numbers include the country code
            </div>


            {% from "govuk/components/input/macro.njk" import govukInput %}

            <p id="address-postcode-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a telephone number
            </p>

            {{ govukInput({
              label: {
                text: "Telephone number"
              },
              id: "telephone-number",
              name: "telephoneNumber",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-input--width-20"
            }) }}

          </div>


<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>

  </div>

  <script>
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("telephone-number").value && document.getElementById("telephone-number").value ) {
        window.location.href = "/round-5/customer-view/1i/phone-number/phone-code.html"
      } else {
        window.location.href = "/round-5/customer-view/1i/phone-number/error/phone-number.html"
      }

    }
  </script>

{% endblock %}
