{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Form that submits to PoB-clear-data route in release-2.js -->
    <!-- This form triggers data cleanup: resets session data and clears benefit arrays -->
    <form class="form" action="PoB-clear-data" method="post">

      <h1 class="govuk-heading-l">Select start to begin research session</h1>

      <!-- When clicked, form submits to PoB-clear-data route which:
           1. Clears all session data
           2. Resets inScope and outOfScope benefit arrays
           3. Resets Universal Credit flag
           4. Redirects to the benefits selection page -->
      {{ govukButton({
        text: "Start",
        isStartButton: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}