{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">August - October 2024</span>
        Round 8 UR prototypes
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Send your evidence
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">E5</th>
      <td class="govuk-table__cell">

<p class="govuk-body">This prototype incorporates a series of iterations based on UR feedback, insights and recent changes in technical requirements.</p>

<p>Testing scheduled with 8 customers starting 28th October 2024.</p>

<h4 class="govuk-heading-s">
  UR testing scenarios
  </h4>

  <p><a href="e5/start.html"><b>Scenario 1:</b> Happy path</a>.</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>run through happy path</li> 
    <li>what would they do if they needed to upload another doc</li> 
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p><a href="e5-file-too-big/start.html"><b>Scenario 2:</b> File too big</a>.</p>

    <strong class="govuk-tag govuk-tag--pink">
      Unique prototype
    </strong>

    <div class="govuk-!-padding-bottom-4"></div>

    <ul class="govuk-list govuk-list--bullet">
      <li>run through</li>
      <li>what do they do</li> 
      <li>how do they handle this problem, for example would they give up and post their evidence, compress their files and/or take another picture of lower quality</li> 
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p><a href="e5-upload-error/start.html"><b>Scenario 3:</b> Upload failed</a>.</p>

      <strong class="govuk-tag govuk-tag--pink">
        Unique prototype
      </strong>

      <div class="govuk-!-padding-bottom-4"></div>

      <ul class="govuk-list govuk-list--bullet">
        <li>double run through; first file upload fails, second one is successful</li>
        <li>how would they react to the loading spinner rejecting their first attempt</li> 
        <li>would they try again?</li> 
        <li>would they make any changes?</li> 
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
        <p><a href="e5/start.html"><b>Scenario 4:</b> 12 bank statements</a>.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>run through</li>
          <li>what would they do if they hit the file limit after the 12th file? Would they upload the 12th file one in a new journey?</li>
          <li>what would they do if they needed to upload another piece of evidence?</li> 
          </ul>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p><a href="e5/start.html"><b>Scenario 5:</b> Remove a file, when only one file has been uploaded</a>.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>run through</li>
            <li>do they understand what to do?</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h4 class="govuk-heading-s">
              Bonus scenarios (if time allows)
              </h4>

            <p><a href="e5/start.html"><b>Scenario 6:</b> Provide customer with a council tax letter as evidence</a>.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>do they understand what to do?</li>
              <li>do they understand that the service currently only works for bank statements, payslips and P60s?</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p><a href="e5/start.html"><b>Scenario 7:</b> Provide customer with a letter from PIP, not ESA</a>.</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>do they realise that the service is only for Employment Support Allowance (ESA)?</li>
                <li>do they understand what to do?</li>
                <li>do they continue with the journey anyway?</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  Service unavailability or problems
  </h4>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="e5/you-will-need-to-start-again">You'll need to start again</a></li> 
    <li><a href="e5/problem-with-the-service">There is a problem with the service page</a></li> 
    <li><a href="e5/service-unavailable">Service unavailable page</a></li> 
    </ul>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="e5/start.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>



  
</table>
</div>




{% endblock %}
