{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="upload-evidence-form-3" method="post" class="form">

          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">Upload your evidence</h1>
              </legend>

              <p>Check that the file you want to upload is in the correct file format before uploading. Files can be
                  PNG, JPEG, PDF, DOC or DOCX. Make sure that the document is not password protected.</p>
              <p>You’ll have the option to upload more than one if you need to.</p>

              <div class="govuk-form-group">
                  <label class="govuk-label" for="file-upload-3">
                      Upload a file
                  </label>
                  <input class="govuk-file-upload" id="file-upload-3" name="file-upload-3" type="file">
              </div>


          </fieldset>


          <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
          </button>
      </form>
  </div>
</div>


{% endblock %}
