{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/colour-paper.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What colour paper do you need?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" onclick="set('bright-pink')">
        <input class="govuk-radios__input" id="colour-paper-additional" name="colour-paper-additional" type="radio" value="bright pink">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional">
          Bright pink
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('light-grey')">
        <input class="govuk-radios__input" id="colour-paper-additional-2" name="colour-paper-additional" type="radio" value="light grey">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-2">
          Light grey
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('lilac')">
        <input class="govuk-radios__input" id="colour-paper-additional-3" name="colour-paper-additional" type="radio" value="lilac">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-3">
          Lilac
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('orange')">
        <input class="govuk-radios__input" id="colour-paper-additional-4" name="colour-paper-additional" type="radio" value="orange">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-4">
          Orange
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('pastel-pink')">
        <input class="govuk-radios__input" id="colour-paper-additional-5" name="colour-paper-additional" type="radio" value="pastel pink">
        <label class="govuk-label govuk-radios__label" for="colour-pape-additional-5">
          Pastel pink
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('peach')">
          <input class="govuk-radios__input" id="colour-paper-additional-6" name="colour-paper-additional" type="radio" value="peach">
          <label class="govuk-label govuk-radios__label" for="colour-paper-additional-6">
            Peach
          </label>
      </div>
      <div class="govuk-radios__item" onclick="set('primary-blue')">
        <input class="govuk-radios__input" id="colour-paper-additional-7" name="colour-paper-additional" type="radio" value="primary blue">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-7">
          Primary blue
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('primary-yellow')">
        <input class="govuk-radios__input" id="colour-paper-additional-8" name="colour-paper-additional" type="radio" value="primary yellow">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-8">
          Primary yellow
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('purple')">
        <input class="govuk-radios__input" id="colour-paper-additional-9" name="colour-paper-additional" type="radio" value="purple">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-9">
          Purple
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('red')">
        <input class="govuk-radios__input" id="colour-paper-additional-10" name="colour-paper-additional" type="radio" value="red">
        <label class="govuk-label govuk-radios__label" for="colour-paper-additional-10">
          Red
        </label>
      </div>


  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>

  
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </div>
  </div>

  <script>
    var howWeWriteArrary=[];
    function set(inputValue) {
      var howWeWrite = sessionStorage.getItem('howWeWrite');
      if (howWeWrite) {
        howWeWriteArrary = howWeWrite.split("<br>");
      }

      howWeWriteArrary.shift();

      if (inputValue === "bright-pink") {
        howWeWriteArrary.push('Bright pink')
      } else if (inputValue === "light-grey") {
        howWeWriteArrary.push('Light grey')
      } else if (inputValue === "lilac") {
        howWeWriteArrary.push('Lilac')
      } else if (inputValue === "orange") {
        howWeWriteArrary.push('Orange')
      } else if (inputValue === "pastel-pink") {
        howWeWriteArrary.push('Pastel pink')
      } else if (inputValue === "peach") {
        howWeWriteArrary.push('Peach')
      } else if (inputValue === "primary-blue") {
        howWeWriteArrary.push('Primary blue')
      } else if (inputValue === "primary-yellow") {
        howWeWriteArrary.push('Primary yellow')
      } else if (inputValue === "purple") {
        howWeWriteArrary.push('Purple')
      } else {
        howWeWriteArrary.push('Red')
      }
    }

    document.getElementById('radioForm').addEventListener('submit', function (event) {
      event.preventDefault();

      sessionStorage.setItem('howWeWrite', `Letter with changes to paper colour or print size<br>${howWeWriteArrary.join('<br>')}`);

      const redirectUrls = JSON.parse(sessionStorage.getItem('redirectUrls'));
      if (redirectUrls.length > 0) {
        sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
        window.location.href = redirectUrls[0];
      } else {
        window.location.href = "confirm-your-changes";
      }
    });

  </script>


  {% endblock %}