{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/easy-read.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Tell the customer about Easy Read</h1>
  <p class="govuk-body">
    Easy Read uses simple language and images to make information easier to understand. It is designed to help those with learning difficulties.
  </p>
  <p>Easy Read is not normally appropriate for general communication. It should only be used if you really believe no other alternative format would be a better option.</p>
  <p>Discuss with the customer their needs and why they want to choose Easy Read. Offer alternatives and only select Easy Read if it really is the best option for them.</p>
  
  
  <div class="govuk-!-padding-bottom-2"></div>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Are you sure you want to select Easy Read?
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changedName">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changedName-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-!-padding-bottom-2"></div>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      href: "confirm-your-changes"
    }) }}
  </div>

  </div>





{% endblock %}