{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/font-colour-spacing-size.html" %}

{% endblock %}

{% block content %}

<form class="form" id="checkboxForm">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="non-standard-letter-options-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What changes do you need?
        </h1>
      </legend>
      <div id="non-standard-letter-options-hint" class="govuk-hint">
        You can choose more than one option.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item" onclick="set('colour-paper')">
          <input class="govuk-checkboxes__input" id="non-standard-letter-options-2" name="non-standard-letter-options"
            type="checkbox" value="Coloured paper" onclick='handleClick(this, "colour-paper");'>
          <label class="govuk-label govuk-checkboxes__label" for="non-standard-letter-options-2">
            Coloured paper
          </label>
        </div>
        <div class="govuk-checkboxes__item" onclick="set('large-print')">
          <input class="govuk-checkboxes__input" id="non-standard-letter-options-3" name="non-standard-letter-options"
            type="checkbox" value="Large print" onclick='handleClick(this, "large-print-1");'>
          <label class="govuk-label govuk-checkboxes__label" for="non-standard-letter-options-3">
            Large print
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  
  <p class="govuk-body">
    <a href="/preferences-agent/agent-view/alternative-formats/when-we-write-to-you/the-format-i-need-is-not-listed-here.html" class="govuk-link">The format I need is not listed here</a>
  </p>
  
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>

<script>
  var redirectUrls = [];
  function handleClick(cb, redirectUrl) {
    if (cb.checked) {
      redirectUrls.push(redirectUrl);
    } else {
      redirectUrls.pop(redirectUrl);
    }
  }

  function set(inputValue) {
    if (inputValue === "colour-paper") {
      sessionStorage.setItem('howWeWrite', 'Letter with changes to paper colour or print size');
    } else if (inputValue === "large-print") {
      sessionStorage.setItem('howWeWrite', 'Letter with changes to paper colour or print size');
    }
  }

  document.getElementById('checkboxForm').addEventListener('submit', function (event) {
    event.preventDefault();

    if (redirectUrls.length > 0) {
      sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
      window.location.href = redirectUrls[0];
    } else {
      window.location.href = "how-should-we-write-to-you";
    }
  });

</script>


{% endblock %}