{% extends "layouts/main.html" %}

{% block pageTitle %}
    Do you want to change your password? - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
               <form action="/auth/dev-ready/account-recovery/create-password" method="post"> 

              {{ govukRadios({
                idPrefix: "reset-password",
                name: "reset-password",
                fieldset: {
                  legend: {
                    text: "Do you want to change your password?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

             </form>
  </div>
</div>

{% endblock %}