{% extends "layouts/main.html" %}

{% set pageHeading = 'Check your email' %}

{% block pageTitle %}
    Error: {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}

{% if data['email-security-code'] == '283194' %}
<script>
    window.location.href = 'name'
</script>
{% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Enter your security code",
                href: "#email-security-code"
                }
            ]
            }) }}
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    We have sent an email to:<br>
                    <strong class="govuk-!-font-weight-bold">
                    {% if data['register-email-address']%}
                        {{data['register-email-address'] | lower }}
                    {% else %} 
                        emailaddress@email.com
                    {% endif %}
                    </strong>
                </p>
            </div>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The email will come from DWP login and includes a security code. If you do not get an email, check your spam folder.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="email-code-check" method="post" class="form">
                <div class="govuk-form-group  govuk-form-group--error govuk-!-margin-top-6">
                    <label class="govuk-label" for="email-security-code">
                        Enter your security code
                    </label>
                    <span id="security-code-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter your security code
                    </span>
                    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="email-security-code" name="email-security-code" type="text" value="{{ data['email-security-code'] }}">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-email">I did not get an email</a></p>
        </div>
    </div>
{% endblock %}
