a{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: Cannot sign in - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, we could not sign you in</h1>
               
<br>
               <p>[INSERT SUPPORT INSTRUCTIONS]</p>
                <p>[INSERT ACTION]</p>
               

                
        </div>
    </div>
{% endblock %}
