{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registration complete - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}

{% if data['what-access'] == 'mobile-phone' %}
<script>
    window.location.href = 'new-email-address'
</script>
{% endif %}

{% if data['what-access'] == 'email' %}
<script>
    window.location.href = 'new-phone-number'
</script>
{% endif %}


   
{% endblock %}




