{% extends "layouts/main.html" %}

{% block pageTitle %}
    Enter the mobile phone number you use to sign in - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Enter the mobile phone number you use to sign in</h1>

                    <p>We will send a security code to this number after you have answered questions about yourself.</p>

                    <form action="phone-number-code" method="post" class="form">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="telephone-number">
                                Mobile phone number
                            </label>
                            <span id="telephone-number-hint" class="govuk-hint">
                                For international numbers include the country code
                            </span>
                            <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" aria-describedby="telephone-number-hint" autocomplete="tel">
                        </div>


                        {{ govukButton({
                            text: "Continue"
                        }) }}
                </form>

        </div>
    </div>
{% endblock %}
