{% extends "layouts/main.html" %}

{% block pageTitle %}
    Error: We have sent you a text message with your security code - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}

{% if data['2fa-code'] == '232425' %}
<script>
    // window.location.href = 'complete'
    window.location.href = 'name'
</script>
{% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Security code does not match the one we sent you",
                href: "#2fa-code"
                }
            ]
            }) }}
            <h1 class="govuk-heading-l">We have sent you a text message with your security code</h1>

            <p>It should take one minute to arrive.</p>

            <form action="phone-number-code-check" method="post" class="form">
                <div class="govuk-form-group govuk-form-group--error govuk-!-margin-top-6">
                    <label class="govuk-label" for="2fa-code">
                        Security code
                    </label>
                    <span id="security-code-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Security code does not match the one we sent you
                    </span>
                    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="2fa-code" name="2fa-code" type="text" value="{{ data['2fa-code'] }}">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-code">I did not get a security code</a></p>
        </div>
    </div>
{% endblock %}
