{% extends "layouts/main.html" %}

{% block pageTitle %}
 Send me a new email - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Send me a new email</h1>

            <p>We will send you an email with a new security code.</p>

            {{ govukDetails({
                summaryText: "After several attempts, I have not received an email",
                html: '<p>Check your junk folders. If you cannot find your security code the email address you entered may be wrong.</p>

                <p><a href="new-email-address">Enter your new email address</a> again and check the right email address is entered. We will send a new code. </p> 
                
                
                <p>If you still do not receive a code, try again later.</p>'
            }) }}


            {{ govukButton({
                text: "Continue",
                href: "new-email-code.html"
            }) }}

            
        </div>
    </div>
{% endblock %}
