{% extends "layouts/main.html" %}

{% block pageTitle %}
      Sign in stopped - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sign in stopped</h1>

            <p>You were stopped from signing in because no information was entered for 20 minutes. You can start signing in again whenever you are ready.</p>

            <p>This keeps your information secure.</p>

            {{ govukButton({
                text: "Start again",
                href: "sign-in.html"
            }) }}

        </div>
    </div>
{% endblock %}
