{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have been locked out for 15 minutes - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You have been locked out for 15 minutes</h1>

            <p>This is because wrong security codes were entered 3 times.</p>

            <p>You will be able to <a href="#">try again</a> after 15 minutes.</p>
            

            <p>This is to keep your information secure.</p>


        </div>
    </div>
{% endblock %}
