{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">
          Contact the benefit that pays you if you need to make changes to your details or to speak to someone about your benefits.
        </p>
      </div>
    </div>
    <div class="govuk-!-padding-bottom-2"></div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Sign back in 
    </button>
    </main>
</div>

{% endblock %}
