{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-write-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">


    <h1 class="govuk-heading-l">
      Confirm your changes
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Alternative formats
        </dt>
        <dd class="govuk-summary-list__value">
            <h3 class="govuk-heading-s">Written alternative formats</h3>
            <p>Letter with changes to paper colour or print size</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Pastel pink</li>
                <li>Large (16 point)</li>
            </ul>
            <h3 class="govuk-heading-s">Textphone</h3>
            <p>Textphone for the deaf and hard of hearing</p>
            <br>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/preferences/customer-view/alternative-formats/when-we-write-to-you/options">
                Change<span class="govuk-visually-hidden">Choose an alternative format </span>
            </a>
        </dd>
    </div>
</dl>

    

    <div class="govuk-inset-text">
      Some letters could already be on there way to your old address. If you do not receive a letter you were expecting, contact your benefit office. 
      They will be able to send a copy of the letter to your new address.
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Confirm",
      href: "/preferences/customer-view/alternative-formats/when-we-write-to-you/updated-written.html",
      preventDoubleClick: true
      }) }}

      <p class="govuk-body">
        <a href="/preferences/customer-view/alternative-formats/when-we-write-to-you/abandon-journey.html" class="govuk-link">Cancel</a>
      </p>

      <!-- <a class="govuk-link" href="/preferences/customer-view/address-we-send-letters-to/abandon-journey.html">Cancel</a> -->
    </div>

  </div>

  <script>
    var divSection = document.getElementById('updatedValue');
    var howWeWrite = sessionStorage.getItem('howWeWrite');
    var howWeWriteArrary;
    if (howWeWrite) {
      howWeWriteArrary = howWeWrite.split("<br>");
    }

    if (divSection) {
      if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        divSection.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        divSection.innerHTML = "";
      }
    }

  </script>

</div>
</div>
{% endblock %}

