{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/email.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Send me a new email</h1>

      <p>If you haven’t received an email with a security code, select the button below and we will send you a new code.</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            After several attempts, I have not received an email
          </span>
        </summary>
        <div class="govuk-!-padding-bottom-4"></div>
        <p>Check your junk folders. If you cannot find your security code the email address you entered may be wrong.</p>
        <p><a href="enter-your-new-email-address">Enter your email address again</a> and check the right email address is entered. We will send a new code.</p>
        <p>If you still do not receive a code, try again later.</p>

      </details>

      <p><a class="govuk-link" href="/preferences-agent/agent-view/how-we-contact-you">
        Return to home<span class="govuk-visually-hidden">Return to home</span>
      </a></p>

      {{ govukButton({
        text: "Send a new email",
        href: "email-code.html"
    }) }}


      
  </div>
</div>
{% endblock %}