{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sorry, this page cannot be accessed directly - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, this page cannot be accessed directly</h1>
        <p class="govuk-body">To create an account or sign in securely, you need to start from a service.</p>
        <h3 class="govuk-heading-s">Go to a service:</h3>
        <p class="govuk-body"><a href="#">Repay and manage benefit money you owe</a></p>
        </div>
    </div>
{% endblock %}
