{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: Sign in - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="#" method="post">

                {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "The email address or password you entered is incorrect",
                        href: "#sign-in-details"
                    },
                    {
                        html: 'Register now if you have not used this service before',
                        href: "#sign-in-details"
                    }
                ]
                }) }}

                {{ govukFieldset({
                    legend: {
                        html: 'Sign in',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p>If you’ve used any of the services listed below, you may already have an account.</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Access to Work</li>
                    <li>Repay and manage benefit money you owe</li>
                </ul>                

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    errorMessage: {
                        text: "The email address or password you entered is incorrect"
                    },
                    id: "email-address",
                    name: "email-address",
                    classes: "govuk-!-width-full-width govuk-input--error",
                    type: "email"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Password"
                    },
                    errorMessage: {
                        text: "The email address or password you entered is incorrect"
                    },
                    id: "user-password",
                    name: "user-password",
                    classes: "govuk-!-width-full-width govuk-input--error",
                    type: "password"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href="register/start" id="sign-in-details">Register now</a> if you have not used this service before.</p>


                <h2 class="govuk-heading-m">Problems signing in</h2>

                <ul class="govuk-list signin">
                    <li>
                        <a href="reset-password/start" class="govuk-link">I forgot my password</a>
                    </li>
                    <li>
                        <a href="account-recovery/start-new-email" class="govuk-link">I cannot access the email I use to sign in</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
