{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "round-1/components/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Enter the new international address we can send letters to
    </h1>
  </legend>
  <div id="changed-name-hint" class="govuk-hint">
    Enter as many parts of the customer's new address as you can.
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Address line 1
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-2">
        Address line 2
      </label>
      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
    </div>
  
    <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-3">
          Address line 3 (optional)
        </label>
        <input class="govuk-input" id="address-line-3" name="address-line-3" type="text" autocomplete="address-line3">
      </div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-4">
          Town or city
        </label>
        <input class="govuk-input" id="address-line-4" name="address-line-4" type="text" autocomplete="address-line4">
      </div>
  
      <div class="govuk-form-group">
      <label class="govuk-label" for="country">
        Country
      </label>
    <form autocomplete="off"> <input class="govuk-input govuk-input--width-10" onKeyUp="showResults(this.value)" id="country" name="country" type="text">
      <div id="result">
      </div> </form>
    </div>
  
    <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check3()" >Continue</button>

    <!-- <div>
      <a href="/agent/update-address/update-address-1.html" class="govuk-body-m">Find a UK address
    </a>
    </div> -->

  </fieldset>

  </div>

  <script>

    function autocomplete(input) { 
      let countries = ["Bulgaria", "Belgium", "Cyprus", "Denmark", "Germany", "Greece", "Hungary", "Italy", "Malta", "Poland", "Portugal", "Spain"];

    if (input=="") { return []; }
    return countries.filter((country)=>country.match(new RegExp(input, "i")));
    }

    function showResults(value) {
      
      let results = document.getElementById("result")
      results.innerHTML = "";
      let list = "";
      let matched = autocomplete(value);
      for (let i=0; i<matched.length; i++) {
        list += "<li onclick='selectResult(this)'>" + matched[i] + "</li>";
      }
      results.innerHTML= "<ul>" + list + "</ul>";
      console.log(matched)
    }

    function selectResult(element) {
      let selectedCountry=element.textContent;
      document.getElementById("country").value=selectedCountry;
      document.getElementById("result").innerHTML="";
    }

    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("address-line-1").value && document.getElementById("address-line-2").value && document.getElementById("address-line-4").value && document.getElementById("country").value) {
        window.location.href = "/round-1/1h/international-check.html"
      } else {
        window.location.href = "/round-1/1h/international-address-error.html"
      }

    }
  </script>

  </div>

  {% endblock %}