{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1h/how-we-contact-you.html" %}


{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Phone numbers</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone 1
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body" id="mainPhoneDiv" name="mainPhoneDiv"></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number/phone-number">Change<span class="govuk-visually-hidden"> main phone number</span></a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number/phone-number">Remove<span class="govuk-visually-hidden"> main phone number</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone 2
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">01632 960 001</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> other phone numbers</span></a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number/phone-number">Remove<span class="govuk-visually-hidden"> main phone number</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone 3
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">01632 960 001</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> other phone numbers</span></a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number/phone-number">Remove<span class="govuk-visually-hidden"> main phone number</span></a>
            </dd>
          </div>

        </dl>
      </div>
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Return to home",
        href: "/round-4/customer-view/1h/homepage.html"
      }) }}
    </div>
</div>

<script>
  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }
</script>

{% endblock %}