{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "View your personal details",
          href: "personal-details"
          },
          {
            text: "Address we send letters to",
            href: "#"
            }
      ]
      }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">We have found an address that matches your input: <br>
      <dd class="govuk-summary-list__value">
        55 Windsor Street, 
        <br>South Gosforth, 
      <br>Newcastle upon Tyne,
      <br>NE3 1YL
    </dd>
</p>
</div>
</div>

{% from "govuk/components/radios/macro.njk" import govukRadios %}



  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Do-you-want-to-use-the-address">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Do you want to use the address above?
        </h1>
      </legend>
      <br> 
      
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="confirm-update-address-yes" name="confirm-update-address" type="radio" value="true">
          <label class="govuk-label govuk-radios__label" for="confirm-update-address-yes">
            Yes
          </label>

        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="confirm-update-address-no" name="confirm-update-address" type="radio" value="false">
          <label class="govuk-label govuk-radios__label" for="confirm-update-address-no">
            No, this is not the address I want to use
          </label>

        </div>
      </div>
      <br>
      <br>
      <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
    </div>
  
  <script>
    function check() {
      console.log('in function')
      var radios = document.getElementsByName("confirm-update-address");
      var hasSelection = false
      for (var i = 0, len = radios.length; i < len; i++) {
        if (radios[i].checked) {
          hasSelection = true;
        }
      }
      if (!hasSelection) {
        window.location.href = "/round-3/1f/uk-or-international-error.html";
      } else {
        if (document.getElementById("confirm-update-address-yes").checked) {
          window.location.href = "/round-3/1f/postal-address-information-new"
        } else {
          window.location.href = "javascript:window.history.back()"
        }
      }
    }
  </script>
   </div>
  
  </div>
  
  {% endblock %}