{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <form class="form" action="evidence-type" method="post"> #}

        <h1 class="govuk-heading-l">Are you sending us evidence for Employment and Support Allowance (ESA)?</h1>

        <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="notification-yes"
            name="notification"
            type="radio"
            value="true"
          />
          <label class="govuk-label govuk-radios__label" for="notification-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="notification-no"
            name="notification"
            type="radio"
            value="false"
          />
          <label class="govuk-label govuk-radios__label" for="notification-no">
            No
          </label>
        </div>
      </div>

        {# {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "radio",
          fieldset: {
            legend: {
              isPageHeading: true
            }
          },

          items: [
          {
            value: "Employment and Support Allowance (ESA)",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]

        }) }} #}
        <br/>
        <button
          class="govuk-button"
          value="true"
          data-module="govuk-button"
          onclick="check()"
        >
          Continue
        </button>

      {# </form> #}

    </div>
  </div>

  <script>
    function check() {
        console.log("in function");
        var radios = document.getElementsByName("notification");
        var hasSelection = false;
        for (var i = 0, len = radios.length; i < len; i++) {
          if (radios[i].checked) {
            hasSelection = true;
          }
        }
        console.log({ hasSelection });
        if (!hasSelection) {
          return
        } else {
          if (document.getElementById("notification-yes").checked) {
            window.location.href = "evidence-type";
          } else {
            window.location.href = "sorry-this-service-is-unavailable-esa";
          }
        }
      }
  </script>

{% endblock %}
