{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Address we send letters to
        </h1>
      </legend>

      <p>We may need to send you letters about your benefit.</p>

      <p>You can choose to have these sent to your home address or to a different address.</p>

      <p>This will not affect your benefit claim. It will just let us know where you want us to send letters to.</p>

      <div class="govuk-!-padding-bottom-4"></div>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Which address should we send letters to?
        </h2>
      </legend>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="home-address" name="address" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="home-address">
          My home address
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="different-address" name="address" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="different-address">
          A different address
        </label>
        <div id="different-address-hint" class="govuk-hint govuk-radios__hint">
          For example a family or friend's address, hotel or other
        </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>
      <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
  
    </div>
    </fieldset>
  </div>

<script>
  function check() {
    console.log('in function')
    var radios = document.getElementsByName("address");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/preferences/customer-view/address-we-send-letters-to/error/which-address-should-we-send-letters-to.html";
    } else {
      if (document.getElementById("different-address").checked) {
        window.location.href = "/preferences/customer-view/address-we-send-letters-to/uk-or-international.html"
      } else {
        window.location.href = "/preferences/customer-view/address-we-send-letters-to/home-address.html"
      }
    }
  }
</script>
 </div>

</div>

{% endblock %}
