{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Awards notifications</h1>
    </div>
  </div>
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">

      <div class="govuk-grid-row">

      <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Benefit</th>
              <th scope="col" class="govuk-table__header">Notification</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">24/02/2025</th>
              <td class="govuk-table__cell">Carer's Allowance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Your award review</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row" style="background-color:#f3f2f1">
              <th scope="row" class="govuk-table__header">26/01/2025</th>
              <td class="govuk-table__cell">Carer's Allowance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Entitlement to s Carer's Allowance</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>


      </div>


  </div>
</div>
  </div>


{% endblock %}