{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Payments notifications</h1>
        </div>
    </div>
    <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">

      <div class="govuk-grid-row">

      <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Benefit</th>
              <th scope="col" class="govuk-table__header">Notification</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">24/02/2025</th>
              <td class="govuk-table__cell">Carer's Allowance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Yearly summary of payments made and received</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row" style="background-color:#f3f2f1">
              <th scope="row" class="govuk-table__header">26/01/2025</th>
              <td class="govuk-table__cell">Carer's Allowance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Payment amounts and dates</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">24/12/2024</th>
              <td class="govuk-table__cell">Personal Independence Payment</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Payment amounts and dates</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">24/11/2024</th>
              <td class="govuk-table__cell">Child Maintenance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Payment plan for child maintenance</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">02/11/2024</th>
              <td class="govuk-table__cell">Child Maintenance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Payment dates and amounts</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">21/08/2024</th>
              <td class="govuk-table__cell">Employment and Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Overpayments that need to be repaid</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">21/08/2024</th>
              <td class="govuk-table__cell">Employment and Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Yearly summary of payments made and received</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">21/08/2024</th>
              <td class="govuk-table__cell">Child Maintenance</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Payment dates and amounts</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">21/08/2024</th>
              <td class="govuk-table__cell">Employment and Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Upcoming payments</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">21/08/2024</th>
              <td class="govuk-table__cell">Personal Independence Payment</td>
              <td class="govuk-table__cell"><a href="../messages/round-1" class="govuk-link">Yearly summary of payments made and received</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
          </tbody>
        </table>

    <div class="govuk-!-padding-bottom-4"></div>

    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
        </li>
    
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 1 of 3">2</a></li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3 of 3">3</a></li>
    
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>30</b> results</p>
    </nav>
    

    

  </div>
  </div>


      </div>


  </div>
</div>
  </div>


{% endblock %}