{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Your notifications</h1>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">


      <div>
      <ul class="govuk-grid-row customer-view-card-group">
        <li class="govuk-grid-column-one-third customer-view-card-group__item">
          <div class="customer-view-card customer-view-card--clickable">
            <div class="customer-view-card__content">
              <h2 class="customer-view-card__heading govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="awards.njk">Awards</a>&nbsp<span id="notifications" class="moj-notification-badge">1</span>
              </h2>
              <p class="govuk-body customer-view-card__description">View your awards and entitlement notifications</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third customer-view-card-group__item">
          <div class="customer-view-card customer-view-card--clickable">
            <div class="customer-view-card__content">
              <h2 class="customer-view-card__heading govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="payments.njk">Payments</a>&nbsp<span id="notifications" class="moj-notification-badge">1</span>
              </h2>
              <p class="govuk-body customer-view-card__description">View your payment notifications</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third customer-view-card-group__item">
          <div class="customer-view-card customer-view-card--clickable">
            <div class="customer-view-card__content">
              <h2 class="customer-view-card__heading govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="updates.njk">Updates</a>

              </h2>
              <p class="govuk-body customer-view-card__description">View recent updates from your benefits</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    </div>
  </div>
</div>


{% endblock %}