{% extends "layouts/main.html" %}

{% block pageTitle %}
    Add a mobile phone number when you sign in - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add a mobile phone number when you sign in</h1>

            <p>You have entered incorrect codes 3 times. When you sign in you will need to add a mobile phone number to complete your registration.</p>

            {{ govukButton({
                text: "Continue"
            }) }}
        </div>
    </div>
{% endblock %}
