{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: What is your date of birth? - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="postcode" method="post">
              {{ govukErrorSummary({
                  "titleText": "There is a problem",
                  "errorList": [
                    {
                      "text": "Date of birth must be a real date",
                      "href": "#date-of-birth"
                    }
                  ]
                }) }}

               {{ govukDateInput({
                id: "date-of-birth",
                namePrefix: "date-of-birth",
                fieldset: {
                    legend: {
                    text: "What is your date of birth?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "For example, 27 3 1979"
                },
                errorMessage: {
                  text: "Date of birth must be a real date"
                },
                items: [
                  {
                    classes: "govuk-input--width-2 govuk-input--error",
                    name: "day",
                    value: "33"
                  },
                  {
                    classes: "govuk-input--width-2",
                    name: "month",
                    value: "3"
                  },
                  {
                    classes: "govuk-input--width-4",
                    name: "year",
                    value: "1977"
                  }
                ]
                }) }}

                 {{ govukButton({
                    text: "Continue"
                 }) }}
            </form>
        </div>
    </div>
{% endblock %}
