{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: Enter your email address - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Enter an email address in the correct format, like name@example.com",
                href: "#register-email-address"
                }
            ]
            }) }}

            <h1 class="govuk-heading-l">Enter your email address</h1>                
                <p>We will send a security code to this email address.</p>

                    <div class="govuk-form-group  govuk-form-group--error govuk-!-margin-top-6">
                        <label class="govuk-label" for="email-security-code">
                            Email address
                        </label>
                        <span id="security-code-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
                        </span>
                        <input class="govuk-input govuk-!-width-full-width govuk-input--error" id="register-email-address" name="register-email-address" type="email">
                    </div>

                {{ govukButton({
                    text: "Continue"
                }) }}

        </div>
    </div>
{% endblock %}
