{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: Enter your mobile phone number - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "UK mobile phone numbers must be between 9 and 12 characters",
                href: "#telephone-number"
                }
            ]
            }) }}
            <h1 class="govuk-heading-l">Enter your mobile phone number</h1>

            <p>We will send a six digit security code to this number.</p> 
            
            <p>This will expire in 15 minutes.</p>

            {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

                {{ govukInsetText({
                text: "A new security code will be sent to your mobile phone every time you sign into this service."
                }) }}

            <form action="code" method="post" class="form">

                <div class="govuk-form-group govuk-form-group--error">
                    <label class="govuk-label" for="telephone-number">
                        Mobile phone number
                    </label>
                    <span id="telephone-number-hint" class="govuk-hint">
                        For international numbers include the country code
                    </span>
                    <span id="security-code-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> UK mobile phone numbers must be between 9 and 12 characters
                    </span>
                    <input class="govuk-input govuk-input--width-20 govuk-input--error" id="telephone-number" name="telephone-number" type="tel" aria-describedby="telephone-number-hint" autocomplete="tel">
                </div>


                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
