{% extends "layouts/main.html" %}

{% block pageTitle %}
Sign in - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You must complete your registration before you sign in</h1>

    <p>You need a mobile phone to complete your registration. We will send a security code to your mobile phone.</p>

    <h2 class="govuk-heading-m">When you sign in for the first time</h2>

    <p>You will need information from 2 sources so we can check we are dealing with the right person. These are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a UK passport</li>
      <li>payslips or P60</li>
      <li>information about tax credits, if you claim them</li>
      <li>details of your credit record</li>
    </ul>

    {{ govukButton({
      text: "Complete registration",
      href: "mobile",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: FALSE
    }) }}
    {{ govukDetails({
      summaryText: "Problems completing registration",
      html: '<p>[INSERT SUPPORT INSTRUCTIONS]</p>'
  }) }}
  
  </div>
</div>
{% endblock %}