{% extends "layouts/main.html" %}

{% block pageTitle %}
    Create a password - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
    {% include 'includes/validation.njk' %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Create a password</h1>




        <p class="govuk-body">

            Your password must be 8 characters or more.

        </p>




        <p class="govuk-body">

            It must include at least:

        </p>




        <ul class="govuk-list govuk-list--bullet">

            <li>one upper case letter</li>

            <li>one lower case letter</li>

            <li>one number</li>

            <li>one special character</li>

        </ul>




        {{ govukDetails({

        summaryText: "Which special characters can I use?",

        html: 'You can use the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : &#39; , . ? / ` ~ " ( )'

        }) }}




        <form action="mobile" method="post" class="form">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="password">
                        Enter password
                    </label>
                    <div class="govuk-show-password__input-wrapper">
                        <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is shown</span>
                    </div>
                </div>
            </div>
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="confirm-password">
                        Confirm password
                    </label>
                    <div class="govuk-show-password__input-wrapper">
                        <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="confirm-password" name="confirm-password" type="password" spellcheck="false" autocomplete="new-password">
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is shown</span>
                    </div>
                </div>
            </div>
            {{ govukButton({
            text: "Continue"
            }) }}
        </form>




    </div>

</div>

{% endblock %}

{% block pageScripts %}
{% include 'includes/validation.njk' %}
<script src="/public/javascripts/show-password.js"></script>
{% endblock %}
