{% extends "layouts/main.html" %}

{% block pageTitle %}
Send me another email - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    {% include 'includes/back-button.njk' %}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Send me another email</h1>

            <p>We will send an email with a new code to <strong>snbamforth@yahoo.com</strong></p>

            {{ govukButton({
                text: "Send new email",
                href: "email-code.html"
            }) }}

            <p><a href="email-address">This is the wrong email address</a></p>
        </div>
    </div>
{% endblock %}
