{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registration stopped - GOV.UK 
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Registration stopped</h1>

            <p>Your registration was stopped because no information was entered for 20 minutes. You can start your registration again but you will have to re-enter your details.</p>

            <p>This keeps your information secure.</p>

            {{ govukButton({
                text: "Start again",
                href: "email-address.html"
            }) }}

        </div>
    </div>
{% endblock %}
