{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}

{% extends "layouts/main.html" %}

{% set pageHeading = 'Enter your details' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK 
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
  

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Check your identity</span>
    <h1 class="govuk-heading-xl ">
      {{pageHeading}}
    </h1>

    <form method="post" action="enter-your-details-nino" name="">

      {{ govukInput({
        label: {
          text: "First name",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-width-two-thirds",
        id: "first-name",
        name: "first-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-width-two-thirds",
        id: "last-name",
        name: "last-name"
      }) }}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 31 3 1980"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            autocomplete: "bday-day"
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            autocomplete: "bday-month"
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            autocomplete: "bday-year"
          }
        ]
      }) }}

      <input class="govuk-button " type="submit" value="Continue">

    </form>

  </div>

</div>

{% endblock %}