{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Your pay - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="" name="">

            <div class="govuk-form-group">
                <span class="govuk-caption-xl">
                    About your P60
                </span>

                <h1 class="govuk-heading-xl">
                    Enter the 'Employee's contribution' figure on your P60
                </h1>
                <div id="benefit-amount-hint" class="govuk-hint">
                  <ul class="govuk-list govuk-list--bullet">
                      <li>Use a P60 from the financial year 2020 to 2021.</li>
                      <li>Get the figure from the 'Employee's contributions due on all earnings above the PT' column.</li>
                      <li>Enter the figure exactly, including pence.</li>
                      <li>The 'Employee's contribution' amount must be more than 0.00</li>
                  </ul>
              </div>

              <p class="govuk-hint">For example 836.16</p>

                <div class="currency-input">
                    <div class="currency-input__symbol" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-10" id="benefit-amount" name="benefit-amount"
                        type="text" aria-describedby="amount-currency">
                </div>

                </fieldset>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Where to find the amount on a sample P60
                </span>
              </summary>
              <div class="govuk-details__text">
              </div>
            </details>

            <a class="govuk-button" href=
              {% if sa === "true" %} 
                "./sa-questions"
              {% elif tcKbv === "true" %} 
                "./tax-credits-question-1"
              {% elif tuKbv === "true" %} 
                "./credit-record-questions-consent" 
              {% elif voiceId === "true" %} 
                "./voice-id"
              {% else %} 
                "./success" 
              {% endif %}
            >Continue</a>

        </form>

        <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>

    </div>
</div>


{% endblock %}