{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Payslip question - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="">

      <div class="govuk-form-group">
        <span class="govuk-caption-xl">
          About your payslip
        </span>

        <h1 class="govuk-heading-xl">
          Enter the amount of National Insurance from a payslip
        </h1>

        <div id="benefit-amount-hint" class="govuk-hint">
          <ul class="govuk-list govuk-list--bullet">
            <li>Use a payslip dated after {{ data['14-weeks-ago-hmrc'] }}</li>
            <li>Get the figure from the 'Deductions' section</li>
            <li>Do not use the 'Year To Date' figure</li>
            <li>The amount of National Insurance you paid must be more than 0.00</li>
          </ul>
        </div>

        <p class="govuk-hint">For example 123.86</p>

        <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-10" id="cost" name="cost" type="text" spellcheck="false" aria-describedby="amount-currency">
          </div>
        </div>
        
      </fieldset>

      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find out how much National Insurance you paid
          </span>
        </summary>
        <div class="govuk-details__text">
        </div>
      </details>

      <a class="govuk-button" href={% if sa==="true" %} "./payslip-question-2?sa=true" {% elif tcKbv==="true"
        %} "./payslip-question-2?tcKbv=true" {% elif tuKbv==="true" %} "./payslip-question-2?tuKbv=true" {% elif
        voiceId==="true" %} "./payslip-question-2?voiceId=true" {% else %} "./payslip-question-2" {% endif
        %}>Continue</a>

    </form>

    <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>

  </div>
</div>

{% endblock %}