{% set isHMRCPage = false %}
{% set serviceName = "customer-view" %}
{% extends "layouts/main.html" %}

{% set pageHeading = 'Identity check complete' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK 
{% endblock %}

{% block serviceName %}
  Confirm your identity
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="../../iteration-6/account-home">
  
      <h1 class="govuk-heading-xl">
        {{pageHeading}} 
      </h1>

      <p class="govuk-body-l">
        You have answered the security questions successfully.
      </p>

      <input type="submit" value="Continue" class="govuk-button">

    </form>
  </div>
</div>

{% endblock %}