{% set isHMRCPage = true %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Security question (TransUnion UK Limited) - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}



<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="" name="">

            <div class="govuk-form-group">
                <span class="govuk-caption-xl">
                    About your personal current account
                </span>

                <h1 class="govuk-heading-xl" style="margin-bottom:30px;">
                    When did you last open a personal current account?
                </h1>
                
                <ul class="govuk-list govuk-list--bullet"  style="margin-bottom:30px;">
                    <li>This may have been a joint account</li>
                    <li>It could include upgrading or changing an existing account</li>
                </ul>
     
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-account-1" name="tu-account" type="radio"
                            value="Account 1">
                        <label class="govuk-label govuk-radios__label" for="tu-account-1">Account 1</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-account-2" name="tu-account" type="radio"
                            value="Account 2">
                        <label class="govuk-label govuk-radios__label" for="tu-account-2">Account 2</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-account-3" name="tu-account" type="radio"
                            value="Account 3">
                        <label class="govuk-label govuk-radios__label" for="tu-account-3">Account 3</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-account-4" name="tu-account" type="radio"
                            value="Account 4">
                        <label class="govuk-label govuk-radios__label" for="tu-account-4">Account 4</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-address-5" name="tu-address" type="radio"
                            value="None of the above">
                        <label class="govuk-label govuk-radios__label" for="tu-address-5">None of the above</label>
                    </div>
                </div>

                </fieldset>
            </div>

            <a class="govuk-button" href="./success">Continue</a>

        </form>
        <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>

    </div>
</div>



{% endblock %}