{% set isHMRCPage = false %}
{% set serviceName = "Confirm who you are" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Your passport details - GOV.UK 
{% endblock %}

{% block serviceName %}
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      About your UK passport
    </span>

    <h1 class="govuk-heading-xl ">
      Your passport details
    </h1>

    <form method="post" action=
      {% if payslip === "true" %} 
        "/idv/hmrciv/payslip"
      {% elif p60 === "true" %} 
        "/idv/hmrciv/p60" 
      {% elif sa === "true" %} 
        "/idv/hmrciv/sa-questions" 
      {% elif tcKbv === "true" %} 
        "/idv/hmrciv/tcKbv"
      {% elif tuKbv === "true" %} 
        "/idv/hmrciv/credit-record-questions-consent" 
      {% elif voiceId === "true" %} 
        "/idv/hmrciv/voiceId"
      {% endif %}
    >
    
    <div class="govuk-form-group" data-required="" data-error="Enter your given names in the right format">
      <label class="govuk-label govuk-label--m " for="givenNames">
        Given names
      </label>

      <div id="givenNames-hint" class="govuk-hint">
        As they appear on your passport
      </div>

      <input class="govuk-input govuk-input--width-20" id="givenNames" name="firstName" type="text">
    </div>

    <div class="govuk-form-group" data-required="" data-error="Enter your surname in the right format">
      <label class="govuk-label govuk-label--m " for="surname">
        Surname
      </label>

      <div id="surname-hint" class="govuk-hint">
        As it appears on your passport
      </div>

      <input class="govuk-input govuk-input--width-20" id="surname" name="lastName" type="text">
      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter your passport number in the right format">
        <label class="govuk-label govuk-label--m " for="passport">
          Passport number
        </label>

        <div id="passport-hint" class="govuk-hint">
          Contains up to 9 numbers and no letters
        </div>

        <input class="govuk-input govuk-input--width-20" id="passport" name="passport" type="text">
      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter your passport expiry date in the right format">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Date of expiry
          </legend>

          <div id="dob-hint" class="govuk-hint">
            For example, 31 MAR 26 or 31 03 26
          </div>

          <div class="govuk-date-input" id="ppExpiryDate">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateDay">
                  Day
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ppExpiryDateDay"
                  name="ppExpiryDateDay" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateMonth">
                  Month
                </label>

                <input class="govuk-input govuk-date-input__input 
            govuk-input--width-3   " id="ppExpiryDateMonth" name="ppExpiryDateMonth">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your passport expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="ppExpiryDateYear">
                  Year
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="ppExpiryDateYear"
                  name="ppExpiryDateYear" type="number" pattern="[0-9]*">
              </div>
            </div>

          </div>
        </fieldset>

      </div>

      <input class="govuk-button " type="submit" value="Continue">

      <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>

      
        <!-- <details class="govuk-details govuk-!-margin-top-9">
          <summary class="govuk-details__summary govuk-details__summary--modifier">
            <span class="govuk-details__summary-text govuk-details__summary-text--modifier"
              style="display: block; text-decoration: underline; color: #005ea5; cursor: pointer; font-size: 16px">
              Get help with this page
            </span>
          </summary>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h3 class="govuk-heading">Get help with this service</h3>
              <p class="govuk-body">Don't include any personal or financial information. For example, your National
                Insurance or credit card numbers.</p>

              <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                  Name
                </label>
                <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                  Email
                </label>
                <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="what">
                  What were you doing?
                </label>
                <input class="govuk-input govuk-input--width-20" id="what" name="what" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="help">
                  What do you need help with?
                </label>
                <input class="govuk-input govuk-input--width-20" id="help" name="help" type="text">
              </div>
            </div>
          </div>

          <button type="submit" class="govuk-button">
            Send
          </button>

        </details>-->
    </form>
    
  </div>


  {% endblock %}