{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">January, February and March 2024</span>
        Round 5 UR prototypes
      </h1>

      <div class="govuk-inset-text">
        The Round 5 user research was conducted by Daniel de la Rubia, interaction designs built by David Doherty and written content by Patrick Wilson. The team was led by Matt Murphy. They are happy to answer any questions you may have.
      </div>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Customer view
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1i</th>
      <td class="govuk-table__cell">

        <p class="govuk-body">Based on Round 4 UR and additional technical requirements, a version of Customer View that been created that incorporates several iterations. Including:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Removal of the 'Remove' link on the phone and email list screens. This is due to technical limitations.</li>
  <li>Removal of caveat inset text.</li>
  <li>Removal of OIDV from Textphone feature.</li>
  <li>Changing the UI on the 'Which address should we send letters to' screen</li>
</ul>


<p class="govuk-body">For the consideration of the developers we have includes some additional screens of interest:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#">An email has been 'verified'</a></li>
  <li><a href="#">A mobile phone number has been 'verified'</a></li>
  <li><a href="customer-view/1i/additional-screens/job-centre">If a customer inputs an address which is a Job Centre</a></li>
  <li><a href="customer-view/1i/additional-screens/post-office">If a customer inputs an address which is a Post Office</a></li>
  <li><a href="customer-view/1i/additional-screens/no-email">No email scenario</a></li>
  <li><a href="customer-view/1i/additional-screens/no-mobile">No mobile phone scenario</a></li>
  <li><a href="customer-view/1i/additional-screens/no-landline">No landline scenario</a></li>
  <li><a href="customer-view/1i/additional-screens/mp3-file-by-email">Only one email address registered for Audio (MP3 file by email)</a></li>
  <li><a href="customer-view/1i/additional-screens/mpeg-file-by-email">Only one email address registered for British Sign Language video (MPEG file by email)</a></li>
  <li><a href="customer-view/1i/additional-screens/microsoft-word-document">Only one email address registered for Microsoft Word document</a></li>
  <li><a href="customer-view/1i/additional-screens/pdf-with-accessible-text">Only one email address registered for PDF with accessible text</a></li>

</ul>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          PENDING
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="customer-view/1i/homepage.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>



  
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>



<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">
  Colleague view
  </h2>


  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header app-custom-class">Name</th>
    <th scope="col" class="govuk-table__header app-custom-class">Description</th>
    <th scope="col" class="govuk-table__header app-custom-class">Status</th>
    <th scope="col" class="govuk-table__header app-custom-class">Action</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">2d</th>
    <td class="govuk-table__cell">

      <p class="govuk-body">Based on Round 4 UR and additional technical requirements, a version of Colleague View that been created that incorporates.....</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>Content needed</li>
      </ul>
    
    
    <p class="govuk-body">Content needed:</p>
    
    <ul class="govuk-list govuk-list--bullet">
    <li>Removal of the 'Remove' link on the phone and email list screens. This is due to technical limitations.</li>
    <li>Removal of caveat inset text.</li>
    <li>Removal of OIDV from Textphone feature.</li>
    <li>Changing the UI on the 'Which address should we send letters to' screen</li>
    </ul>

    </td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
      PENDING
    </strong>
  </td>
  <td class="govuk-table__cell"><a href="colleague-view/2d/homepage.html" class="govuk-link">View</a></td>
  </tr>
</thead>
  
</tbody>



</table>



</div>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">
  Notification emails
  </h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="customer-view/1h/notifications/email/security-code" class="govuk-link">Email security code</a></li>
  <li><a href="customer-view/1h/notifications/email/phone-number-changed" class="govuk-link">Your mobile phone number has changed</a></li>
</ul>

<h2 class="govuk-heading-m">
Notification text messages
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="customer-view/1h/notifications/text-message/security-code" class="govuk-link">Security code</a></li>
</ul>



{% endblock %}
