{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">April 2024</span>
        Round 5 UR prototypes
      </h1>

      <div class="govuk-inset-text">
        The Round 5 user research was conducted by Daniel de la Rubia, interaction designs built by David Doherty and written content by Patrick Wilson. The team was led by Matt Murphy. They are happy to answer any questions you may have.
      </div>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Send your evidence
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">E1</th>
      <td class="govuk-table__cell">

        <p class="govuk-body">Radio button design</p>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          PENDING
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="e1/start.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>
  

  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">E2</th>
      <td class="govuk-table__cell">

        <p class="govuk-body">Multi-checkbox design</p>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          PENDING
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="e2/start.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">E3</th>
      <td class="govuk-table__cell">

        <p class="govuk-body">Radio button design with OIDV integrated</p>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          PENDING
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="e3/start.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">E4</th>
      <td class="govuk-table__cell">

        <p class="govuk-body">Radio button design incorporating a multiple page upload feature</p>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          PENDING
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="e4/start.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>



  
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>



<div class="govuk-!-padding-bottom-4"></div>





</div>





{% endblock %}
