{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. None of your data will be stored from this test'
}) }}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "homepage.html"
    },
    {
      text: "Personal details",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Accessibile formats preferences</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we write to them 
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p></p>You can contact them by standard letter</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/written-format">
              Change<span class="govuk-visually-hidden">How we write to them </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we speak to them
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p>You can contact them by phone</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">When we speak to them</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When is the best time to contact them
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p>Monday to Friday, 9am to 5pm (except bank holidays)</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">When we speak to them</span>
            </a>
          </dd>
        </div>
    
      </dl>
    </div>
  </div>


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Return to home",
      href: "/round-4/colleague-view/2d/personal-details.html"
    }) }}
  </div>
</div>

<script>
var address = sessionStorage.getItem('address');

var newAddressDiv = document.getElementById('newAddressDiv');

if (newAddressDiv) {
  if(address) {
    newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
  } else {
    newAddressDiv.innerHTML = "Same as home address";
  }
}

var phone = sessionStorage.getItem('phone');
var mainPhoneDiv = document.getElementById('mainPhoneDiv');
if (mainPhoneDiv) {
  if(phone) {
    mainPhoneDiv.innerHTML = phone;
  } else {
    mainPhoneDiv.innerHTML = "07700 900 457";
  }
}
</script>


{% endblock %}