{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"   
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/alternative-formats/written-format" method="post" novalidate>
        
        {{ govukRadios({
          id: "format",
          name: "[altFormats].[written].[format]",
          value: data["altFormats"]["written"]["format"],
          fieldset: {
            legend: {
              text: "How should we write to you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p class='govuk-hint'>Select the best option for you.<p>"  
         },
          items: [
            {
              value: "standard-letter",
              text: "standard-letter" | getLabel
            },
            {
              value: "large-print",
              text:  "large-print" | getLabel
            },
            {
              value: "non-standard-letter",
              text: "non-standard-letter" | getLabel
            },
            {
              value: "audio",
              text: "audio" | getLabel
            },
            {
              value: "braille",
              text: "braille" | getLabel
            },
            {
              value: "british-sign-language-video",
              text: "british-sign-language-video" | getLabel
            },
           
            {
              value: "word",
              text: "word" | getLabel
            },
            {
              value: "pdf",
              text: "pdf" | getLabel
            }
            
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}


