{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-1/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. None of your data will be stored from this test'
}) }}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "homepage.html"
    },
    {
      text: "Personal details",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Personal details</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Christopher Fox
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show date of birth
                </span>
              </summary>
              <div class="govuk-details__text">
                15 October 1977
              </div>
            </details>
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance Number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ123456Q              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show nationality
                  </span>
                </summary>
                <div class="govuk-details__text">
                  British citizen
                </div>
              </details>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show home address
                  </span>
                </summary>
                <div class="govuk-details__text">
                  5 Highfield Av <br>Meltham <br>Holmfirth <br>HD9 5RF
                </div>
              </details>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefits Christopher Fox gets
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Carer's Allowance (CA)
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Claim start date</th>
                        <th scope="col" class="govuk-table__header">Claim end date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">23 June 2023</td>
                        <td class="govuk-table__cell">No end date</td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </details>
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Employment and Support Allowance (ESA)
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Claim start date</th>
                        <th scope="col" class="govuk-table__header">Claim end date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">11 May 2023</td>
                        <td class="govuk-table__cell">10 May 2024</td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </details>
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Personal Independence Payment (PIP)
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Claim start date</th>
                        <th scope="col" class="govuk-table__header">Claim end date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">08 November 2020</td>
                        <td class="govuk-table__cell">02 December 2023</td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </details>
            </dd>
          </div>
        </dl>
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile numbers
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show mobile numbers
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body govuk-body govuk-!-margin-bottom-2">07700 900 000</p>
                <p class="govuk-body govuk-body govuk-!-margin-bottom-2">07700 900 457</p>
                <p class="govuk-body govuk-body govuk-!-margin-bottom-2">+1 123 1231234</p>
              </div>
            </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landline numbers
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show landline numbers
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body govuk-body govuk-!-margin-bottom-2">020 1234 1234</p>
                <p class="govuk-body govuk-body govuk-!-margin-bottom-2">0117 123 1234</p>
                <p class="govuk-body govuk-body govuk-!-margin-bottom-2">01234 123 123</p>
              </div>
            </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address we can send letters to
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show address we can send letters to 
                </span>
              </summary>
              <div class="govuk-details__text">
                5 Highfield Av <br>Meltham <br>Holmfirth <br>HD9 5RF
              </div>
            </details>
          </dd>
        </div>
        </dl>
    </div>
  </div>

{% endblock %}