{% extends "layouts/main.html" %}

{% block pageTitle %}
    Account unlocked - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            {{ govukPanel({
                titleText: "Account unlocked"
            }) }}
            <p>You can now sign in to {{ data['service-name'] }}.</p>

            <p>Once you have signed in you will need to answer some basic questions about yourself.</p>

            <p>We will check your answers against our records to make sure we are dealing with the right person. 
                This also helps protect you from fraud.</p>
            

            {{ govukButton({
                text: "Continue",
                href: "/auth/v7/sign-in-recovered-account"
            }) }}
        </div>
    </div>
{% endblock %}




