{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registration complete - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}

{% if data['what-access'] == 'mobile-phone' %}
<script>
    window.location.href = 'new-email-address'
</script>
{% endif %}

{% if data['what-access'] == 'email' %}
<script>
    window.location.href = 'new-phone-number'
</script>
{% endif %}


   
{% endblock %}




