{% extends "layouts/main.html" %}

{% block pageTitle %}
    Send me a new text message - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
           <h1 class="govuk-heading-l">Send me a new text message</h1>

           <p>We will send you a text message with a new security code.</p>

           {{ govukDetails({
                summaryText: "After several attempts, I have not received a text message",
                html: '<p>The mobile number you entered may be wrong. <a href="new-phone-number">Enter your mobile number again</a> and we will send a new security code.</p> <p>If you still do not receive a code, try again later.</p>'
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "new-phone-number-code"
            }) }}
            
        </div>
    </div>
{% endblock %}
