{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create new password - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}




    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Create a new password</h1>

            <p>Your password must be 8 characters or more.</p>

            <p>It must include at least:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>one upper case letter</li>
                <li>one lower case letter</li>
                <li>one number</li>
                <li>one special character</li>
            </ul>

            {{ govukDetails({
                summaryText: "Which special characters can I use?",
                html: 'You can use the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : &#39; , . ? / ` ~ " ( ) '
            }) }}

            <form method="post" class="form" action="new-sign-in-details-created">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group govuk-!-margin-top-2">
                        <label class="govuk-label" for="new-password">
                            Enter new password
                        </label>
                        <input class="govuk-input govuk-!-width-full-width" id="new-password" name="new-password" type="password">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="confirm-new-password">
                            Confirm new password
                        </label>
                        <input class="govuk-input govuk-!-width-full-width" id="confirm-new-password" name="confirm-new-password" type="password">
                    </div>

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
