{% extends "layouts/main.html" %}

{% block pageTitle %}
  Send me a new email - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Send me a new email</h1>

            <p>We will send you an email with a new security code.</p>

            {{ govukDetails({
                summaryText: "After several attempts, I have not received an email",
                html: '<p>Check your junk folders. If you cannot find your security code the email address you entered may be wrong.</p>

                <p><a href="email-address-re-entry">Enter your email address</a> again and check the right email address is entered. We will send a new code. </p> 
                
                
                <p>If you still do not receive a code, try again later.</p>'
            }) }}


            {{ govukButton({
                text: "Continue",
                href: "email-code.html"
            }) }}

            
        </div>
    </div>
{% endblock %}
