{% extends "layouts/main.html" %}

{% block pageTitle %}
  Update your sign in details - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Update your mobile phone number</h1>

            <p>You can change the mobile phone number you use to get security codes.</p>

            <p>We will:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>email you a security code</li>
                <li>ask some basic questions about you</li>
                <li>ask for your new mobile phone number</li>
                <li>text you a security code</li>
        </ul>

            <p>You will be able to change your password if you want to.</p>

            {{ govukButton({
                text: "Continue",
                href: "email-address.html"
            }) }}

        </div>
    </div>
{% endblock %}
