{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Personal details
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "/iteration-6/account-home.html"
          },
          {
          text: "View your personal details",
          href: "#"
          }
      ]
      }) }}


{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
            Personal details
            </h1>
            <!--Personal details form-->
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Sarah Philips
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 1978
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    National Insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                    AB 12 34 56 C
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Home address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Postal address
                </dt>
                <dd class="govuk-summary-list__value">
                    12 Gregg Lane<br>London<br>SE12 6FH
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Mobile phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">07700 900 457</p>
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Home phone
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">01234 567 890</p>
                        </dd>
                        </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">sarah.phillips@example.com</p>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Benefits
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <div>
                            {% for benefit in data['which-benefits-do-you-get'] %}
                            <p class="govuk-body">{{ benefit }}<br>
                                <span id="sign-in-hint" class="govuk-hint">
                                    Paid into account ending 1234
                                </span></p>
                            {% else %}
                              <p>No benefit selected</p>
                            {% endfor %}
                        </div>
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Tell us about a change</h2>
            <p class="govuk-body">To change your personal details, like your address, <a href="https://www.gov.uk/report-benefits-change-circumstances#:~:text=How%20to%20report%20changes" class="govuk-link">contact your benefit office (opens in a new tab)</a>.</p>
            <!--<p><a href="telephone-information-personal-details">Contact us</a> to update your personal details.</p>-->
            <!--Personal details form end-->
            <p class="govuk-body"><a class="govuk-link" href="/iteration-6/account-home.html">
            Go back to the home page
            </a></p>
        </div>
    </div>
{% endblock %}