{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Which benefits do you get?
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/iteration-5-1/5-1a/which-benefits-do-you-get" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "which-benefits-do-you-get",
          value: data['which-benefits-do-you-get'],
          fieldset: {
            legend: {
              text: "Which benefits do you get?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
          {
            value: "Attendance Allowance",
            text: "Attendance Allowance"
          },
          {
            value: "Carer’s Allowance",
            text: "Carer’s Allowance"
          },
          {
            value: "Disability Living Allowance (DLA) for adults",
            text: "Disability Living Allowance (DLA) for adults"
          },
          {
            value: "Employment and Support Allowance (ESA)",
            text: "Employment and Support Allowance (ESA)"
          },
          {
            value: "Income Support",
            text: "Income Support"
          },
          {
            value: "Industrial Injuries Disablement Benefit",
            text: "Industrial Injuries Disablement Benefit"
          },
          {
            value: "Incapacity Benefit",
            text: "Incapacity Benefit"
          },
          {
            value: "Jobseeker’s Allowance",
            text: "Jobseeker’s Allowance"
          },
          {
            value: "Maternity Allowance",
            text: "Maternity Allowance"
          },
          {
            value: "Personal Independence Payment (PIP)",
            text: "Personal Independence Payment (PIP)"
          },
          {
            value: "Winter Fuel Payment",
            text: "Winter Fuel Payment"
          },
          {
            divider: "or"
          },
          {
            value: "My benefit isn’t in the list",
            text: "My benefit isn’t in the list",
            behaviour: "exclusive"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
