{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">November - December 2024</span>
        Baseline prototype
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Send your evidence
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Baseline</th>
      <td class="govuk-table__cell">

<p class="govuk-body">Based on a Discovery and two rounds of UR, we are happy with this baseline prototype. The intension is for the developers to start building it and for the UCD team to iterate as the requirements develop further and we learn more about the technical limitations, such as Akamai. Also major new changes will be documented as a change request.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h4 class="govuk-heading-s">
      Main error messaging
      </h4>
    
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="error/have-you-been-contacted">Select Yes if you have been contacted to send us evidence</a></li>
        <li><a href="error/employment-support-allowance">Select Yes if you are sending us evidence for Employment and Support Allowance (ESA)</a></li> 
        <li><a href="error/evidence-type">Select which evidence you are sending</a></li>
        <li><a href="error/upload-evidence">You must upload at least one file to continue</a></li>
        <li><a href="error/upload-table">Select Yes if you want to upload another [evidence type] file</a></li>
        <li><a href="error/upload-summary">Select Yes if you want to submit these files</a></li>
        </ul>

        <h4 class="govuk-heading-s">
          Upload error messaging scenarios
          </h4>
        
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="error/upload-evidence/upload-evidence">You must upload at least one file to continue</a></li>
            <li><a href="error/upload-evidence/wrong-file-type">The selected file must be a JPG, JPEG, HEIC, HEIF, BMP, PNG, TIF or PDF</a></li>
            <li><a href="error/upload-evidence/file-too-big">The selected file must be smaller than 10MB</a></li>
            <li><a href="error/upload-evidence/empty-file">The selected file is empty</a></li>
            <li><a href="error/upload-evidence/virus">The selected file contains a virus</a></li>
            <li><a href="error/upload-evidence/password-protected">The selected file is password protected</a></li>
            <li><a href="error/upload-evidence/general-problem">The selected file could not be uploaded - try again</a></li>
            </ul>

    <h4 class="govuk-heading-s">
      Sign out
      </h4>
    
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="you-have-signed-out">You have signed out (action performed by customer)</a></li>
        <li><a href="you-have-been-signed-out">You have been signed out</a></li> 
        <li><a href="wait-as-we-sign-you-out">Please wait while we sign you out</a></li> 
        </ul>
    
<h4 class="govuk-heading-s">
  Service unavailability or problems
  </h4>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="your-evidence-failed-to-upload">There has been an error when uploading your files</a></li> 
    <li><a href="you-will-need-to-start-again">You'll need to start again</a></li> 
    <li><a href="problem-with-the-service">There is a problem with the service page</a></li> 
    <li><a href="service-unavailable">Service unavailable page</a></li> 
    </ul>

      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="start.html" class="govuk-link">View</a></td>
    </tr>
    
  </tbody>



  
</table>
</div>




{% endblock %}
