{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot reset your password - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You cannot reset your password</h1>

            <p>You cannot reset your password because it has been changed recently. You can only change it once every 24 hours.</p>

        </div>
    </div>
{% endblock %}
