{% extends "layouts/main.html" %}

{% set pageHeading = 'Check your email' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    We have sent an email to:<br>
                    <strong class="govuk-!-font-weight-bold">
                        {% if data['reset-password-email-address'] %}
                             {{ data['reset-password-email-address'] | lower }}
                        {% else %} 
                            email@email.com
                        {% endif %}
                    </strong>
                </p>
            </div>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The email will come from DWP login and includes a security code. If you do not get an email, check your spam folder.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="email-code-check" method="post" class="form">
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="email-security-code">
                        Enter your security code
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="email-security-code" name="email-security-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-email">I did not get an email</a></p>
        </div>
    </div>
{% endblock %}
