{% extends "layouts/main.html" %}

{% set pageHeading = 'Check your phone' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <p class="govuk-body">
                We have sent you a text message with your security code.
            </p>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="text-code-check" method="post" class="form">
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="reset-text-code">
                        Enter your security code
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="reset-text-code" name="reset-text-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-text">I did not get a text message</a></p>

            <p><a href="../account-recovery/start-new-phone" class="govuk-link">I cannot access the mobile phone number I use to sign in</a></p>
            
        </div>
    </div>
{% endblock %}
