{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Upload evidence</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Pages added</h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Page 1
        </dt>
        <dd class="govuk-summary-list__value">
          <a download href="/" class="govuk-link">Bankstatement_page1.jpg</a>
        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> file 2</span></a>

        </dd>

      </div>

    </dl>

  </div>
</div>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      Do you want to upload another page?

    </legend>

    <div id="gov-radios-hint" class="govuk-hint">
      If you need to upload a different type of evidence, select ‘Continue’ instead. 
    </div>

    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another" name="another" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="another">
          Yes
        </label>

      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-2" name="another" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="another-2">
          No
        </label>

    </div>

  </fieldset>

</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>




        </div>
        </div>

    </div>
</div>





{% endblock %}
