{% extends "layouts/main.html" %}

{% block pageTitle %}
Contact us to change your account details
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Contact us to change your account details
      </h1>

      <p>
        To change your account details another way, including over the phone,  <a href="https://www.gov.uk/report-benefits-change-circumstances">contact your benefit office (opens in a new tab)</a>.
      </p>

      <p>
        <a href="https://www.gov.uk/">Return to GOV.UK</a>.
      </p>


    </div>
  </div>

{% endblock %}
