{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% include "round-4/breadcrumbs/colleague-view/2c/email.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Send a new email</h1>

      <p>We will send them an email with a new security code.</p>

      {{ govukDetails({
          summaryText: "After several attempts, they have not received an email",
          html: '<p>Ask the customer to check their junk folders. If they cannot find the security code the email address you entered may be wrong.</p>

          <p><a href="enter-your-new-email-address">Enter the email address</a> again and check the right email address is entered. We will send a new code. </p> 
          
          
          <p>If you still do not receive a code, try again later.</p>'
      }) }}


      {{ govukButton({
          text: "Continue",
          href: "email-code.html"
      }) }}

      
  </div>
</div>
{% endblock %}