{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. None of your data will be stored from this test'
}) }}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "homepage.html"
    },
    {
      text: "View customer details",
      href: "personal-details"
    },
    {
      text: "Address we send letters to",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Address update complete
        </h3>
        <p class="govuk-body">You have succesfully changed the address that we send letters to.</p>
      </div>
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

        <h1 class="govuk-fieldset__heading">
          New address we send letters to
        </h1>
      </legend>
    </fieldset>


    {%- from "govuk/components/tag/macro.njk" import govukTag -%}




    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address we send letters to</th>
          <td class="govuk-table__cell">
            5 Wellington House<br>
            Windsor Street<br>
            South Gosforth<br>
            Newcastle upon Tyne<br>
            NE3 1YL
          </td>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Start date</th>
          <td class="govuk-table__cell">
            31 January 2024
          </td>
        </tr>
      </tbody>
    </table>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <form id="addressForm" action="../personal-details.njk" method="POST">
      <input type="hidden" name="address" id="addressInput"
        value="5 Wellington House, Windsor Street, South Gosforth, Newcastle upon Tyne, NE3 1YL">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>
    </form>
    <script>
      document.getElementById('addressForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var address = document.getElementById('addressInput').value;
        sessionStorage.setItem('address', address);
        window.location.href = '../personal-details.njk';
      });
    </script>
  </div>

</div>
</main>
</div>

{% endblock %}