{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">January 2024</span>
        Round 2 UR prototypes
      </h1>

      <div class="govuk-inset-text">
        The Round 2 user research was conducted by Daniel de la Rubia and the interaction designs built by David Doherty. The team was led by Matt Murphy. They are happy to answer any questions you may have.
      </div>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Customer view
    </h2>

  <div class="govuk-grid-row govuk-!-padding-3">
    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Evidence upload</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1A</th>
      <td class="govuk-table__cell">Description needed.</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
        Pending
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="1a/homepage.html" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1B</th>
      <td class="govuk-table__cell">Description needed.</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Pending
        </strong>
    </td>
    <td class="govuk-table__cell"><a href="1b/homepage.html" class="govuk-link">View</a></td>
    </tr>    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1C</th>
      <td class="govuk-table__cell">Description needed.</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Pending
        </strong>
    </td>
    <td class="govuk-table__cell"><a href="1b/homepage.html" class="govuk-link">View</a></td>
  </tr>    <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">1D</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
        Pending
      </strong>
  </td>
  <td class="govuk-table__cell"><a href="1b/homepage.html" class="govuk-link">View</a></td>
</tr>    <tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">1E</th>
  <td class="govuk-table__cell">Description needed.</td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--red">
      Pending
    </strong>
</td>
    <td class="govuk-table__cell"><a href="1c/homepage.html" class="govuk-link">View</a></td>
    </tr>    
  </tbody>
</table>



</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row govuk-!-padding-3">
  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Correspondence address</caption>
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header app-custom-class">Name</th>
    <th scope="col" class="govuk-table__header app-custom-class">Description</th>
    <th scope="col" class="govuk-table__header app-custom-class">Status</th>
    <th scope="col" class="govuk-table__header app-custom-class">Action</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">1F</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
      Pending
    </strong>
  </td>
  <td class="govuk-table__cell"><a href="1f/homepage.html" class="govuk-link">View</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">1G</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
        Pending
      </strong>
  </td>
  <td class="govuk-table__cell"><a href="1g/homepage.html" class="govuk-link">View</a></td>
</tr>
</tbody>
</table>

</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row govuk-!-padding-3">
  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
    <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Letter of Entitlement</caption>
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header app-custom-class">Name</th>
    <th scope="col" class="govuk-table__header app-custom-class">Description</th>
    <th scope="col" class="govuk-table__header app-custom-class">Status</th>
    <th scope="col" class="govuk-table__header app-custom-class">Action</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">1H</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
      Pending
    </strong>
  </td>
  <td class="govuk-table__cell"><a href="1f/homepage.html" class="govuk-link">View</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">1I</th>
    <td class="govuk-table__cell">Description needed.</td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
        Pending
      </strong>
  </td>
  <td class="govuk-table__cell"><a href="1g/homepage.html" class="govuk-link">View</a></td>
</tr>
</tbody>
</table>

</div>






{% endblock %}
