{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}


{% include "round-5/breadcrumbs/colleague-view/2d/textphone.html" %}

{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <h1 class="govuk-heading-l">
    What is their Textphone number?
  </h1>
  <p>We will send a security code to this textphone number.</p>

  <label class="govuk-label" for="textphone-number">
   Textphone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="textphone-number" name="textphoneNumber" type="tex" autocomplete="tex">
</div>

<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>

  </div>

  <script>
    function check3() {
      var element = document.getElementById('textphone-number');
      sessionStorage.setItem('howWeConnect', `Textphone for the hard of hearing<br>${element.value}`);

      if (document.getElementById("textphone-number").value && document.getElementById("textphone-number").value ) {
        window.location.href = "/round-5/colleague-view/2d/alternative-formats/when-we-speak-to-customer/textphone-code.html"
      } else {
        window.location.href = "/round-5/colleague-view/2d/alternative-formats/when-we-speak-to-customer/error/textphone.html"
      }

    }
  </script>

{% endblock %}
