{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "View your personal details",
          href: "personal-details"
          },
          {
            text: "Address we send letters to",
            href: "#"
            }
      ]
      }) }}


{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem 
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#address-line-1">Enter address line 1</a>
      </li>
      <li>
        <a href="#address-town">Enter a town or city</a>
      </li>
      <li>
        <a href="#address-postcode">Enter a valid UK postcode</a>
      </li>
    </ul>
  </div>
  </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      
    <!-- <h1 class="govuk-fieldset__heading">
      Enter customer’s new UK address
    </h1>
  </legend>

  <p class="govuk-body-m">Enter as many parts of the customer's address as you can.</p> -->

  <h1 class="govuk-fieldset__heading">
    Enter the new UK address we can send letters to
  </h1>
</legend>
<div id="changed-name-hint" class="govuk-hint">
  Enter as many parts of the new address as you can.
</div>

    <div class="govuk-form-group govuk-form-group--error">

        <label class="govuk-label" for="address-line-1">
          Address line 1
        </label>
        <div id="searchString-hint" class="govuk-hint">
          For example, building number or name.
      </div>
        <p id="address-line-1-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter address line 1
        </p>
        <input class="govuk-input govuk-input--error" id="address-line-1" name="address-line-1" type="text" aria-describedby="address-line-1-error" autocomplete="address-line-1">
      
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              <br> Address line 2 (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text">
          </div>

          <label class="govuk-label" for="address-town">
          Town or city
        </label>
        <p id="address-town-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a town or city
        </p>
        <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="address-town" name="address-town" type="text"  aria-describedby="address-town-error" autocomplete="address-town">
      
        <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              <br> County (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
          </div>

        <label class="govuk-label" for="address-postcode">
          <br> Postcode
        </label>
        <p id="address-postcode-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a valid UK postcode
        </p>
        <input class="govuk-input govuk-input--width-10 govuk-input--error" id="address-postcode" name="address-postcode" type="text"  aria-describedby="address-postcode-error" autocomplete="postal-code">
      
    
    </div>

    <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

    <!--
    <div>
      <a href="/round-1/1f/update-address-1.html" class="govuk-body-m">Find an address
    </a>
    </div> -->

</fieldset>

</div>

<script>
    function check3() {
      console.log(document.getElementById("yes"))

      if (document.getElementById("address-line-1").value && document.getElementById("address-town").value && document.getElementById("address-postcode").value ) {
        window.location.href = "/round-1/1f/postal-address-information-new.html"
      } else {
        window.location.href = "/round-1/1f/update-address-manual-entry-error.html"
      }

    }
  </script>


</div>
    {% endblock %}