{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We may need to send you letters about your benefit
      </h1>

      <p>Content needed (?)</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How would you prefer to be contacted?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="home-address" name="home-address" type="radio" value="home-address" aria-describedby="home-address-item-hint">
              <label class="govuk-label govuk-radios__label" for="home-address">
                My home address
              </label>
              <div id="home-address-item-hint" class="govuk-hint govuk-radios__hint">
                72 Guild Street<br>London<br>SE23 6FH
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="different-address" name="different-address" type="radio" value="different-address" data-aria-controls="conditional-different-address">
              <label class="govuk-label govuk-radios__label" for="different-address">
                A different address
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <script>
        function check() {
          console.log('in function')
          var radios = document.getElementsByName("contact");
          var hasSelection = false
          for (var i = 0, len = radios.length; i < len; i++) {
            if (radios[i].checked) {
              hasSelection = true;
            }
          }
          if (!hasSelection) {
            window.location.href = "/round-2/1a/address-we-send-letters-to/uk-or-international-error.html";
          } else {
            if (document.getElementById("different-address").checked) {
              window.location.href = "/round-2/1a/address-we-send-letters-to/update-address-1.html"
            } else {
              window.location.href = "/round-2/1a/personal-details"
            }
          }
        }
      </script>

      <form class="form" action="/path/of/next/page" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
