{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "round-1/components/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Customer's postal address information
                </h1>
              </legend>
            </fieldset>

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">New postal address</th>
        <td class="govuk-table__cell">
          Bajo E,<br> 
          Calle de Sevilla 2,<br>
          28014,<br>
          Madrid,<br>
          Spain
        </td>
      </tr>
    </tbody>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Previous postal address</th>
        <td class="govuk-table__cell">
          18 Burdett House,<br>
          Main Street,<br>
          Guildford,<br> 
          GU79 6YW</td>
      </tr>
    </tbody>
  </table>



  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
      {{ govukButton({
          text: "Confirm",
          href: "/round-1/1g/international-updated-address.html",
          preventDoubleClick: true
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--warning",
            href: "/round-1/1g/abandon-journey.html"
          }) }}

      <!-- <a class="govuk-link" href="/round-1/1g/abandon-journey.html">Cancel</a> -->
    </div>

        </div>

</div>

{% endblock %}
