{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-1/components/key-details.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Customer's postal address information
                </h1>
              </legend>
            </fieldset>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

{%- from "govuk/components/tag/macro.njk" import govukTag -%}


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Current postal address</th>
        <td class="govuk-table__cell">
          18 Burdett House,<br>
          Main Street,<br>
          Guildford,<br> 
          GU79 6YW</td>
      </tr>
    </tbody>
  </table>



{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Confirm",
    href: "homepage.html"
  }) }}

  {{ govukButton({
    text: "Change",
    classes: "govuk-button--secondary",
    href: "uk-or-international.html"
  }) }}
  
</div>

        </div>

</div>

{% endblock %}
