{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "round-1/components/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is the new postal address in the UK, Isle of Man or Channel Islands?
      </h1>
    </legend>

    <br> 
    
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="UK-yes" name="UK" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="UK-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="UK-no" name="UK" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="UK-no">
          No
        </label>
      </div>
    </div>
    </fieldset>
    <br>
    <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
  </div>

<script>
  function check() {
    console.log('in function')
    var radios = document.getElementsByName("UK");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/agent/update-address/uk-or-international-error.html";
    } else {
      if (document.getElementById("UK-yes").checked) {
        window.location.href = "/round-1/1g/update-address-1.html"
      } else {
        window.location.href = "/round-1/1g/international-address.html"
      }
    }
  }
</script>
 </div>

</div>

{% endblock %}
