{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set written = data["altFormats"]["written"] %}
[{% set writtenOptions = written | getOptions %}


{% set spoken = data["altFormats"]["spoken"] %}
{% set spokenOptions = spoken | getOptions %}



{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "How we contact you",
          href: "#"
          }
      ]
      }) }}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        How we contact you
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we write to you 
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p></p>You can contact me by standard letter</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/written-format">
              Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address we send letters to
          <dd class="govuk-summary-list__value">
    
    
            <p></p>220 St Vincent Street<br> Glasgow<br> G2 5SG</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/written-format">
              Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we speak to you
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p></p>You can contact me by phone</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/written-format">
              Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred phone number
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p></p>07700 900 457</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/written-format">
              Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
            </a>
          </dd>
        </div>
    
      </dl>
    

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "How should we write to you?"
            },
            value: {
              text: "You can contact me by standard letter"
            },
            actions: {
              items: [
                {
                  href: "alternative-formats/written-format.html",
                  text: "Change",
                  visuallyHiddenText: "change your written communication preference"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address we send letters to"
            },
              value: { html: "220 St Vincent Street<br> Glasgow<br> G2 5SG"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "change your address that we send letters to"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "How should we speak to you?"
            },
            value: {
              text: "You can contact me by phone"
            },
            actions: {
              items: [
                {
                  href: "alternative-formats/spoken-format.html",
                  text: "Change",
                  visuallyHiddenText: "change your verbal communication preference"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Preferred phone number"
            },
            value: {
              text: "07700 900 457"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "change your preferred phone number"
                }
              ]
            }
          }



        ]
      }) }}

    </div>
  </div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        When we write to you 
      </dt>
      <dd class="govuk-summary-list__value">





        <p>{{"standard-letter" | getLabel}}</p>

        <p>{{ written.format | getLabel }}</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for option in writtenOptions %}
            <li>{{ option }}</li>
          {% endfor %}


        </ul>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alternative-formats/written-format">
          Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
        </a>
      </dd>
    </div>

  </dl>

  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        When we speak to you 
      </dt>
      <dd class="govuk-summary-list__value">

        <p>{{"standard-phone-call" | getLabel}}</p>

        <p>{{ spoken.format | getLabel }}</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for option in spokenOptions %}
            <li>{{ option }}</li>
          {% endfor %}
        </ul>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alternative-formats/spoken-format">
          Change<span class="govuk-visually-hidden"> {{ spoken.format }}</span>
        </a>
      </dd>
    </div>
  </dl>




      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "../page-5.html"
        }) }}
      </div>
      
    </div>
  </div>



{% endblock %}
