{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set written = data["altFormats"]["written"] %}
[{% set writtenOptions = written | getOptions %}


{% set spoken = data["altFormats"]["spoken"] %}
{% set spokenOptions = spoken | getOptions %}



{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "How we contact you",
          href: "#"
          }
      ]
      }) }}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        How we contact you
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we write to you 
          </dt>
          <dd class="govuk-summary-list__value">
    
            <p>{{ written.format | getLabel }}</p>
    
            <ul class="govuk-list govuk-list--bullet">
              {% for option in writtenOptions %}
                <li>{{ option }}</li>
              {% endfor %}
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/written-format">
              Change<span class="govuk-visually-hidden"> {{ written.format }}</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address we send letters to
          <dd class="govuk-summary-list__value">
    
    
            <p></p>220 St Vincent Street<br> Glasgow<br> G2 5SG</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> The address that we can send letters to</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When we speak to you
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p>You can contact me by phone</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alternative-formats/spoken-format">
              Change<span class="govuk-visually-hidden"> {{ spoken.format }}</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred phone number
          </dt>
          <dd class="govuk-summary-list__value">
    
    
            <p></p>07700 900 457</p>
    
    
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Your preferred phone number that we can contact</span>
            </a>
          </dd>
        </div>
    
      </dl>
    


    </div>
  </div>


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Return",
          href: "/round-1/1d/homepage.html"
        }) }}
      </div>
      
    </div>
  </div>



{% endblock %}
