{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1i/phone-number-error.html" %}

{% endblock %}

{% block content %}

{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Enter your security code",
        href: "#2fa-code"
        }
    ]
    }) }}
    <div class="govuk-grid-row">



        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Check your phone</h1>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    We have sent a code to:<br>
                    <strong class="govuk-!-font-weight-bold">
                        {% if data['telephone-number'] %}
                            {{ data['telephone-number'] }}
                        {% else %} 
                            07771 900 900
                        {% endif %}
                    </strong>
                </p>
            </div>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.

                <div class="govuk-form-group govuk-form-group--error">
            </p>

            <p id="security-code-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter your security code
              </p>

            <form action="code-check" method="post" class="form">
                    <label class="govuk-label" for="2fa-code">
                        Enter your security code
                    </label>

                    <input class="govuk-input govuk-input--width-10" id="2fa-code" name="2fa-code" type="text">
                </div>
            </div>
            </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="../resend-code">I did not get a text message</a></p>

           
        </div>
    </div>
{% endblock %}