{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. None of your data will be stored from this test'
}) }}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "homepage.html"
    },
    {
      text: "Contact details",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Contact history</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!-- Tab button here -->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#add-to-contact-history">
              Add to contact history
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#view-contact-history">
              View contact history
            </a>
          </li>
        </ul>
        <!-- Tab1 content start here -->
        <div class="govuk-tabs__panel" id="add-to-contact-history">
          <h2 class="govuk-heading-l">Add to contact history</h2>
          <form action="engagement-log-journey/what-service-called-about" method="post" novalidate>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                      You have not added anything to the contact history during this call
                    </h3>
                  </legend>
                </fieldset>
              </div>
              <button class="govuk-button" data-module="govuk-button" onclick="alert(global_var['a']['b']);">
                Add to contact history
              </button>
          </form>
        </div>
        <!-- Tab2 content start here -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view-contact-history">
          <div id="showContactHistory-bydefault">
            <h2 class="govuk-heading-l">View contact history</h2>
            <!-- Filter section start here -->
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="show-filter-btn" onclick="showFilter()">
              Show filter
            </button>
            <button class="govuk-visually-hidden govuk-button govuk-button--secondary" data-module="govuk-button" id="hide-filter-btn" onclick="cancelFilter()">
              Hide filter
            </button>

            <!-- Filter section display benefit options -->
            <div class="govuk-visually-hidden" id="filter-section">
              <div class="govuk-form-group govuk-!-margin-bottom-3">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                      Filter by benefit
                    </h2>
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter-1" name="select-Benefit-to-filter" type="checkbox" value="Employment and Support Allowance (ESA)" {{ checked("select-Benefit-to-filter", "Employment and Support Allowance (ESA)") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter-1">
                        Employment and Support Allowance (ESA)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter-2" name="select-Benefit-to-filter" type="checkbox" value="Jobseeker's Allowance (JSA)" {{ checked("select-Benefit-to-filter", "Jobseeker's Allowance (JSA)") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter-2">
                        Jobseeker's Allowance (JSA)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter-3" name="select-Benefit-to-filter" type="checkbox" value="Personal Independence Payment (PIP)" {{ checked("select-Benefit-to-filter", "Personal Independence Payment (PIP)") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter-3">
                        Personal Independence Payment (PIP)
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" id="apply-filter-btn-2" onclick="applyFilter()">
                  Apply filter
                </button>
                <a class="govuk-link" href="#" id="cancel-filter-link2" onclick="cancelFilter()">Cancel</a>
              </div>
            </div>
            <!-- earlier filter design -->
            <div class="govuk-visually-hidden govuk-!-margin-bottom-8" id="old-filter-design">
              <h3 class="govuk-heading-m">Filters</h3>
              <form action="/form-handler" method="post" novalidate>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date range</h3>
                    <div id="passport-issued-hint" class="govuk-hint">
                      Please select date range that is within last 12 months.
                    </div>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                            <legend class="govuk-fieldset__legend">
                              From date
                            </legend>
                            <div id="date-range-from-hint" class="govuk-hint">
                              For example, 13 03 2023
                            </div>
                            <div class="govuk-date-input" id="from-date">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="from-date-day">
                                        Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-day" name="from-date-day" type="text" inputmode="numeric" autocomplete="on">
                                </div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="from-date-month">
                                        Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-month" name="from-date-month" type="text" inputmode="numeric" autocomplete="on">
                                </div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="from-date-year">
                                        Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-year" name="from-date-year" type="text" inputmode="numeric" autocomplete="on">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="govuk-grid-column-one-third">
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-to-hint">
                                <legend class="govuk-fieldset__legend">
                                  To date
                                </legend>
                                <div id="date-range-to-hint" class="govuk-hint">
                                  For example, 22 04 2023
                                </div>
                                <div class="govuk-date-input" id="to-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="to-date-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-date-day" name="to-date-day" type="text" inputmode="numeric" autocomplete="on">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="to-date-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-date-month" name="to-date-month" type="text" inputmode="numeric" autocomplete="on">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="to-date-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-date-year" name="to-date-year" type="text" inputmode="numeric" autocomplete="on">
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <!-- filter by Benefits / Enquiry type / Status -->
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Benefit
                        </legend>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                              Employment and support Allowance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="mines">
                            <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                              Jobseeker Allowance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment (PIP)
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button" id="apply-filter-btn" onclick="applyFilter()">
                    Apply filter
                  </button>
                  <a class="govuk-link" href="#" id="cancel-filter-link" onclick="cancelFilter()">Cancel</a>
                </div>
              </form>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            <!-- data table -->
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date and time of contact</th>
                  <th scope="col" class="govuk-table__header">Type of contact</th>
                  <th scope="col" class="govuk-table__header ">Benefits discussed</th>
                  <th scope="col" class="govuk-table__header">Type of enquiry </th>
                  <th scope="col" class="govuk-table__header ">Notes <span class="govuk-body govuk-hint">(optional)</span></th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                  <td class="govuk-table__cell">Incoming telephone call</td>
                  <td class="govuk-table__cell">Employment and Support Allowance</td>
                  <td class="govuk-table__cell">Next payment date</td>
                  <td class="govuk-table__cell">--</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="javascript:void(0);" class="govuk-link" onclick="showContactDetails();">View details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                  <td class="govuk-table__cell">Incoming telephone call</td>
                  <td class="govuk-table__cell">Employment and Support Allowance</td>
                  <td class="govuk-table__cell">Next payment amount</td>
                  <td class="govuk-table__cell">	This is an example of what more information...</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="javascript:void(0);" class="govuk-link" onclick="showContactDetails();">View details</a></td>
                </tr>
              </tbody>
            </table>
            <!-- table pagination -->
            <nav class="moj-pagination" aria-label="Pagination navigation">
              <ul class="moj-pagination__list govuk-visually-hidden">
              <li class="moj-pagination__item  moj-pagination__item--prev">
                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
              </li>
      
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>
      
              <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>
      
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
      
              <li class="moj-pagination__item moj-pagination__item--dots">…</li>
      
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>
      
              <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
              </li>
            </ul>
              <p class="moj-pagination__results">Showing <b>01</b> to <b>01</b> of <b>01</b> page</p>
            </nav>
          </div>
          <!-- contact details section -->
          <div class="govuk-visually-hidden" id="showCtDetails">
            <a class="govuk-back-link" href="javascript:void(0);" onclick="showContactHistory();">Back</a>
            <div class="govuk-!-width-two-thirds govuk-!-margin-top-4">
              <h2 class="govuk-heading-l">Details about incoming telephone call on 17 October 2023</h2>
            </div>
            <div class="colleague-view-container-light-grey">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <span class="govuk-caption-m">Caller</span>
                    <div>
                      <span class="govuk-body govuk-!-font-weight-bold">Jane Doe (Appointee)</span>
                    </div>
            </div>
            <div class="govuk-grid-column-one-third">
                    <!-- <p class="govuk-body-s">Label name</p>
                    <p class="govuk-body govuk-!-font-weight-bold ">Value</p> -->
                    <span class="govuk-caption-m">Call taken by</span>
                    <div>
                      <span class="govuk-body govuk-!-font-weight-bold">Agent (1003)</span>
                    </div>
            </div>
            <div class="govuk-grid-column-one-third">
                    <!-- <p class="govuk-body-s">Label name</p>
                    <p class="govuk-body govuk-!-font-weight-bold ">Value</p> -->
                    <span class="govuk-caption-m">Length of call</span>
                    <div>
                      <span class="govuk-body govuk-!-font-weight-bold">15 Minutes</span>
                    </div>
            </div>
                </div>
            </div>
            <div class="govuk-!-padding-top-5">
              <span class="govuk-caption-m">Started at</span>
              <h3 class="govuk-heading-m">Tuesday 17 April 2023, 12:00</h3>
            </div>
            <div class="colleague-view-upcomming-payment-benefit">
                      <h3 class="govuk-heading-m">Employment and Support Allowance</h3>
                      <!-- <h2 class="govuk-heading-s">Payment enquiry</h2> -->
                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Next payment date
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Resolved</strong>
                          </dd> 
                          <dd class="govuk-summary-list__value">
                            
                            <p class="govuk-body">
                              There is no note added
                            </p>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Next payment amount
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Resolved</strong>
                          </dd> 
                          <dd class="govuk-summary-list__value">
                              <div class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-padding-right-1">Note:</span>by Agent (1003)
                                <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-padding-top-1">17 October 2023 at 12:00</span>
                              </div>
                              <p class="govuk-body">This is an example to show what a note could look like.</p>
                          </dd>
                        </div>
                      </dl>
            </div>
            <div>
              <span class="govuk-caption-m">Ended at</span>
              <h3 class="govuk-heading-m">Tuesday 17 October 2023, 12:15</h3>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>


  <!-- logic for filter function -->

  <script type="text/javascript">
    function showFilter() {
      // document.getElementById("demo").innerHTML = "Hello World";
      // alert("Hello world");
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var esaTable = document.getElementById('table-ESA');
      var hideFilterBtn = document.getElementById('hide-filter-btn');
      var showOldFilter = document.getElementById('old-filter-design');
      // alert("Hello world",link.className);
      // link.style.display = 'block'; 
      hideFilterBtn.classList.remove("govuk-visually-hidden");
      // link.classList.remove("govuk-visually-hidden");
      showOldFilter.classList.remove("govuk-visually-hidden");
      link2.classList.add("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
    }

    function cancelFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var hideFilterBtn = document.getElementById('hide-filter-btn');
      var showOldFilter = document.getElementById('old-filter-design');
      // var link4 = document.getElementById('apply-filter-btn');
      link.classList.add("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      hideFilterBtn.classList.add("govuk-visually-hidden");
      showOldFilter.classList.add("govuk-visually-hidden");
    }


    function applyFilter() {

      var link3 = document.getElementById('filter-selected');
      // var link4 = document.getElementById('apply-filter-btn');
      var link2 = document.getElementById('show-filter-btn');
      var link5 = document.getElementById('filter-section'); 
      var tableDefault = document.getElementById('default-table')
      var esaTable = document.getElementById('table-ESA');
      link3.classList.remove("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      // link4.classList.add("govuk-visually-hidden");
      link5.classList.add("govuk-visually-hidden");
      tableDefault.classList.add("govuk-visually-hidden");
      esaTable.classList.remove("govuk-visually-hidden");
    }

    function clearFilter() {
      var link3 = document.getElementById('filter-selected');
      var esaTable = document.getElementById('table-ESA');
      var tableDefault = document.getElementById('default-table')
      // var link4 = document.getElementById('apply-filter-btn');
      link3.classList.add("govuk-visually-hidden");
      tableDefault.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      link.classList.remove("govuk-visually-hidden");
      
    }
    
       // show contact details section
       function showContactDetails() {
        var showContactDetails = document.getElementById('showCtDetails');
        var defaultContactHistory = document.getElementById('showContactHistory-bydefault');
        defaultContactHistory.classList.add("govuk-visually-hidden");
        showContactDetails.classList.remove("govuk-visually-hidden");

    }
    function showContactHistory() {
        var showContactDetails = document.getElementById('showCtDetails');
        var defaultContactHistory = document.getElementById('showContactHistory-bydefault');
        defaultContactHistory.classList.remove("govuk-visually-hidden");
        showContactDetails.classList.add("govuk-visually-hidden");

    }

    
    </script>

{% endblock %}