{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <style>
      .dwp-logo {max-width: 20%}
      .dwp-logo {max-height: 20%}
      </style>

    <img src="/public/images/dwp-logo.png" class="dwp-logo">  

    <div class="govuk-!-padding-bottom-9"></div>

        <h1 class="govuk-heading-xl">Lorem ipsum dolor sit amet</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2 class="govuk-heading-l">Lorem ipsum dolor sit amet</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-button-group">
        <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Download</button>
        <a class="govuk-link" href="#">Print</a>
        </div>
        <div class="govuk-!-padding-bottom-6"></div>

        <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">

        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Get help</h2>
          <ul class="govuk-list">
            <li>Telephone: 0808 157 0001</li>
            <li>Textphone: 0808 157 0002</li>
            <li class="govuk-!-margin-top-5"><a href="#" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0808 157 0003</li>
            <li class="govuk-!-margin-top-5"><a href="#" class="govuk-link">Video relay service</a> for British Sign Language (BSL) users (<a href="#" class="govuk-link">Check you can use the video relay service</a>)</li>
            <li class="govuk-!-margin-top-5">All services are available Monday to Friday, 9am to 5pm (except public holidays)</li>
          </ul>
          <p class="govuk-body">
            <a class="govuk-link" href="#">Find out about call charges</a>
          </p>
        </div>
        </div>
        </section>
        </div>

</div>



{% endblock %}
