{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="text-align: bottom;">
<br>
</div>

  <div class="govuk-grid-column-one-third" style="text-align: right;">

<style>
  .dwp-logo {max-width: 40%}
  .dwp-logo {max-height: 40%}

  /* .dwp-logo {
        float: right;
    } */

  </style>

<img src="/public/images/dwp-logo.png" class="dwp-logo">

<div class="govuk-!-padding-bottom-6"></div>

<p>Testtown Job Centre<br>123 Test Street<br>Testtown<br>SE23 6FH</p>

<p><a href="www.gov.uk">www.gov.uk</a></p>

<p>Telephone: 0800 123 4567<br>
  Textphone: 0800 765 4321<br>
</p>

<p>Your reference: AB000000A</p>

<p>26 February 2025</p>

</div>
</div>

<div class="govuk-!-padding-bottom-2"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>John Smith<br>72 Guild Street<br>London<br>SE23 6FH</p>    


        <div class="govuk-!-padding-bottom-4"></div>

        <span class="govuk-caption-l">Please read this letter in full</span>
        <h1 class="govuk-heading-xl">Example letter</h1>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p>Dear John Smith,</p>

          <p>This is an example of how letters will be displayed when you check your notifications.</p>
            <p>There is no other information. We are just using this text as an example.</p>

        <h2 class="govuk-heading-l">Example title</h2>

        <p>This is an example of how letters will be displayed when you check your notifications.</p>
        <p>There is no other information. We are just using this text as an example.</p>

        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-button-group">
        <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()">Download</button>
        <a class="govuk-link" href="#">Print</a>
        </div>

        <h3 class="govuk-heading-m">We have many different ways we can communicate with you.</h3>

        <p>If you would like braille, British Sign Language, a hearing loop,
          translations, large print, audio or something else please tell us using
          the phone number at the top of this letter.</p>

        <h3 class="govuk-heading-m">Reporting changes</h3>

        <p>You must tell us straightaway if there is a change in your
          circumstances. If you give wrong or incomplete information, or you do
          not report changes, you may be paid more or less money than you
          should. You will have to pay back overpaid money when told to do so.
          You could also be prosecuted or need to pay a financial penalty. If we
          pay you less money than we should we may pay you this money back.</p>


          <h3 class="govuk-heading-m">More information</h3>

        <p>If you need any more information, please contact us. Our number is at the top of this letter.</p>
        <p>Please be careful who you share this letter and other personal information with.</p>
        <p>Yours sincerely,</p>
        <p>Office Manager</p>


        <h3 class="govuk-heading-m">Equality and Diversity</h3>

        <p>We treat people fairly, regardless of their disability, ethnicity, gender,
          sexual orientation, transgender status, marital or civil partnership
          status, age, religion or beliefs.</p>


          <h3 class="govuk-heading-m">Call charges</h3>

        <p>Calls to 0800 numbers are free from personal mobiles and landlines.</p>


        <h3 class="govuk-heading-m">Why DWP needs personal information and how we treat it</h3>

        <p>We treat personal information carefully. We may use it for any of our
          purposes. To learn more about information rights and how we use
          information, please visit our DWP Personal Information Charter at
          <a href="www.gov.uk/dwp/personal-information-charter">www.gov.uk/dwp/personal-information-charter</a></p>

          <p>If you have included another adult's personal information in your claim
            you should let them know. They can find information about why and
            how DWP uses personal information in the DWP Personal Information
            Charter at <a href="www.gov.uk/dwp/personal-information-charter">www.gov.uk/dwp/personal-information-charter</a></p>



</div>


<style>

.govuk-heading-xl {
          padding-bottom: 10px;
        }

</style>


{% endblock %}
