{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<style>
  .dwp-logo {max-width: 20%}
  .dwp-logo {max-height: 20%}

  .dwp-logo {
        float: right;
    }

  </style>

<img src="/public/images/dwp-logo.png" class="dwp-logo">  

</div>
</div>

<div class="govuk-!-padding-bottom-9"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <p>John Smith<br>72 Guild Street<br>London<br>SE23 6FH</p>

        <div class="govuk-!-padding-bottom-4"></div>

        <h1 class="govuk-heading-xl">Example letter</h1>

          <p>Dear John Smith,</p>

          <p>This is an example of how letters will be displayed when you check your notifications.</p>
            <p>There is no other information. We are just using this text as an example.</p>

        <h2 class="govuk-heading-l">Example title</h2>

        <p>This is an example of how letters will be displayed when you check your notifications.</p>
        <p>There is no other information. We are just using this text as an example.</p>

        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-button-group">
        <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Download message</button>
        <a class="govuk-link" href="#">Print message</a>
        </div>
</div>



{% endblock %}
