{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}



<body>
      <p>Testtown Job Centre
        123 Test Street
        Testtown
        SW1A 1AA
        <b>www.gov.uk</b>
        Telephone: 0800 123 4567&nbsp;
        Textphone: 0800 765 4321
        Your reference:&nbsp;
        AB000000A</p>

<h2 class="govuk-heading-m">We have many different ways we can communicate with you.</h2>
<p>If you would like braille, British Sign Language, a hearing loop, translations, large print, audio or something else please tell us using the phone number at the top of this letter.</p>
<h1 class="govuk-heading-l">Information about your benefit entitlement</h1>


<h2 class="govuk-heading-m">Please read this letter in full</h2>
<p>Dear Boaty McBoatface</p>
<p>Please find the information you requested below.</p>

<h2 class="govuk-heading-m">Your entitlement details</h2>
<p>You were awarded Job Seekers Allowance.</p>
<p>Your partner is also included on this claim. 
Partner's name: Boatina McBoatface
Partner's National Insurance number: BC000000A</p>
<p>Entitlement start date: 1 Jan 2024</p>
<p>Current amount: £123.45 monthly</p>

<h2 class="govuk-heading-m">Reporting changes</h2>
<p>You must tell us straightaway if there is a change in your circumstances. If you give wrong or incomplete information, or you do not report changes, you may be paid more or less money than you should. You will have to pay back overpaid money when told to do so. You could also be prosecuted or need to pay a financial penalty. If we pay you less money than we should we may pay you this money back.</p>

<h2 class="govuk-heading-m">More information</h2>
<p>If you need any more information, please contact us. Our number is at the top of this letter.</p>
<p>Please be careful who you share this letter and other personal information with.</p>
<p>Yours sincerely,</p>
<p>Office Manager</p>

<h2 class="govuk-heading-m">Equality and Diversity</h2>
<p>We treat people fairly, regardless of their disability, ethnicity, gender, sexual orientation, transgender status, marital or civil partnership status, age, religion or beliefs.</p>

<h2 class="govuk-heading-m">Call charges</h2>
<p>Calls to 0800 numbers are free from personal mobiles and landlines.</p>

<h2 class="govuk-heading-m">Why DWP needs personal information and how we treat it</h2>
    <p>We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our DWP Personal Information Charter at <a href="www.gov.uk/dwp/personal-information-charter" class="govuk-link"><b>www.gov.uk/dwp/personal-information-charter</b></a></p>
    <p>If you have included another adult's personal information in your claim you should let them know. They can find information about why and how DWP uses personal information in the DWP Personal Information Charter at <a href="www.gov.uk/dwp/personal-information-charter" class="govuk-link"><b>www.gov.uk/dwp/personal-information-charter</b></a></p>
</body>



{% endblock %}
