{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

    <!--Crumble menu-->
    {{ govukBreadcrumbs({
      items: [
          {
          text: "Home",
          href: "homepage"
          },
          {
          text: "Request accessible formats",
          href: "../../request-accessible-formats"
        },
        {
        text: "When we speak to you",
        href: "#"
        }
      ]
      }) }}


{% endblock %}

{% block content %}

<form class="form">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
            What signing or lipspeaking service do you need?
        </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signing-lipspeaking" name="signing-lipspeaking" type="radio" value="British Sign Language (BSL) interpreter">
            <label class="govuk-label govuk-radios__label" for="signing-lipspeaking">
                British Sign Language (BSL) interpreter
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signing-lipspeaking-2" name="signing-lipspeaking" type="radio" value="Deafblind Manual alphabet">
            <label class="govuk-label govuk-radios__label" for="signing-lipspeaking-2">
                Deafblind Manual alphabet
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signing-lipspeaking-3" name="signing-lipspeaking" type="radio" value="Hands-on signing">
            <label class="govuk-label govuk-radios__label" for="signing-lipspeaking-3">
                Hands-on signing
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signing-lipspeaking-4" name="signing-lipspeaking" type="radio" value="Lipspeaking">
            <label class="govuk-label govuk-radios__label" for="signing-lipspeaking-4">
                Lipspeaking
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signing-lipspeaking-5" name="signing-lipspeaking" type="radio" value="Sign Supported English">
            <label class="govuk-label govuk-radios__label" for="signing-lipspeaking-5">
                Sign Supported English
            </label>
        </div>
    </div>
  </fieldset>
  </div><button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
  </button>
  </form> 

{% endblock %}
