{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-4/breadcrumbs/customer-view/1h/textphone.html" %}

{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <h1 class="govuk-heading-l">
    What is your Textphone number?
  </h1>
  <p>We will send a security code to this textphone number.</p>

  <div class="govuk-inset-text">
    We will try to use this option when we can. There may be times where we need to make a phone call instead for legal reasons.
      </div>

  <label class="govuk-label" for="textphone-number">
   Textphone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="textphone-number" name="textphoneNumber" type="tex" autocomplete="tex">
</div>

<button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" onclick="check3()" >Continue</button>

</fieldset>

  </div>

  <script>
    function check3() {
      var element = document.getElementById('textphone-number');
      sessionStorage.setItem('howWeConnect', `Textphone for the hard of hearing<br>${element.value}`);

      if (document.getElementById("textphone-number").value && document.getElementById("textphone-number").value ) {
        window.location.href = "/round-4/customer-view/1h/alternative-formats/when-we-speak-to-you/textphone-code.html"
      } else {
        window.location.href = "/round-4/customer-view/1h/alternative-formats/when-we-speak-to-you/error/textphone.html"
      }

    }
  </script>

{% endblock %}
