{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/audio-email.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which email can we send these files to?
      </h1>
    </legend>
    <p class="govuk-body">We will send the MP3 file to this email address.</p>
    <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item" onclick="set('mp3-email-address')">
      <input class="govuk-radios__input" id="mp3-email-address" name="mp3-email-address" type="radio" value="sarah.phillips@example.com">
      <label class="govuk-label govuk-radios__label" for="mp3-email-address">
        sarah.phillips@example.com
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('mp3-email-address-2')">
      <input class="govuk-radios__input" id="mp3-email-address-2" name="mp3-email-address" type="radio" value="A different email address">
      <label class="govuk-label govuk-radios__label" for="mp3-email-address-2">
        A different email address
      </label>
    </div>            
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
    </button>
</div>
</div>

<script>
  var redirectUrl = "";
  function set(inputValue) {

    if (inputValue === "mp3-email-address") {
      sessionStorage.setItem('howWeWrite', 'Audio<br>MP3 file by email<br>sarah.phillips@example.com');
      redirectUrl = "../confirm-your-changes";
    } else if (inputValue === "mp3-email-address-2") {
      sessionStorage.setItem('howWeWrite', 'Audio<br>MP3 file by email<br>A different email address');
      redirectUrl = "../confirm-your-changes";
    } else {
      sessionStorage.setItem('howWeWrite', 'Audio<br>MP3 file by email<br>s.lee@university.ac.uk');
      redirectUrl = "../confirm-your-changes";
    }
  }

  document.getElementById('radioForm').addEventListener('submit', function (event) {
    event.preventDefault();
   
    if (redirectUrl !== "") {
      window.location.href = redirectUrl;
    }
  });

</script>


{% endblock %}