{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/phone-number.html" %}


{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Mobile phone numbers</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone 1
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><a href="#" class="govuk-link">07*** *** 457</a></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change mobile phone number</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> remove mobile phone number</span></a>
                </li>
              </ul>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone 2
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><a href="#" class="govuk-link">07*** *** 982</a></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change mobile phone number</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> remove mobile phone number</span></a>
                </li>
              </ul>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone 3
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><a href="#" class="govuk-link">07*** *** 123</a></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change mobile phone number</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> remove mobile phone number</span></a>
                </li>
              </ul>
            </dd>
          </div>
          
        </dl>

        <p class="govuk-body">
          <a href="javascript:window.history.back()" class="govuk-link">Back</a>
        </p>


      </div>
    </div>
</div>


<script>
  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }
</script>

{% endblock %}