{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/how-we-contact-you.html" %}


{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds-from-desktop">


        <h2 class="govuk-heading-l">How we contact you</h2>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact preferences-agent
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Preferred language
                </dt>
                  {% if data.SelectLanguageSET %}
                    <p>{{ data.SelectLanguageSET }}</p>
                  {% else %}
                    <p>English</p>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">When we speak to you</span>
                    </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How we speak to you
                </dt>
                  {% if data.HowWeSpeakToYouSET %}
                    <p>{{ data.HowWeSpeakToYouSET }}</p>
                  {% else %}
                    <p>I do not have a preference</p>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">How we speak to you</span>
                    </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How we write to you
                </dt>
                  {% if data.HowWeWriteToYouSET %}
                    <p>{{ data.HowWeWriteToYouSET }}</p>
                  {% else %}
                    <p>I do not have a preference</p>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">How we write to you</span>
                    </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Alternative formats
                </dt>
                <dd class="govuk-summary-list__value" id="mainHowWeWriteDiv" name="mainHowWeWriteDiv">
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">Choose an alternative format </span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address we send letters to
                </dt>
                <dd class="govuk-summary-list__value" id="newAddressDiv" name="newAddressDiv">
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address we send letters to</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email addresses
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body" id="newEmailDiv" name="newEmailDiv"></p>
                  <p class="govuk-body">sarah.lee@email.com</p>
                  <p class="govuk-body">s.lee@university.ac.uk</p>
                  </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> email</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Mobile phone numbers
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body" id="mainPhoneDiv" name="mainPhoneDiv"></p>
                  <p class="govuk-body">07700 900 982</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> add mobile phone number</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change mobile phone numbers</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Landline number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body" id="mainLandlineDiv" name="mainLandlineDiv"></p>
                  <p>01632 960000</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> add landline phone number</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change landline phone number</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>



</div>




<script>

  var address = sessionStorage.getItem('address');

  var newAddressDiv = document.getElementById('newAddressDiv');

  if (newAddressDiv) {
    if(address) {
      newAddressDiv.innerHTML = address.replace(/,/g, '<br>');
    } else {
      newAddressDiv.innerHTML = "	72 Guild Street<br>London<br>SE23 6FH";
    }
  }

  var email = sessionStorage.getItem('email');

  var newEmailDiv = document.getElementById('newEmailDiv');

  if (newEmailDiv) {
    if(email) {
      newEmailDiv.innerHTML = email;
    } else {
      newEmailDiv.innerHTML = "sarah.phillips@example.com";
    }
  }

  var phone = sessionStorage.getItem('phone');
  var mainPhoneDiv = document.getElementById('mainPhoneDiv');
  if (mainPhoneDiv) {
    if(phone) {
      mainPhoneDiv.innerHTML = phone;
    } else {
      mainPhoneDiv.innerHTML = "07700 900 457";
    }
  }

  var landline = sessionStorage.getItem('landline');
  var mainLandlineDiv = document.getElementById('mainLandlineDiv');
  if (mainLandlineDiv) {
    if(landline) {
      mainLandlineDiv.innerHTML = landline;
    } else {
      mainLandlineDiv.innerHTML = "01632 960 001";
    }
  }

  var mainHowWeConnectDiv = document.getElementById('mainHowWeConnectDiv');
  var howWeConnect = sessionStorage.getItem('howWeConnect');
  var howWeConnectArrary;
  if (howWeConnect) {
    howWeConnectArrary = howWeConnect.split("<br>");
  }
 
  if (mainHowWeConnectDiv) {
    if (howWeConnect && howWeConnectArrary.length > 0) {
        var list = "";

        if (howWeConnectArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeConnectArrary.length; i++) {
            list += `<li>${howWeConnectArrary[i]}</li>`
          }
          list += "</ul>"
        }

        mainHowWeConnectDiv.innerHTML = `<p class='govuk-body'>${howWeConnectArrary[0]}</p>${list}`;
      } else {
        mainHowWeConnectDiv.innerHTML =  "<p>I do not need an alternative format</p>";
      }
  }

  var mainHowWeWriteDiv = document.getElementById('mainHowWeWriteDiv');
  var howWeWrite = sessionStorage.getItem('howWeWrite');
  var howWeWriteArrary;
  if (howWeWrite) {
    howWeWriteArrary = howWeWrite.split("<br>");
  }
 
  if (mainHowWeWriteDiv) {
    if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        mainHowWeWriteDiv.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        mainHowWeWriteDiv.innerHTML =  "<p>I do not need an alternative format</p>";
      }
  }

  

</script>

{% endblock %}