{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}


{% include "round-4/breadcrumbs/colleague-view/2c/british-sign-language.html" %}

{% endblock %}

{% block content %}


<form class="form" id="radioForm">

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What video format do you need?
      </h1>
    </legend>
    <div id="british-sign-language-hint" class="govuk-hint">
      This is not a live interpreting service. You will get a video of the content in British Sign Language, with subtitles.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item" onclick="set('dvd')">
      <input class="govuk-radios__input" id="british-sign-language" name="british-sign-language" type="radio" value="dvd">
      <label class="govuk-label govuk-radios__label" for="british-sign-language">
        DVD
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('mpeg-file-by-email')">
      <input class="govuk-radios__input" id="british-sign-language-2" name="british-sign-language" type="radio" value="18 point">
      <label class="govuk-label govuk-radios__label" for="british-sign-language-2">
        MPEG file by email
      </label>
    </div>        
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
    </button>
</div>
</div>

<script>
  var redirectUrl = "";
  function set(inputValue) {

    if (inputValue === "dvd") {
      sessionStorage.setItem('howWeWrite', 'British Sign Language video<br>DVD');
      redirectUrl = "confirm-your-changes";
    } else {
      sessionStorage.setItem('howWeWrite', 'British Sign Language video<br>MPEG file by email');
      redirectUrl = "what-is-your-email/mpeg-file-by-email";
    }
  }

  document.getElementById('radioForm').addEventListener('submit', function (event) {
    event.preventDefault();
   
    if (redirectUrl !== "") {
      window.location.href = redirectUrl;
    }
  });

</script>


{% endblock %}