{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "round-3/components/key-details.html" %}
{% endblock %}


{% block beforeContent %}


{% include "round-4/breadcrumbs/colleague-view/2c/colour-paper.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What colour paper do you need?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item" onclick="set('cream')">
      <input class="govuk-radios__input" id="colour-paper" name="colour-paper" type="radio" value="cream">
      <label class="govuk-label govuk-radios__label" for="colour-paper">
          Cream
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('pastel-blue')">
      <input class="govuk-radios__input" id="colour-paper-2" name="colour-paper" type="radio" value="pastel blue">
      <label class="govuk-label govuk-radios__label" for="colour-paper-2">
        Pastel blue
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('pastel-yellow')">
      <input class="govuk-radios__input" id="colour-paper-3" name="colour-paper" type="radio" value="pastel yellow">
      <label class="govuk-label govuk-radios__label" for="colour-paper-3">
        Pastel yellow
      </label>
    </div>    
    <div class="govuk-radios__item" onclick="set('pastel-pink')">
      <input class="govuk-radios__input" id="colour-paper-4" name="colour-paper" type="radio" value="pastel pink">
      <label class="govuk-label govuk-radios__label" for="colour-paper-4">
        Pastel pink
      </label>
    </div>          
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
    </button>
</div>
</div>

<script>
  var redirectUrl = "";
  function set(inputValue) {

    if (inputValue === "cream") {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour<br>Cream');
      redirectUrl = "confirm-your-changes";
    } else if (inputValue === "pastel-blue") {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour<br>Pastel blue');
      redirectUrl = "confirm-your-changes";
    } else if (inputValue === "pastel-yellow") {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour<br>Pastel yellow');
      redirectUrl = "confirm-your-changes";
    } else {
      sessionStorage.setItem('howWeWrite', 'Another print size, font or paper colour<br>Pastel pink');
      redirectUrl = "confirm-your-changes";
    }
  }

  document.getElementById('radioForm').addEventListener('submit', function (event) {
    event.preventDefault();
   
    if (redirectUrl !== "") {
      window.location.href = redirectUrl;
    }
  });

</script>


{% endblock %}