{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-5-parked/breadcrumbs/customer-view/1i/different-font.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What font do you need?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" onclick="set('arial')">
        <input class="govuk-radios__input" id="different-font" name="different-font" type="radio" value="arial">
        <label class="govuk-label govuk-radios__label" for="different-font">
          Arial
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('calibri')">
        <input class="govuk-radios__input" id="different-font-2" name="different-font" type="radio" value="calibri">
        <label class="govuk-label govuk-radios__label" for="different-font-2">
          Calibri
        </label>
      </div>
      <div class="govuk-radios__item" onclick="set('times-new-roman')">
        <input class="govuk-radios__input" id="different-font-5" name="different-font" type="radio"
          value="times-new-roman">
        <label class="govuk-label govuk-radios__label" for="different-font-5">
          Times New Roman
        </label>
      </div>
  </fieldset>
  <div class="govuk-!-padding-bottom-6"></div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </div>
  </div>

  <script>
    var howWeWriteArrary=[];

    function set(inputValue) {
      var howWeWrite = sessionStorage.getItem('howWeWrite');
      if (howWeWrite) {
        howWeWriteArrary = howWeWrite.split("<br>");
      }

      howWeWriteArrary.shift();

      if (inputValue === "arial") {
        howWeWriteArrary.push('Arial')
      } else if (inputValue === "calibri") {
        howWeWriteArrary.push('Calibri')
      } else {
        howWeWriteArrary.push('Times New Roman')
      }
    }

    document.getElementById('radioForm').addEventListener('submit', function (event) {
      event.preventDefault();

      sessionStorage.setItem('howWeWrite', `Letter with changes to font, paper colour or print size<br>${howWeWriteArrary.join('<br>')}`);

      const redirectUrls = JSON.parse(sessionStorage.getItem('redirectUrls'));
      if (redirectUrls.length > 0) {
        sessionStorage.setItem('redirectUrls', JSON.stringify(redirectUrls.slice(1)))
        window.location.href = redirectUrls[0];
      } else {
        window.location.href = "confirm-your-changes";
      }
    });

  </script>


  {% endblock %}