{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "round-5-parked/breadcrumbs/customer-view/1i/large-print.html" %}

{% endblock %}

{% block content %}

<form class="form" id="radioForm">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What size print do you need?
      </h1>
    </legend>
    <div id="large-print-hint" class="govuk-hint">
      Our letters are usually in 12 point Arial font.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item" onclick="set('16-point')">
      <input class="govuk-radios__input" id="large-print" name="large-print" type="radio" value="16 point">
      <label class="govuk-label govuk-radios__label" for="large-print">
          Large (16 point)
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('18-point')">
      <input class="govuk-radios__input" id="large-print-2" name="large-print" type="radio" value="18 point">
      <label class="govuk-label govuk-radios__label" for="large-print-2">
        Extra large (18 point)
      </label>
    </div>
    <div class="govuk-radios__item" onclick="set('24-point')">
      <input class="govuk-radios__input" id="large-print-3" name="large-print" type="radio" value="24 point">
      <label class="govuk-label govuk-radios__label" for="large-print-3">
        Giant (24 point)
      </label>
    </div>            
  </fieldset>
  
  <div class="govuk-!-padding-bottom-6"></div>


  <p class="govuk-body">
    <a href="/round-5-parked/customer-view/1i/alternative-formats/when-we-write-to-you/the-format-i-need-is-not-listed-here.html" class="govuk-link">The format I need is not listed here</a>
  </p>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
    </button>
</div>
</div>

<script>
  var redirectUrl = "";
  function set(inputValue) {

    if (inputValue === "16-point") {
      sessionStorage.setItem('howWeWrite', 'Large print letter<br>Large (16 point)');
      redirectUrl = "confirm-your-changes";
    } else if (inputValue === "18-point") {
      sessionStorage.setItem('howWeWrite', 'Large print letter<br>Extra large (18 point)');
      redirectUrl = "confirm-your-changes";
    } else {
      sessionStorage.setItem('howWeWrite', 'Large print letter<br>Giant (24 point)');
      redirectUrl = "confirm-your-changes";
    }
  }

  document.getElementById('radioForm').addEventListener('submit', function (event) {
    event.preventDefault();
   
    if (redirectUrl !== "") {
      window.location.href = redirectUrl;
    }
  });

</script>


{% endblock %}