{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/send-your-evidence.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!-- <div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div> -->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Upload your evidence
                </h1>
              </legend>

              <div class="govuk-!-padding-bottom-4"></div>

              <p>Check that the file you want to upload is in the correct file format before uploading. Files can be PNG, JPEG, PDF, DOC or DOCX. Make sure that the document is not password protected.</p>


              <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload-1">
                  Upload a file
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
              </div>

              {% from "govuk/components/button/macro.njk" import govukButton %}

              <div class="govuk-button-group">
                  {{ govukButton({
                      text: "Continue",
                      href: "/preferences-agent/agent-view/evidence/declaration.html",
                      preventDoubleClick: true
                      }) }}
            
                </div>           

</fieldset>

  </div>


{% endblock %}
