{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences-agent/breadcrumbs/agent-view/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want to cancel the address update?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Any changes you have made will not be saved if you select Yes.
        </div>
        </fieldset>

            <!-- <h2 class="govuk-heading-l" style="margin-bottom:50;">Do you want to cancel the update?</h2>
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div> -->
            
          <!-- <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Cancelling the update will delete all data you have input and none of the information will be saved after you click on 'Yes'.
            </strong>
          </div> -->

            <!-- <div class="govuk-button-group">
                {{ govukButton({
                    text: "Yes",
                    href: "/agent/current-address.html"
                    }) }}
              
                    {% from "govuk/components/button/macro.njk" import govukButton %}
                    {{ govukButton({
                      text: "No",
                      classes: "govuk-button--warning",
                      href: "javascript:history.back()"
                    }) }}
                
              </div> -->

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="abandon" type="radio" value="true">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="abandon" type="radio" value="false">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
              <br>
              <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
  
              <script>
                function check() {
                  console.log('in function')
                  var radios = document.getElementsByName("abandon");
                  var hasSelection = false
                  for (var i = 0, len = radios.length; i < len; i++) {
                    if (radios[i].checked) {
                      hasSelection = true;
                    }
                  }
                  if (!hasSelection) {
                    window.location.href = "/preferences-agent/agent-view/address-we-send-letters-to/error/abandon-journey.html";
                  } else {
                    if (document.getElementById("yes").checked) {
                      window.location.href = "../how-we-contact-you.html"
                    } else {
                      window.location.href = "javascript:history.back()"
                    }
                  }
                }
              </script>
                </div>
           
    </div>


{% endblock %}