{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Do we have the right home address?
        </h1>
      </legend>

      <p>Our records show your home address is:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body"><a href="#" style="focus:background-color:none;" class="govuk-link" id="obfuscatedAddress" onclick='testFunction(event, "obfuscatedAddress")'>** ***** *****<br>******<br>**** ***</a></p>
      </div>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Is this your home address?
        </h2>
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes" name="address" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no" name="address" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="no">
          No
        </label>
      </div>  
    </div>

    <div class="govuk-!-padding-bottom-4"></div>
    <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>

    </fieldset>
  </div>


<script>


function testFunction(event, id) {

event.preventDefault()

var dataToUnobfuscate = document.getElementById(id);

switch(id) {
  case "obfuscatedAddress":
    dataToUnobfuscate.innerHTML = "72 Guild Street<br>London<br>SE23 6FH"
    break;
    return;
}
}

  function check() {
    console.log('in function')
    var radios = document.getElementsByName("address");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/preferences-agent/agent-view/address-we-send-letters-to/error/home-address.html";
    } else {
      if (document.getElementById("no").checked) {
        window.location.href = "/preferences-agent/agent-view/address-we-send-letters-to/home-address-not-correct.html"
      } else {
        window.location.href = "/preferences-agent/agent-view/address-we-send-letters-to/home-address/confirm-your-changes.html"
      }
    }
  }
</script>
 </div>

</div>

{% endblock %}
