{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">December 2023 - January 2024</span>
        Round 1 UR prototypes
      </h1>

      <div class="govuk-inset-text">
        The iteration 5 user research was conducted by Leanne Forster, design and content by Jess Doyle and the interaction design flow built by David Doherty. The team was led by Andy Heath. They are happy to answer any questions you may have.
      </div>

      <p>Iterations based on GDS standards and <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1694096893103/abd7f1941052d4aae01e4e9ae329284ce9365ef9?sender=uce3c70a63d831a88364d6151">user testing round 14</a>.</p>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Customer view
    </h2>

  <div class="govuk-grid-row govuk-!-padding-3">
    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>

      <h2 class="govuk-heading-m">Iteration 5.0</h2>

      <table class="govuk-table">
  <p>New interaction designer to continue adding new scenarios to this design.</p>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5.0</th>
      <td class="govuk-table__cell">This journey includes scenarios for people who get benefits, State Pension, and both benefits and State Pension. It also includes scenarios for people who get paid via the Payment Exception Service, and signposting to help users update their bank details another way.
        </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
        design in progress 
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="/iteration-5/5-0/check-if-you-can-use-the-service.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
</table>


<div class="govuk-!-padding-bottom-4"></div>

<h2 class="govuk-heading-m">Iteration 5.1
</h2>

<table class="govuk-table">
<p>This is a partial journey of iteration 5.0. Designs include the happy path only for people who get benefits for user testing round 15.</p>

  <p>We're conducting an A/B test to understand what users think, feel and do about the 'are you expecting a payment in the next 6 working days?' question in the eligibility journey.</p>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5.1A</th>
      <td class="govuk-table__cell">This journey includes the question, 'are you expecting a payment in the next 6 working days?' Depending how the user answers, the content will change later in the journey to explain whether their payment will likely go into their new account, or the one on our records now (before the change).
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          design in progress 
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="/iteration-5-1/5-1a/check-if-you-can-use-the-service.html" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5.1B</th>
      <td class="govuk-table__cell">We've removed the question, 'are you expecting a payment in the next 6 working days?' Without this question, this journey only includes the path for people who do not have a payment due and the content explains that their next payment will most likely go into their new account.</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          design in progress 
        </strong>
    </td>
    <td class="govuk-table__cell"><a href="/iteration-5-1/5-1b/check-if-you-can-use-the-service.html" class="govuk-link">View</a></td> 
  </tbody>
</table>

</div>
</div>

{% endblock %}
