{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content" style="text-align: centre;">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Discovery
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
    </div>
  </div>

  <p>Preferences, Evidence and Notifications (PEN) is a series of components that will enable customers to select contact preferences and alternative formats for communications, upload evidence and check notifications related to claims. Customers will be able to go online to complete these tasks without the need to phone in or write to DWP.</p>
  <p>PEN will also allow agents to change contact preferences for customers across multiple benefit lines, check what evidence has been uploaded and what notifications customers have received.</p>

  <div class="govuk-inset-text">
    Initially, PEN will form part of Customer and Colleague View, but it will be designed and developed to be a reusable component that can be added to additional services in the future.  </div>
  <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-padding-3">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
        <div class="govuk-!-padding-bottom-2"></div>

        <div style="text-align: right;">
          <td class="govuk-table__cell">
            <strong class="govuk-tag">
              COMPLETE
            </strong>
          </td>
          </div>
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-m">November - December 2023</span>
          Round 1 UR prototypes
        </h1>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p>The aims of this round are:  </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Validate existing user needs related to preference setting, evidence upload and notifications for both customers and agents. </li>
            <li>Understand the as-is process for customers and agents related to preference setting, evidence upload and notifications, including current pain points. </li>
          </ul>
          <p></p>


          <div style="text-align: right;">
            <a href="round-1/menu">
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Continue and view"
          }) }}
          </a>
          </div>

      </div>
  
  </div>

  <div class="govuk-grid-row govuk-!-padding-3">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>

      <div style="text-align: right;">
        <td class="govuk-table__cell">
          <strong class="govuk-tag">
            COMPLETE
          </strong>
        </td>
        </div>
      <h1› class="govuk-heading-l">
        <span class="govuk-caption-m">December 2023 - January 2024</span>
        Customer View - placeholder prototype
      </h1>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p>The aims of this round are:  </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Validate eligibility journey plus high level understanding of change of bank details journey with a representative view of users.</li>
        </ul>
        <p></p>

        <div style="text-align: right;">
          <a href="/colleague-view-menu">
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue and view"
        }) }}
        </a>
        </div>

    </div>

  
</div>

<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">
  Prototypes of interest
</h2>

<p>The following prototypes have a direct relationship with what the PEN team are building. View the Active Prototypes page on Confluence or contact David Doherty for the passwords.</p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-grid-row govuk-!-padding-3">
          <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
            <div class="govuk-!-padding-bottom-2"></div>
        
            <h2 class="govuk-heading-m" style="color:#f3f2f1">Alternative Formats</h2>
        
            <p style="color:#f3f2f1">This section embeds the Alternative Formats prototype developed by the DWP Design System team. <a href="https://dwp-design-system-prototypes-c3bc40a5b766.herokuapp.com/patterns/alternative-formats/index" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
        </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-grid-row govuk-!-padding-3">
          <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
            <div class="govuk-!-padding-bottom-2"></div>
        
            <h2 class="govuk-heading-m" style="color:#f3f2f1">Customer View</h2>
        
            <p style="color:#f3f2f1">This section embeds the Customer View prototype developed by the Customer View team, part of Shared Channels. <a href="https://customer-view.herokuapp.com/prototype-admin/password?returnURL=%2F" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
        </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-grid-row govuk-!-padding-3">
          <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
            <div class="govuk-!-padding-bottom-2"></div>
        
            <h2 class="govuk-heading-m" style="color:#f3f2f1">Colleague View</h2>
        
            <p style="color:#f3f2f1">This section embeds the Colleague View prototype developed by the Colleague View team, part of Shared Channels. <a href="https://colleague-view.herokuapp.com/" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
        </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-grid-row govuk-!-padding-3">
          <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
            <div class="govuk-!-padding-bottom-2"></div>
        
            <h2 class="govuk-heading-m" style="color:#f3f2f1">Change perminent address</h2>
        
            <p style="color:#f3f2f1">This section embeds the Change perminent address prototype developed by the Citizen information team. <a href="https://prototype-residency-test.herokuapp.com/" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
        </div>
        </div>
      </div>
    </div>


{% endblock %}
