{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content" style="text-align: centre;">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Discovery
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
    </div>
  </div>

  <p>Preferences, Evidence and Notifications (PEN) is a series of components that will enable customers to select contact preferences and alternative formats for communications, upload evidence and check notifications related to claims. Customers will be able to go online to complete these tasks without the need to phone in or write to DWP.</p>
  <p>PEN will also allow agents to change contact preferences for customers across multiple benefit lines, check what evidence has been uploaded and what notifications customers have received.</p>

  <div class="govuk-inset-text">
    Initially, PEN will form part of Customer and Colleague View, but it will be designed and developed to be a reusable component that can be added to additional services in the future.  </div>
  <div class="govuk-width-container">

    <div class="govuk-!-padding-bottom-4"></div>

    <h2 class="govuk-heading-m">
      PEN prototypes
      </h2>
  
      <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
        <div class="govuk-!-padding-bottom-2"></div>
  
  
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Name</th>
        <th scope="col" class="govuk-table__header app-custom-class">Service</th>
        <th scope="col" class="govuk-table__header app-custom-class">Date</th>
        <th scope="col" class="govuk-table__header app-custom-class">Tags</th>
        <th scope="col" class="govuk-table__header app-custom-class">Status</th>
        <th scope="col" class="govuk-table__header app-custom-class">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Round 3 UR</th>
        <td class="govuk-table__cell">Preferences (PEN)</td>
        <td class="govuk-table__cell">November 2023 to December 2023</td>
        <td class="govuk-table__cell">1A to 1G, 2A to 2B</td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag">
            Complete
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="round-3/menu.html" class="govuk-link">View</a></td>
      </tr>
      
    </tbody>
      
    </tbody>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Round 4 UR</th>
        <td class="govuk-table__cell">Preferences (PEN)</td>
        <td class="govuk-table__cell">January 2024 to March 2024</td>
        <td class="govuk-table__cell">1H, 2C</td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue">
          UR TESTING
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="round-4/menu.html" class="govuk-link">View</a></td>
      </tr>
      
    </tbody>
  </table>
  </div>


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



  <h2 class="govuk-heading-m">
    Customer view prototype
    </h2>

    <p>In December 2023, the PEN team needed to temporarily assist with some designs for the Customer View team.</p>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Service</th>
      <th scope="col" class="govuk-table__header app-custom-class">Date</th>
      <th scope="col" class="govuk-table__header app-custom-class">Tags</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  </tbody>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Iterations 5 and 6</th>
      <td class="govuk-table__cell">Customer view</td>
      <td class="govuk-table__cell">December 2023</td>
      <td class="govuk-table__cell">5.0, 5.1A, 5.1B, 6.0</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag">
          Complete
      </strong>
    </td>
    <td class="govuk-table__cell"><a href="/colleague-view-menu.html" class="govuk-link">View</a></td>
    </tr>
    
</table>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h2 class="govuk-heading-m">
  Prototypes of interest
  </h2> 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
<div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
  <div class="govuk-!-padding-bottom-2"></div>

  <h2 class="govuk-heading-m" style="color:#f3f2f1">Customer View</h2>

  <p style="color:#f3f2f1">
    <a href="https://colleague-view.herokuapp.com/" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
</div>
</div>

<div class="govuk-grid-column-one-third">
  <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
    <div class="govuk-!-padding-bottom-2"></div>
  
    <h2 class="govuk-heading-m" style="color:#f3f2f1">Colleague View</h2>
  
    <p style="color:#f3f2f1">
      <a href="https://customer-view.herokuapp.com/" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
  </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:	#1d70b8">
      <div class="govuk-!-padding-bottom-2"></div>
    
      <h2 class="govuk-heading-m" style="color:#f3f2f1">Alternative Formats</h2>
    
      <p style="color:#f3f2f1">
        <a href="https://dwp-design-system-prototypes-c3bc40a5b766.herokuapp.com/patterns/alternative-formats/index" class="govuk-link govuk-link--inverse">View prototype</a>.</p>
    </div>
    </div>

</div>

<div class="govuk-!-padding-bottom-2"></div>

{% endblock %}
