{% extends "layouts/main.html" %}

{% set pageHeading = 'You cannot go back to the previous page' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <p class="govuk-body">
                You can:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="../sign-in">sign in</a></li>
                <li><a href="../reset-password/start">reset your password</a></li>
                <li><a href="../register/start">register with a different email address</a></li>
            </ul>

            <h2 class="govuk-heading-m">
                Problems registering
            <h2>
            <p class="govuk-body">
                You can <a href="">sign in with your security code and date of birth</a>. The security code is on the letter we sent you, it contains only numbers and it can be up to 11 digits.
            </p>
        
        </div>
    </div>
{% endblock %}
