{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Send your evidence
      </h1>

      <form class="form" action="oidv/sign-in" method="post">


    <p class="govuk-body">On this service, you can send us evidence of:</p>
<ul class="govuk-list govuk-list--bullet">
<li>your payslips</li>
<li>your bank statements</li>
</ul>



      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}


    </div>

  </div>

{% endblock %}
