{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Your notifications</h1>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Your notifications
      </h2>

      <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Benefit</th>
              <th scope="col" class="govuk-table__header">Notification</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">04/03/2025</th>
              <td class="govuk-table__cell">Carer’s Allowance</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Carer’s Allowance civil penalty decision</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row" style="background-color:#f3f2f1">
              <th scope="row" class="govuk-table__header">12/02/2025</th>
              <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your Employment and Support Allowance (ESA) Work Capability Assessment</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">29/01/2025</th>
              <td class="govuk-table__cell">Personal Independence Payment</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">I have looked at your claim and decided to award you Personal Independence Payment</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">23/01/2025</th>
              <td class="govuk-table__cell">Child Maintenance</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">	An important change to your child maintenance payments</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">07/01/2025</th>
              <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your ESA review</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">22/12/2024</th>
              <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your ESA review</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
            <tr class="govuk-table__row" style="background-color:#f3f2f1">
              <th scope="row" class="govuk-table__header">02/12/2024</th>
              <td class="govuk-table__cell">Child Maintenance</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">	The Annual Review of your child maintenance payments - our decision	Unread</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">26/11/2024</th>
              <td class="govuk-table__cell">Personal Independence Payment</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Changes in PIP law</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">18/09/2024</th>
              <td class="govuk-table__cell">Carer’s Allowance</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">	About your Carer’s Allowance Appeal</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">02/09/2024</th>
              <td class="govuk-table__cell">Personal Independence Payment</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your entitlement – We have looked again at your decision</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">01/08/2024</th>
              <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">About the claim for Employment and Support Allowance</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">31/05/2024</th>
              <td class="govuk-table__cell">Personal Independence Payment</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">We have looked at your decision</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">29/05/2024</th>
              <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Overpayment decision reconsideration</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row" style="background-color:#f3f2f1">
              <th scope="row" class="govuk-table__header">28/05/2024</th>
              <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your ESA review</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">07/03/2024</th>
              <td class="govuk-table__cell">Child Maintenance</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">An important change to your child maintenance payments</a></td>
              <td class="govuk-table__cell">Read</td>
            </tr>
            <tr class="govuk-table__row" style="background-color:#f3f2f1">
              <th scope="row" class="govuk-table__header">07/03/2024</th>
              <td class="govuk-table__cell">Carer’s Allowance</td>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">	About your Carer’s Allowance Appeal</a></td>
              <td class="govuk-table__cell">Unread</td>
            </tr>
          </tbody>
        </table>

    <div class="govuk-!-padding-bottom-4"></div>

    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
        </li>
    
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 3">2</a></li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 3">3</a></li>
    
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>15</b> of <b>45</b> results</p>
    </nav>
    

  </div>


      </div>



      


    
  </div>
</div>



  </div>
</div>


{% endblock %}
