{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your notifications</h1>

        <p>Email and text message notifications currently cannot be displayed.</p>

        <p>You have unread notifications&nbsp<span id="notifications" class="moj-notification-badge">2</span></p>

        <div class="govuk-!-padding-bottom-2"></div>
      
      </div>

    </div>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds main-content">

        <div>
      
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Benefit</th>
                <th scope="col" class="govuk-table__header">Notification</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">24/02/2025</th>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Long name 12345678901234567890 1234567890 1234567890 1234567890 1234567890 1234567890 1234567890</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">12/02/2025</th>
                <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">
                  Unread
                </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">11/02/2025</th>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">30/01/2025</th>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">26/01/2025</th>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">15/01/2025</th>
                <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">
                  Unread
                </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">10/01/2025</th>
                <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">05/01/2025</th>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">24/12/2024</th>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">13/12/2024</th>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">12/12/2024</th>
                <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">24/11/2024</th>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">02/11/2024</th>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">05/09/2024</th>
                <td class="govuk-table__cell">Employment Support Allowance (ESA)</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">21/08/2024</th>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">[content]</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong></td>
              </tr>
            </tbody>
          </table>
  
      <div class="govuk-!-padding-bottom-4"></div>
  
      <nav class="moj-pagination" aria-label="Pagination navigation">
  
        <ul class="moj-pagination__list">
          <li class="moj-pagination__item  moj-pagination__item--prev">
          </li>
      
          <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>
  
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 1 of 3">2</a></li>
      
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3 of 3">3</a></li>
      
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
          </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>15</b> of <b>45</b> results</p>
      </nav>
  
    </div>


      </div>

      <div class="govuk-grid-column-one-third sidebar">

        <div class="moj-filter cv-filter" style="background-color:#f3f2f1">
          <div class="moj-filter__content">
            <!-- filter options -->
            <div class="moj-filter__options">
              <h2 class="govuk-heading-m">Filter</h2>

                <!-- filter by read status -->
                <div class="govuk-form-group">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Read status
                </legend> 
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedRead" name="changedRead" type="radio" value="all">
                        <label class="govuk-label govuk-radios__label" for="changedRead">
                          All
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedRead" name="changedRead" type="radio" value="read">
                        <label class="govuk-label govuk-radios__label" for="changedRead">
                          Read
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedRead" name="changedRead" type="radio" value="unread">
                        <label class="govuk-label govuk-radios__label" for="changedRead">
                          Unread
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>

              <div class="moj-datepicker" data-module="moj-date-picker">

                <div class="govuk-form-group">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Start date
                </legend> 
              
                  <div id="date-hint" class="govuk-hint">
                    For example, 17/5/2024.
                  </div>
              
                  <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off">
              
                </div>
              
              </div>
              
              <div class="govuk-!-padding-bottom-6"></div>

                <!-- filter by benefits -->
                <div class="govuk-form-group">
                  {% set benefitName = data['benefit'] %}
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Benefit
                    </legend> 
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="Carers Allowance">
                        <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                          Carer's Allowance
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance">
                        <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                          Employment and Support Allowance
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="Personal Independence Payment">
                        <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                          Personal Independence Payment
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
                <div class="govuk-!-padding-bottom-2"></div>

              <!-- apply filter button -->
                <button type="submit" class="govuk-button" data-module="govuk-button" id="apply-filter-btn">
                  Apply filters
                </button>
            </div>
          </div>


      </div>

    </div>
  </main>
</div>

<style>
  @media (max-width: 960px) { /* Adjust breakpoint as needed */
    .sidebar {
      width: 100%;
      margin-top: 20px: /* Adds spacing when stacked */
    }
  }
</style>

{% endblock %}