{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Your notifications</h1>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Your notifications
      </h2>
          <div class="govuk-grid">  

    


      <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">





          <div class="moj-filter-layout__content">
        
        
            <div class="moj-scrollable-pane">
              <table class="govuk-table">
        
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
        
                    <th scope="col" class="govuk-table__header">Reference</th>
        
                    <th scope="col" class="govuk-table__header">Person</th>
        
                    <th scope="col" class="govuk-table__header">Colour</th>
        
                    <th scope="col" class="govuk-table__header">Status</th>
        
                    <th scope="col" class="govuk-table__header">Date of last event</th>
        
                  </tr>
                </thead>
        
                <tbody class="govuk-table__body">
        
                  <tr class="govuk-table__row">
        
                    <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>
        
                    <td class="govuk-table__cell">John Smith</td>
        
                    <td class="govuk-table__cell">Blue</td>
        
                    <td class="govuk-table__cell">Complete</td>
        
                    <td class="govuk-table__cell">25 Jan 2018</td>
        
                  </tr>
      
                </tbody>
                
              </table>
        
            </div>
        

    

    <div class="govuk-!-padding-bottom-4"></div>

    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
        </li>
    
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 3">2</a></li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 3">3</a></li>
    
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>15</b> of <b>45</b> results</p>
    </nav>
    

  </div>


      </div>



      

    </div>

    
  </div>
</div>



  </div>
</div>


{% endblock %}
