{% extends "layouts/main.html" %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/when-we-speak-to-you.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your notifications</h1>

        <p>This service will currently only show your letters from DWP. Email and text message notifications will be added in the future. </p>

        <p>You have unread notifications&nbsp<span id="notifications" class="moj-notification-badge">2</span></p>

        <div class="govuk-!-padding-bottom-2"></div>
      
      </div>
    </div>

    <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">

      <div class="govuk-grid-row">

      <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Carer's Allowance</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Notification</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">04/03/2025</th>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Carer’s Allowance civil penalty decision</a></td>
              <td class="govuk-table__cell" data-status="read">
                <strong class="govuk-tag govuk-tag--grey">
                Read
              </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">18/09/2024</th>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">About your Carer’s Allowance Appeal</a></td>
              <td class="govuk-table__cell" data-status="read">
                <strong class="govuk-tag govuk-tag--grey">
                Read
              </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">12/03/2024</th>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">About your Carer’s Allowance Appeal</a></td>
              <td class="govuk-table__cell" data-status="read">
                <strong class="govuk-tag govuk-tag--grey">
                Read
              </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">18/01/2024</th>
              <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Carer’s Allowance civil penalty decision</a></td>
              <td class="govuk-table__cell" data-status="read">
                <strong class="govuk-tag govuk-tag--grey">
                Read
              </strong>
              </td>
            </tr>
          </tbody>
        </table>

    <div class="govuk-!-padding-bottom-4"></div>

    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
        </li>
    
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 1 of 3">2</a></li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3 of 3">3</a></li>
    
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>4</b> of <b>12</b> results</p>
    </nav>
    

    

  </div>

  <div class="govuk-!-padding-bottom-8"></div>

  <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Child Maintenance</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Notification</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18/09/2024</th>
          <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">About your Carer’s Allowance Appeal</a></td>
          <td class="govuk-table__cell" data-status="read">
            <strong class="govuk-tag govuk-tag--grey">
            Read
          </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18/09/2023</th>
          <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">About your Carer’s Allowance Appeal</a></td>
          <td class="govuk-table__cell" data-status="unread">
            <strong class="govuk-tag govuk-tag--red">
            Unread
          </strong>
          </td>
        </tr>

      </tbody>
    </table>

<div class="govuk-!-padding-bottom-4"></div>


</div>


      </div>

      <div class="govuk-!-padding-bottom-8"></div>


      <div class="govuk-grid-row">

        <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">
  
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Employment Support Allowance (ESA)</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Notification</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">12/02/2025</th>
                <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your Employment and Support Allowance (ESA) Work Capability Assessment</a></td>
                <td class="govuk-table__cell" data-status="read">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">07/01/2025</th>
                <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your ESA review</a></td>
                <td class="govuk-table__cell" data-status="read">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">01/08/2024</th>
                <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">About the claim for Employment and Support Allowance</a></td>
                <td class="govuk-table__cell" data-status="read">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">29/05/2024</th>
                <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Overpayment decision reconsideration</a></td>
                <td class="govuk-table__cell" data-status="read">
                  <strong class="govuk-tag govuk-tag--grey">
                  Read
                </strong>
                </td>
              </tr>
            </tbody>
          </table>
  
      <div class="govuk-!-padding-bottom-4"></div>
  
      <nav class="moj-pagination" aria-label="Pagination navigation">
  
        <ul class="moj-pagination__list">
          <li class="moj-pagination__item  moj-pagination__item--prev">
          </li>
      
          <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>
  
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 1 of 3">2</a></li>
      
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3 of 3">3</a></li>
      
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
          </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>4</b> of <b>12</b> results</p>
      </nav>
      
  
      
  
    </div>
  
  
        </div>



        <div class="govuk-!-padding-bottom-8"></div>


        <div class="govuk-grid-row">
  
          <div class="width-container govuk-!-padding-4" style="border-radius:0px; background-color:#ffffff; border: 2px solid #f3f2f1">
    
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence Payment</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date</th>
                  <th scope="col" class="govuk-table__header">Notification</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">29/01/2025</th>
                  <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">I have looked at your claim and decided to award you Personal Independence Payment</a></td>
                  <td class="govuk-table__cell" data-status="read">
                    <strong class="govuk-tag govuk-tag--grey">
                    Read
                  </strong>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">26/11/2024</th>
                  <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Changes in PIP law</a></td>
                  <td class="govuk-table__cell" data-status="unread">
                    <strong class="govuk-tag govuk-tag--red">
                    Unread
                  </strong>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">02/09/2024</th>
                  <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">Your entitlement – We have looked again at your decision</a></td>
                  <td class="govuk-table__cell" data-status="read">
                    <strong class="govuk-tag govuk-tag--grey">
                    Read
                  </strong>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">31/05/2024</th>
                  <td class="govuk-table__cell"><a href="messages/round-1" class="govuk-link">We have looked at your decision</a></td>
                  <td class="govuk-table__cell" data-status="read">
                    <strong class="govuk-tag govuk-tag--grey">
                    Read
                  </strong>
                  </td>
                </tr>
              </tbody>
            </table>
    
        <div class="govuk-!-padding-bottom-4"></div>
    
        <nav class="moj-pagination" aria-label="Pagination navigation">
    
          <ul class="moj-pagination__list">
            <li class="moj-pagination__item  moj-pagination__item--prev">
            </li>
        
            <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 3" aria-current="page">1</li>
    
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 1 of 3">2</a></li>
        
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3 of 3">3</a></li>
        
            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
            </li>
          </ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>4</b> of <b>12</b> results</p>
        </nav>
        
    
        
    
      </div>
    
    
          </div>
  
  


        </div>
      </div>

  </div>
</div>
  </div>


  <style>
    @media (max-width: 960px) { /* Adjust breakpoint as needed */
      .sidebar {
        width: 100%;
        margin-top: 20px; /* Adds spacing when stacked */
      }
      .leftside {
        width: 100%;
        margin-left: 40px: /* Adds spacing when stacked */
      }
    }
  
    .govuk-table__cell {
      padding-top: 18px;
      padding-bottom: 20px;
    }
  
    .govuk-table__header {
      padding-top: 18px;
      padding-bottom: 20px;
    }
  
    #apply-filter {
      width: 100%;
      display: block;
    }

    .centered-link {
      text-align: center;
      margin-top: 20px;
    }
  
  </style>

<script>


{% endblock %}