{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% include "preferences/breadcrumbs/customer-view/address-we-send-letters-to.html" %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">You have selected a Job Centre address</h1>
  <p class="govuk-body">
    You have asked us to send letters to this Job Centre address:</p>

    <div class="govuk-inset-text">
      20 Benalder Street<br>
      Glasgow<br>
      G11 6QN
    </div> 

    <p>Job Centre staff can open your letters on your behalf.</p>

    <p>If you do not want Job Centre staff to open your letters, you will need to choose a different address.</p>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Do you want us to send letters to this Job Centre address?
          </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Yes, use this address
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              No, I will choose a different address
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-2"></div>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      href: "#"
    }) }}
  </div>
</div>


{% endblock %}