{% extends "layouts/main.html" %}

{% block pageTitle %}
  Password reset - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Password reset"
            }) }}

            <p>We have sent you an email to confirm your password has been reset.</p>

            <p>You can now sign in with your new password.</p>

            {{ govukButton({
                text: "Sign in",
                href: "../sign-in.html"
            }) }}
        </div>
    </div>
{% endblock %}

