{% extends "layouts/main.html" %}

{% block pageTitle %}
    Enter the email address you use to sign in - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter the email address you use to sign in</h1>
                <p>We will send a security code to this email address.</p>
                    <form action="email-code" method="post" class="form">

                        {{ govukInput({
                            label: {
                            text: "Email address",
                            classes: "govuk-label",
                            isPageHeading: true
                
                            },
                            id: "reset-password-email-address",
                            name: "reset-password-email-address",
                            classes: "govuk-!-width-full-width"
                        }) }}

                        <p><a href="../account-recovery/start-new-email" class="govuk-link">I do not have access to this email address anymore</a></p>
                        
                        {{ govukButton({
                            text: "Continue"
                        }) }}

                    </form>
        </div>
    </div>
{% endblock %}
