{% extends "layouts/main.html" %}

{% block pageTitle %}
    Send me a new text message - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Send me a new text message</h1>

            <p>We will send you a text message with a new security code.</p>
            
            <p>If you have not received a text after several attempts try again later.</p>

            {{ govukButton({
                text: "Continue",
                href: "text-code.html"
            }) }}

            <p><a href="../account-recovery/start-new-phone" class="govuk-link">I cannot access the mobile phone number I use to sign in</a></p>
        </div>
    </div>
{% endblock %}
