{% extends "layouts/main.html" %}

{% set pageHeading = 'Check your phone' %}

{% block pageTitle %}
    Error: {{pageHeading}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
    
    
{% endblock %}

{% block content %}

{% if data['reset-text-code'] == '221645' %}
<script>
    window.location.href = 'password'
</script>
{% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Security code does not match the one we sent you",
                href: "#email-security-code"
                }
            ]
            }) }}
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <p class="govuk-body">
                We have sent you a text message with your security code.
            </p>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>


            <form action="text-code-check" method="post" class="form">
                <div class="govuk-form-group govuk-form-group--error govuk-!-margin-top-6">
                    <label class="govuk-label" for="reset-text-code">
                        Security code
                    </label>
                    <span id="security-code-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Security code does not match the one we sent you
                    </span>
                    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="reset-text-code" name="reset-text-code" type="text" value="{{ data['reset-text-code'] }}">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-text">I did not get a security code</a></p>

            <p><a href="../account-recovery/access" class="govuk-link">I do not have access to the mobile phone number I use to sign in</a></p>
        </div>
    </div>
{% endblock %}
