{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Check if you can use this service
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check if you can change your bank details using this service
      </h1>

      <p>Before you sign in, you need to answer questions to check if you can change your bank details for your benefits online.</p>

      <h2 class="govuk-heading-m">If you’re using this service for the first time</h2>

      <p>You will need to register if you have not used this service before.</p>

      <p>To register, you’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
        <li>your National Insurance number</li>
      </ul>

      <p>We’ll ask you about 2 types of identification to help protect you from fraud.</p>

      <p>You may be asked about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>valid UK passport</li>
        <li>payslips or P60</li>
        <li>Self Assessment</li>
        <li>information about tax credits</li>
        <li>details of your bank accounts, loans, mortgages or credit agreements</li>
      </ul>

      <h2 class="govuk-heading-m">If you have used this service before</h2>

      <p>You’ll need the email address, mobile phone and password you used to register.</p>

      <p class="govuk-body">
      <a href="#" class="govuk-link">I don’t have any of these.</a>
      </p>

      {{ govukButton({
        text: "Start now",
        href: "how-did-you-find-out-about-this-service",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
