{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Based on your answers, you can use this service
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Based on your answers, you can use this service
      </h1>

      <h2 class="govuk-heading-m">
        Your next payment
      </h2>

      <p>You told us that you are expecting a payment. This means your next payment could be on its way to your old account.</p>
      
      <p>If you can still access your old bank account, you may wish to continue to change your bank details using this service.</p>

      <h3 class="govuk-heading-s">
        If you cannot access your old account
      </h3>

      <p>If you do not have access to your old bank account, contact your benefit office to change your bank details.</p>

      <div class="govuk-!-padding-bottom-4"></div>

      <form class="form" action="/iteration-6/check-you-can-change-bank-details/keeping-information-secure" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "you-can-use-this-service-detailed",
          fieldset: {
            legend: {
              text: "Do you want to change your bank details using this service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, continue using this service"
            },
            {
              value: "no",
              text: "No, contact my benefit office"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
