{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block header %}

<section class="dwp-key-details-bar" aria-label="Key details">
  <div class=" govuk-width-container dwp-key-details-bar__key-details">
    <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__primary">
          Christopher Fox
      </dd>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dd class="dwp-key-details-bar__secondary">
        QQ123456Q
      </dd>
      <dt class="govuk-visually-hidden">Claim status:</dt>
      <dd class="govuk-table__cell dwp-key-details-bar__status govuk-!-margin-0 govuk-!-padding-0">
        <form action="#" method="post">
          <!-- <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-module="govuk-button">
            Complete phone call
          </button> -->
          <button class="govuk-button govuk-button--inverse govuk-!-margin-bottom-0" data-module="govuk-button" onclick="global_var['a']['b']=1;">
            Complete phone call
          </button>
        </form>
    </dd>
  </dl>
    <dl class="dwp-key-details-bar__bottom-block">
      <dt class="govuk-visually-hidden">What type of engaement it is</dt>
      <dd>
        Incoming telephone call   with
      </dd>
      <dt class="govuk-visually-hidden">Who is the engagement with</dt>
      <dd>
        Christopher Fox
        (Customer)
      </dd>
    </dl>
  </div>
</section>

{% block pageScripts %}
  <script src="/public/javascripts/components/internal-services-header-navigation/v1.js"></script>
{% endblock %}
{% endblock %}

{% block content %}

{% from "internal-service-header/macro.njk" import dwpHeader %}


{% endblock %}
